#community {
  font-size: 1.25rem;
  padding: 3em 0;
  border-top: 1px solid $gray;
  min-height: 100vh;

  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: $dark-gray;
    margin-bottom: 2em;
  }
  
  h3 {
    font-size: 1.35rem;
    background: $logo-yellow;
    display: inline-block;
    padding: .35em .5em;
  }
  
  .card {
    position: relative;
  }
  
  .card img {
    height: 250px;
    object-fit: cover;
  }

  .card-text {
    font-size: 1rem;
  }
  
  .date {
    position: absolute;
    display: inline-block;
    padding: .35em;
    background: $dark;
    color: white;
    font-size: .75rem;
  }
}

.communityModal h4 {
  font-family: 'Alfa Slab One', sans-serif;
}

.communityModal p {
  font-size: 1.1rem;
  
  .link {
    color: black;
    padding: 0 .3em;
    background: $logo-yellow;
    line-height: .5;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.communityModal img {
  width: 95%;
}