#map {
  height: 45vh;
}

#contact {
  font-size: 1.25rem;
  padding: 3em 0;
  border-top: 1px solid $gray;
  
  .phone-link {
    font-weight: 600;
    color: $extreme-dark-gray;
    text-decoration: none;
    
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  
  p {
    margin-bottom: 0;
  }
  
  .form-control {
    font-size: 1.25rem;
  }
  
}

.fa-spinner, .submitMessage, #manualDownloadLink {
  display: none;
}