#map {
  height: 45vh;
}

#contact {
  font-size: 1.25rem;
  padding: 3em 0;
  border-top: 1px solid $gray;
  
  .phone-link {
    color: $dark-gray;
    
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  
  p {
    margin-bottom: 0;
  }
  
  .form-control {
    font-size: 1.25rem;
  }
  
}


.fa-spinner, .submitMessage {
  display: none;
}