#tradeshows {
  font-size: 1.25rem;
  padding: 3em 0;
  border-top: 1px solid $gray;
  min-height: 100vh;

  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: $dark-gray;
  }

  h3 {
    font-size: 1.35rem;
    text-decoration: underline;
    margin-bottom: 1.5em;
  }

  .tradeshow-items {
    img {
      max-height: 125px;

      @include mq600 {
        max-width: 200px;
      }
    }
  }

  #attendingShows {
    scroll-margin-top: 150px;
  }

  #industryShows {
    scroll-margin-top: 175px;
  }

  .attending-status {
    font-size: 1rem;
    margin-top: 0;
    padding: 0.25em 0.5em;
    color: white;
    display: inline-block;
  }

  .attending {
    background: $dark-gray;
  }

  .not-attending {
    background: #dc3545;
  }

  .industry-events-title {
    margin-top: 4em;
  }

  .tradeshow-link {
    display: inline-block;
    color: $dark-gray;
    font-weight: 600;
    font-size: 1.35rem;
    line-height: 1.25;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .tradeshow-social {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }
}
