  <!-- footer -->
  <footer id="footer">
    <div class="container">
      
      <div class="row text-center">
        <div class="col-md-6 mx-auto">
          <h3>Stay Connected</h3>
          <p class="join">Join our newsletter mailing list</p>
          <form action="" method="post">
            <div class="input-group input-group-lg">
              <input type="email" class="form-control" placeholder="Email Address" aria-label="Email Address" name="email" id="email" required>
              <div class="input-group-append">
                <button class="btn btn-outline-success" type="submit">Sign-Up</button>
              </div>
            </div>
          </form>
          <div class="social">
            <ul class="list-inline mt-4">
              <a href="https://business.facebook.com/TransTechSystems" class="text-dark social" target="_blank">
                <li class="list-inline-item mr-1 facebook"><i class="fab fa-facebook-square fa-2x"></i></li>
              </a>
              <a href="https://twitter.com/TransTechSystem" class="text-dark social" target="_blank">
                <li class="list-inline-item mr-1 twitter"><i class="fab fa-twitter-square fa-2x"></i></li>
              </a>
              <a href="https://plus.google.com/+Transtechsystemsinc" class="text-dark social" target="_blank">
                <li class="list-inline-item mr-1 google"><i class="fab fa-google-plus-square fa-2x"></i></li>
              </a>
              <a href="https://www.instagram.com/transtechsystems" class="text-dark social" target="_blank">
                <li class="list-inline-item mr-1 instagram"><i class="fab fa-instagram fa-2x"></i></li>
              </a>
              <a href="https://www.youtube.com/user/TransTechSystems" class="text-dark social" target="_blank">
                <li class="list-inline-item mr-1 youtube"><i class="fab fa-youtube-square fa-2x"></i></li>
              </a>
              <a href="https://vimeo.com/transtechsystems" class="text-dark social" target="_blank">
                <li class="list-inline-item mr-1 vimeo"><i class="fab fa-vimeo-square fa-2x"></i></li>
              </a>
              <a href="https://www.linkedin.com/company/transtech-systems-incorporated" class="text-dark social" target="_blank">
                <li class="list-inline-item mr-1 linked"><i class="fab fa-linkedin fa-2x"></i></li>
              </a>
            </ul>            
          </div>
        </div>
      </div><!-- /row - social -->
      
      <div class="row text-center mt-2">
        <div class="col">
          <p class="address mb-0"><span>TransTech Systems, Inc.</span> / 900 Albany Shaker Rd. Suite 2, Latham, NY 12110 / <a class="phone-link" href="tel:+5183705558">518-370-5558</a> / <a class="phone-link" href="tel:+18007246306">1-800-724-6306</a> / <a class="phone-link" href="mailto:sales@transtechsys.com?subject=Sales Request">Email Sales</a></p>
          <p class="copy">&copy; 2018 TransTech Systems, Inc.</p>
        </div>
      </div>
      
    </div>
  </footer>
  <!-- /footer -->
  
  <!-- Scroll to top -->
  <button class="btn btn-outline-dark" id="scrollBtn"><i class="fas fa-angle-up fa-2x"></i></button>
  
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="js/formsHandling.js"></script>
  <script src="js/scripts.js"></script>
  
</body>
</html>