  <!-- footer -->
  <footer id="footer">
    <div class="container">
      
      <div class="row text-center">
        <div class="col-md-6 mx-auto">
          <h3>Stay Connected</h3>
          <hr>
          <div class="social">
            <ul class="list-inline mt-4">
              
              <li class="list-inline-item mr-1">
                <a href="https://business.facebook.com/TransTechSystems" class="text-dark facebook" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
              </li>
             
              <li class="list-inline-item mr-1">
                <a href="https://twitter.com/TransTechSystem" class="text-dark twitter" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
              </li>
              
              <li class="list-inline-item mr-1">
                <a href="https://plus.google.com/+Transtechsystemsinc" class="text-dark google" target="_blank"><i class="fab fa-google-plus-square fa-2x"></i></a>
              </li>
              
              <li class="list-inline-item mr-1">
                <a href="https://www.instagram.com/transtechsystems" class="text-dark instagram" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
              </li>
              
              <li class="list-inline-item mr-1">
                <a href="https://www.youtube.com/user/TransTechSystems" class="text-dark youtube" target="_blank"><i class="fab fa-youtube-square fa-2x"></i></a>
              </li>
            
              <li class="list-inline-item mr-1">
                <a href="https://vimeo.com/transtechsystems" class="text-dark vimeo" target="_blank"><i class="fab fa-vimeo-square fa-2x"></i></a>
              </li>
              
              <li class="list-inline-item mr-1 social">
                <a href="https://www.linkedin.com/company/transtech-systems-incorporated" class="text-dark linked" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
              </li>

            </ul>           
          </div>
        </div>
      </div><!-- /row - social -->
      
      <div class="row text-center mt-2">
        <div class="col">
          <p class="address mb-0"><span>TransTech Systems, Inc.</span> / 900 Albany Shaker Rd. Suite 2, Latham, NY 12110 / <a class="phone-link" href="tel:+5183705558">518-370-5558</a> / <a class="phone-link" href="tel:+18007246306">1-800-724-6306</a> / <a class="phone-link" href="mailto:sales@transtechsys.com?subject=Sales%20Request">Email Sales</a></p>
          <p class="copy">&copy; 2018 TransTech Systems, Inc.</p>
        </div>
      </div>
      
      <div class="row text-center mt-2">
        <div class="col-md-6 mx-auto">
          <ul class="list-inline">
            <li class="list-inline-item mr-3">
              <a class="secondary-links" href="/privacy">Privacy</a>
            </li>
          </ul>        
        </div>
      </div>
      
    </div>
  </footer>
  <!-- /footer -->
  
  
  <!-- Awards -->
  <section id="awards" class="py-4">
    <div class="container">
      
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        
        <div class="mx-3 my-2">
          <img src="./img/tech-valley.png" alt="Tech Valley Logo" data-toggle="tooltip" data-placement="top" title="Tech Valley Global Business Network Award">
        </div>
        
        <div class="mx-3 my-2">
          <a href="https://www.forconstructionpros.com/asphalt/article/11457751/asphalt-contractors-top-30-editors-choice-products" target="_blank">
            <img src="./img/top30-2014.png" alt="Asphalt Contractor Top 30 Logo" data-toggle="tooltip" data-placement="top" title="2014 Asphalt Contractor Top 30 Products Award">
          </a>
        </div>
        
        <div class="mx-3 my-2">
          <a href="https://www.forconstructionpros.com/asphalt/press-release/12062268/ac-business-media-asphalt-contractormagazine-namestop-30-editors-choiceproducts" target="_blank">
            <img src="./img/top30-2015.png" alt="Asphalt Contractor Top 30 Logo" data-toggle="tooltip" data-placement="top" title="2015 Asphalt Contractor Top 30 Products Award">
          </a>
        </div>
        
        <div class="mx-3 my-2">
          <a href="http://www.ceg.org/" target="_blank">
            <img src="./img/ceg-award.png" alt="Center for Economic Growth Award Logo" data-toggle="tooltip" data-placement="top" title="CEG Technology Entrepreneurship Award">
          </a>
        </div>
        
        <div class="mx-3 my-2">
          <a href="http://www.cif.org/nova-index.php" target="_blank">
            <img src="./img/nova-award.png" alt="Nova Award Logo" data-toggle="tooltip" data-placement="top" title="Construction Innovation Forum Nova Award">
          </a>
        </div>
        
        <div class="mx-3 my-2">
          <img src="./img/top-rollout.png" alt="Equipment World Top Rollout Award" data-toggle="tooltip" data-placement="top" title="Equipment World Top Rollout Award">
        </div>
        
        <div class="mx-3 my-2">
          <a href="https://www.bizjournals.com/albany" target="_blank">
            <img src="./img/business-review.png" alt="Albany Business Review" data-toggle="tooltip" data-placement="top" title="Small Company of the Year Award">
          </a>
        </div>
        
      </div>
      
    </div>
  </section>
  <!-- /awards -->
  
  
  <!-- Scroll to top -->
  <button class="btn btn-outline-dark" id="scrollBtn"><i class="fas fa-angle-up fa-2x"></i></button>
  
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="js/formsHandling.js"></script>
  <script src="js/scripts.js"></script>
  <script>
    //Product lighbox options
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'fitImagesInViewport': true
    });
  </script>
  
</body>
</html>