<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="<%= typeof metaTitle!='undefined' ? metaTitle : 'Leaders in Non-Nuclear asphalt and soil density gauge technology. Manufacturer of the Non-Nuclear PQI Asphalt Density Gauge, Revolutionizing the transportation industry providing advanced technological solutions.' %>">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One%7CPrompt:200,300,400,600,700,900" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/all.min.css" type="text/css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <!-- Lightbox2 -->
    <link rel="stylesheet" href="css/lightbox.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title><%= typeof title!='undefined' ? title : 'TransTech Systems' %></title>
</head>
<body>
  
  <!-- top bar -->
  <div class="top-bar py-3">
    <div class="container">
      <div class="row">
        
        <div class="col-md-6 text-center text-md-left">
          <p class="mb-0">~ Innovation Since 1994 ~</p>
        </div>
        
        <div class="col-md-6 text-center text-md-right">
          <p class="mb-0"><i class="fas fa-phone-square" data-fa-transform="flip-h"></i> <a class="header-link" href="tel:+5183705558">518-370-5558</a> / <a class="header-link" href="mailto:sales@transtechsys.com?subject=Sales%20Request"><i class="fas fa-envelope"></i> Sales</a></p>
        </div>
        
      </div>
    </div>
  </div>
  <!-- /top bar -->
  
  
  
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container py-1">
      <a class="navbar-brand" href="/">
        <img src="img/nav-logo.png" alt="TransTech Systems Icon Logo" width="30"> TransTech<span>Systems</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/pqi380">PQI 380 - Non-Nuclear Asphalt Density Gauge</a>
              <a class="dropdown-item" href="/sdg200">SDG 200 - Non-Nuclear Soil Density Gauge</a>
              <a class="dropdown-item" href="/nwjm">NWJM - Notched Wedge Joint Maker</a>
              <a class="dropdown-item" href="/swm">SWM - Shoulder Wedge Maker</a>
              <a class="dropdown-item" href="/pts3000">PTS 3000 - Pavement Temperature Sentry</a>
              <a class="dropdown-item" href="/pqi301">PQI 301 - Non-Nuclear Asphalt Density Gauge</a>
              <div class="dropdown-divider my-0"></div>
              <a class="dropdown-item" href="legacyProducts">Legacy Products</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/corporateNews">Corporate</a>
              <a class="dropdown-item" href="/newsletter">Newsletter</a>
              <a class="dropdown-item" href="#">New Product Development</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/tradeshows">Tradeshows</a>
              <a class="dropdown-item" href="/community">In the Community</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="/productManuals">Product Manuals</a>
              <a class="dropdown-item" href="/training">Training</a>
              <a class="dropdown-item redDropItem" href="https://www.youtube.com/playlist?list=PLICqvSHKaFbKx9ldJyIhKRFCIQbCVCSAI" target="_blank"><i class="fab fa-youtube"></i> Youtube Training Videos</a>
              <a class="dropdown-item" href="/repairRequest"><i class="fas fa-wrench fa-flip-horizontal"></i> Product Repair/Calibration Request</a>
              <a class="dropdown-item" href="/productRegistration">Product Warranty Registration</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="/contactCorporate">Corporate Office</a>
              <a class="dropdown-item" href="/distributorsUnitedStates">United States Distributors</a>
              <a class="dropdown-item" href="/distributorsInternational">International Distributors</a>
              <a class="dropdown-item" href="/salesRequest">Product Sales Request</a>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <!-- /navbar -->