<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="TransTech Systems Europe Homepage">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/all.min.css" type="text/css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/europeStyle.css">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <title>TransTech Systems Europe</title>
</head>

<body>

  <% include ./partials/header %>

  <section id="jumbo" class="mt-5">
    <div class="container">
      <img class="img-fluid" src="/img/europemain.jpg" alt="Asphalt Paving in Europe">
    </div>
  </section>

  <section id="title" class="my-5">
    <div class="container text-center text-lg-left">
      <h1 class="mb-3">TransTech Systems Europe</h1>
      <h2>Asphaltdichte-Messgeräte zur Messung der Verdichtung im Asphaltstraßenbau</h2>
      <h2>Erdbaudichte-Messgeräte zur Messung von Verdichtung und Wassergehalt</h2>
    </div>
  </section>

  <section id="services" class="mt-5">
    <div class="container text-center text-lg-left">

      <div class="service">
        <h4>Was bieten unsere Messgeräte</h4>
        <div class="service-text">
          <p>Einfache und schnelle zerstörungsfreie Messungen der Verdichtung im Erd- und Asphaltbau. Einfaches und
            schnelles erkennen des Verdichtungsverlaufs. Einfaches und schnelles erkennen von Problemstellen. Einfaches
            und schnelles eingrenzen von Bohrkernergebnissen. Einfache und schnelle Messungen zur flächendeckenden
            Verdichtungskontrolle
          </p>
        </div>
      </div>

      <div class="service">
        <h4>Vertrieb</h4>
        <div class="service-text">
          <p class="mb-1">Deutschland , Österreich und über unsere Partner in den folgenden Ländern:</p>
          <ul class="list-unstyled d-flex flex-column flex-lg-row justify-content-between">
            <li>Slowenien - <a class="link" href="http://www.celab.si" target="_blank">www.celab.si</a></li>
            <li>Niederlande und Belgien - <a class="link" href="http://www.asintra.eu"
                target="_blank">www.asintra.eu</a></li>
            <li>Schweiz - <a class="link" href="http://www.beratest.com" target="_blank">www.beratest.com</a></li>
          </ul>
        </div>

      </div>

      <div class="service">
        <h4>Service</h4>
        <div class="service-text">
          <p class="mb-1">Wir bieten für alle Transtech Dichtemessgeräte folgende Leistungen an:</p>
          <p>Überprüfung, Einstellung, Reparatur und Kalibrierung (inklusive Software Upgrade) mit Prüfzertifikat.</p>
        </div>
      </div>

    </div>
  </section><!-- /services -->

  <% include ./partials/footer %>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>