<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="TransTech Systems Europe SDG 200 Page">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/all.min.css" type="text/css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/europeStyle.css">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <title>TransTech Systems Europe - SDG 200</title>
</head>

<body>

  <header class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center text-lg-left">
          <a href="/europe">
            <img src="/img/europelogo.jpg" class="img-fluid" alt="TransTech Systems Europe Logo">
          </a>
        </div>
        <div class="col-lg-8 d-flex flex-column flex-lg-row justify-content-lg-end align-items-lg-end">
          <a href="/europe/pqi380" class="btn btn-outline-dark pqiBtn mr-0 mr-lg-3 mt-4">PQI 380
            Asphaltdichte-Messgerät</a>
          <a href="/europe/sdg200" class="btn btn-outline-dark sdgBtn mt-3">SDG 200 Erdbaudichte-Messgerät</a>
        </div>
      </div>
    </div>
  </header>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>