<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="TransTech Systems Europe SDG 200 Page">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/all.min.css" type="text/css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/europeStyle.css">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <title>TransTech Systems Europe - SDG 200</title>
</head>

<body>

  <% include ./partials/header %>

  <% include ./partials/footer %>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>