<% include ./partials/header %>
  
  <!-- Community Section -->
  <section id="community">
    <div class="container text-center text-md-left">
      <h2 class="pb-3">TransTech Systems In the Community</h2>
      <hr>
      
      <div class="row"> <!-- Might use align-items-center here -->
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="img/community/futures-2016.jpg" alt="Mohon Futures Logo">
            <h5 class="date">June 2016</h5>
            <div class="card-body">
              <h3 class="card-title">The Futures at Mohon</h3>
              <p class="card-text">TransTech Systems proudly sponsored The Futures at Mohon</p>
              <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#futuresModal">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="img/community/niskyBaseball-2016.jpg" alt="Niskayuna Baseball Player">
            <h5 class="date">May 2016</h5>
            <div class="card-body">
              <h3 class="card-title">Niskayuna Baseball</h3>
              <p class="card-text">TransTech Systems proudly suppotrs Niskayuna Baseball League</p>
              <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#NiskyBaseballModal">Read More</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="img/community/harry-golf-2016.jpg" alt="TransTech Systems Employee Group Photo">
            <h5 class="date">May 2016</h5>
            <div class="card-body">
              <h3 class="card-title">2016 Harry Apkarian Memorial Golf Classic</h3>
              <p class="card-text">TransTech Systems proudly supports the annual Harry Apkarian Memorial Golf Classic</p>
              <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#harryGolf2016">Read More</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="img/community/walkMS2016.jpg" alt="TransTech Systems Walk MS Group Photo">
            <h5 class="date">May 2016</h5>
            <div class="card-body">
              <h3 class="card-title">2016 Walk MS: Albany</h3>
              <p class="card-text">TransTech Systems proudly participated in the 2016 Walk for MS in Albany</p>
              <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#walkMS2016">Read More</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="img/community/UMAC2015.jpg" alt="UMAC Logo">
            <h5 class="date">November 2015</h5>
            <div class="card-body">
              <h3 class="card-title">To Honor and Serve - Veterans Day Breakfast</h3>
              <p class="card-text">TransTech is proud to support and honor all those who have served and continue to serve</p>
              <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#UMAC2015">Read More</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="img/community/niskyFoundation2015.jpg" alt="Niskayuna Foundation Logo">
            <h5 class="date">September 2015</h5>
            <div class="card-body">
              <h3 class="card-title">Niskayuna Community Foundation</h3>
              <p class="card-text">Proud corporate sponsor of the Niskayuna Community Foundations 15th Anniversary Day of Service</p>
              <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#niskyFoundation">Read More</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="img/community/RPIGolf.jpg" alt="RPI Hockey Player">
            <h5 class="date">August 2015</h5>
            <div class="card-body">
              <h3 class="card-title">RPI Hockey Golf Classic</h3>
              <p class="card-text">Proud supporter of Rensselaer Polytechnic Institute Hockey</p>
              <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#RPIHockey">Read More</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="img/community/niskyGolf.jpg" alt="Niskayuna Booster Logo">
            <h5 class="date">July 2015</h5>
            <div class="card-body">
              <h3 class="card-title">Niskayuna Boosters Golf Classic</h3>
              <p class="card-text">Proud supporter of Niskayuna, its athletes and the athletics program</p>
              <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#NiskyGolf">Read More</a>
            </div>
          </div>
        </div>
        
      </div><!-- /row -->
      
    </div><!-- /container -->
  </section>
  <!-- /community Section -->
  
  
  
  
  <!-- Modals -->
  
  <!-- Futures Modal -->
  
  <div class="modal fade communityModal" id="futuresModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">The Futures at Mohon</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="img/community/futures-2016.jpg">
          <p>
            TransTech Systems proudly sponsored The Futures at Mohon, a championship style
            Frosh/Soph invitational designed to highlight the future starts in track & Field.
            TransTech provided sponsorship for the 1500m Girls Run and the 1600m Boys Run.
            Congratulations to all the participating athletes!
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Niskayuna Baseball Modal -->
  
  <div class="modal fade communityModal" id="NiskyBaseballModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Niskayuna Baseball League</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="img/community/niskyBaseball-2016.jpg">
          <p>
            TransTech is once again proud to support our local youth sports. TransTech
            provides sponsorship of a <a class="link" href="http://www.niskybaseball.com/site" target="_blank">Niskayuna Baseball League</a> team, as well as banner
            and scoreboard sponsorships.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Harry Golf 2016 Modal -->
  
  <div class="modal fade communityModal" id="harryGolf2016" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2016 Harry Apkarian Memorial Golf Classic</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="img/community/harry-golf-2016.jpg">
          <p>
            TransTech Systems proudly participated and supported the 2016 <a class="link" href="http://capitalregionchamber.com" target="_blank">Capital Region
            Chamber of Commerce</a> Golf Classic. This outing, also known as the Harry Apkarian
            Memorial Tournament, honors TransTech’s founder, and our current President’s father.
            In Harry’s memory, TransTech continues to give to the scholarship fund to help our
            young, entrepreneurial youth in the Capital District
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Walk MS 2016 Modal -->
  
  <div class="modal fade communityModal" id="walkMS2016" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2016 Walk MS: Albany</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="img/community/walkMS2016.jpg">
          <p>
            TransTech Systems participated in the 2016 Walk for MS.
            Walk MS connects people living with MS and those who care about them. It is an experience
            unlike any other - a day to come together, to celebrate the progress we've made and to show the power of our connections.
            When you participate in Walk MS, the funds you raise give hope to the more than 12,800 people
            living with MS in our community. The dollars raised support life-changing programs and cutting-edge research.
            Every connection counts. Register now, connect with others and start fundraising today.
          </p>
          <p>
            <a class="link" href="http://main.nationalmssociety.org/site/TR/Walk/NYRWalkEvents?pg=entry&fr_id=29841" target="_blank">Upstate NY MS Walk Chapter</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- UMAC 2015 Modal -->
  
  <div class="modal fade communityModal" id="UMAC2015" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">To Honor and Serve - Veterans Day Breakfast</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="img/community/UMAC2015.jpg">
          <p>
            TransTech is proud to support and honor all those who have served and continue to serve at the 7th annual breakfast.
            Local "celebrities" will served breakfast to our honored guests, active military and veterans from around the Capital
            Region. Hosted by the <a class="link" href="http://www.umacny.org" target="_blank">United Military Affairs Council</a>, 
            <a class="link" href="http://capitalregionchamber.com" target="_blank">Capital Region Chamber of Commerce</a> and
            <a class="link" href="https://glensandersmansion.com" target="_blank">Glen Sanders Mansion</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Nisky Foundation 2015 Modal -->
  
  <div class="modal fade communityModal" id="niskyFoundation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">15th Anniversary Day of Service</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="img/community/niskyFoundation2015.jpg">
          <p>
            On September 26th, the <a class="link" href="https://niskayunacf.org" target="_blank">Niskayuna Community Foundation (NCF)</a>
            proudly celebrated our 15th anniversary by hosting a community-wide day of service and celebration. Over 200 volunteers completed 15 community service
            projects for not-for-profit organizations that serve Niskayuna residents, including <a class="link" href="https://bbbscr.org" target="_blank">Big Brothers Big Sisters</a>,
            Safe Inc., and the Niskayuna Senior Center. After a day of fulfilling work, friends and neighbors came together for a
            celebration of community spirit with a party and fundraiser at LT’s Grill. Over the past 15 years, the NCF has
            awarded more than 60 scholarships to Niskayuna students and distributed more than 175 financial grants to
            organizations that make life better for Niskayuna residents, supporting arts and culture, education, health,
            recreation, environment, and human services programs and projects.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- RPI Hockey Modal -->
  
  <div class="modal fade communityModal" id="RPIHockey" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">RPI Hockey Golf Classic</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="img/community/RPIGolf.jpg">
          <p>
            TransTech proudly supports <a class="link" href="http://www.rpiathletics.com/index.aspx?path=hockey" target="_blank">Rensselaer Polytechnic Institute Hockey</a>.
            Proceeds from the golf outing in years past have continued to allow RPI to enhance and upgrade the Hockey program in many ways.
            These upgrades allow the type of experience for the recruits and student-athletes needed to contend in the ECAC and nationally.
        </div>
      </div>
    </div>
  </div>
  
  <!-- Nisky Boosters Golf Modal -->
  
  <div class="modal fade communityModal" id="NiskyGolf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Niskayuna Boosters Club Golf Classic</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="img/community/niskyGolf.jpg">
          <p>
            TransTech proudly supports Niskayuna, its athletes and the athletics program. The purpose of the tournament is to assist with
            raising monies for the Niskayuna Boosters Club to support all athletic programs at Niskayuna. All funds raised will help offset
            the cost of the golf outing with the remainder going directly to the Niskayuna Boosters Club to assist with contributions of
            the Overall Athletic Program at Niskayuna High School.
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
<% include ./partials/footer %>