<% include ./partials/header %>
  
  <!-- Google Map Script -->
  <script src="../js/corpMap.js"></script>
  
  <!-- map section -->
  <section id="map"></section>
  <!-- /map section -->
  
  <!-- address Section -->
  <section id="address">
    <div class="container">
      <div class="row">
        
        <div class="col-md-6 text-center text-md-left">
          <h2 class="pb-3">Corporate Office</h2>
            <div class="contact-info">
              <address>
                900 Albany Shaker Road<br>
                Suite #2<br>
                Latham, NY 12110<br>
              </address>
              
              <p><a class="phone-link" href="tel:+5183705558"><i class="fas fa-phone-square" data-fa-transform="flip-h"></i> 518-370-5558</a></p>
              <p><a class="phone-link" href="tel:+18007246306"><i class="fas fa-phone-square" data-fa-transform="flip-h"></i> 1-800-724-6306</a></p>
              <p><i class="fas fa-fax"></i> 518-370-5538</p>
              <p><a class="phone-link" href="mailto:sales@transtechsys.com?subject=Sales Request"><i class="fas fa-envelope"></i> Email Sales</a></p>
            </div>
        </div>
        
        <div class="col-md-6 mt-5 mt-md-0">
          <h2 class="pb-3 text-center text-md-left">Contact Us</h2>
          
          <form action="" method="post" class="d-flex flex-column">
            <div class="form-group">
              <label for="name" class="text-left">Name</label>
              <input type="text" class="form-control form-control-lg" name="name" id="name" required>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control form-control-lg" name="email" id="email" required>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control form-control-lg" name="message" id="message" rows="5" required></textarea>
            </div>
            <button class="btn btn-outline-success btn-lg submit-btn ml-0 ml-lg-auto">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /address Section -->
  
  
<% include ./partials/footer %>