<% include ./partials/header %>
  
  <!-- News Section -->
  <section id="news">
    <div class="container text-center text-md-left">
      <h2 class="pb-3">Corporate News</h2>
      <hr>
      
      
      
    </div><!-- /container -->
  </section>
  <!-- /distributors Section -->
  
  
<% include ./partials/footer %>