<% include ./partials/header %>
  
  <!-- News Section -->
  <section id="news">
    <div class="container text-center text-md-left">
      <h2 class="pb-3">Corporate News</h2>
      <hr>
      
      <div class="news-items">
        
        <div>
          <h3>March 2018</h3>
          <a class="news-link mt-3" href="#">Atlantic Supply announced as TransTech Systems Distributor of the Year for 2017</a>
          <p class="lead mt-3">In recognition of superior growth and performance, Atlantic Supply is the 2017 TransTech Distributor of the Year!</p>
        </div>
        
        <div>
          <h3>April 2017</h3>
          <a class="news-link mt-3" href="#">TransTech Systems continues to be a proud supporter of the Boy Scouts of America</a>
          <p class="lead mt-3">TransTech is the Charter Organization for local Pack 3081. This month, our engineering staff provided hand-on learning about Engineering - from measuring and calculating square footage of a room, to drawing and creating a circuit diagram.</p>
        </div>
        
        <div>
          <h3>April 2017</h3>
          <a class="news-link mt-3" href="#">JR Technical Services announced as TransTech Systems Distributor of the Year for 2016</a>
          <p class="lead mt-3">In recognition of superior growth and performance, JR Technical Services is the 2016 TransTech Distributor of the Year!</p>
        </div>
        
        <div>
          <h3>October 2016</h3>
          <a class="news-link mt-3" href="#">TransTech Systems is moving to a new corporate office location</a>
          <p class="lead mt-3">The new office space means improved production and engineering space, new amenities for employees and room for growth.</p>
        </div>
        
        <div>
          <h3>April 2016</h3>
          <a class="news-link mt-3" href="#">TransTech's response to USDOT OST-R RFI regarding 5 year R&D strategic plan</a>
          <p class="lead mt-3">TransTech Systems recommends research &amp; development on incorporating density measurements into FHWA intelligent compaction integrated measurement system requirements.</p>
        </div>
        
        <div>
          <h3>February 2016</h3>
          <a class="news-link mt-3" href="#">Beratest announced as TransTech Systems Distributor of the Year for 2015</a>
          <p class="lead mt-3">In recognition of superior growth and performance, Beratest is the 2015 TransTech Distributor of the Year!</p>
        </div>
        
        <div>
          <h3>August 2015</h3>
          <a class="news-link mt-3" href="#">PQI 380 Non-Nuclear Asphalt Density Gauge Featured in Asphalt Pro Magazine</a>
          <p class="lead mt-3">Asphalt paving and pavement maintenance essentials \ using electromagnetic density gauges to measure in-place density of asphalt.</p>
        </div>
        
        <div>
          <h3>June 2015</h3>
          <a class="news-link mt-3" href="#">Distributor Highlight - Bav Corporation, Inc.</a>
          <p class="lead mt-3">We would like to introduce you to one of our many partners, Bav Corporation, Inc.</p>
        </div>
        
        <div>
          <h3>April 2015</h3>
          <a class="news-link mt-3" href="#">We attend UMAC joint services spring formal to support scholarship fund</a>
          <p class="lead mt-3">Supporting the United Military Affairs Council scholarship fund to raise over $6000!</p>
        </div>
        
        <div>
          <h3>April 2015</h3>
          <a class="news-link mt-3" href="#">SDG 200 wins Top 30 products award</a>
          <p class="lead mt-3">Our SDG 200 non-nuclear soil density gauge is nomiated for Asphalt Contractor Magazine's 2015 top 30 editor’s choice awards!</p>
        </div>
        
        <div>
          <h3>March 2015</h3>
          <a class="news-link mt-3" href="#">We are proud to support MS awareness</a>
          <p class="lead mt-3">David and Tammy Apkarian of TransTech Systems joined Schenectady mayor McCarthy, as he read a city proclamation for MS awareness month, March 2015. <a class="link" href="#">Learn more about our efforts on the fight against MS</a></p>
        </div>
        
        <div>
          <h3>January 2015</h3>
          <a class="news-link mt-3" href="#">Business leaders debate need for state incentives to spur growth in New York</a>
          <p class="lead mt-3">TransTech Systems CEO, David Apkarian participates in the Albany Business Review power breakfast!</p>
        </div>
        
        <div>
          <h3>January 2015</h3>
          <a class="news-link mt-3" href="#">Distributor Highlight - ABAS AS</a>
          <p class="lead mt-3">We would like to introduce you to one of our many partners, ABAS AS.</p>
        </div>
        
        <div>
          <h3>October 2014</h3>
          <a class="news-link mt-3" href="#">Distributor Highlight - Taisei International</a>
          <p class="lead mt-3">We would like to introduce you to one of our many partners, Taisei International.</p>
        </div>
        
        <div>
          <h3>September 2014</h3>
          <a class="news-link mt-3" href="#">We attend the ShopRite Veterans Charity Golf Outing and Casino Night</a>
          <p class="lead mt-3">We are proud to participate and support the ShopRite Veterans Charity Golf Outing and Casino Night. All proceeds benefit the <a href="#" class="link">Tower of Hope</a>, an organization that raises funds to provide wounded veterans with service dogs.</p>
        </div>
        
        <div>
          <h3>August 2014</h3>
          <a class="news-link mt-3" href="#">Distributor Highlight - Atlantic Supply</a>
          <p class="lead mt-3">We would like to introduce you to one of our many partners, Atlantic Supply.</p>
        </div>
        
        <div>
          <h3>July 2014</h3>
          <a class="news-link mt-3" href="#">New York State Assembly - Certificate of Merit</a>
          <p class="lead mt-3">TransTech Systems is recognized by Angelo Santabarbara of the New York state assembly upon receiving the Top 30 Editors choice award from Asphalt Contractor.</p>
        </div>
        
        <div>
          <h3>July 2014</h3>
          <a class="news-link mt-3" href="#">Letter from NFIB</a>
          <p class="lead mt-3">NFIB congratulates TransTech Systems for being chosen for The Asphalt Contractor Magazine's Top 30 Editor’s choice awards.</p>
        </div>
        
        <div>
          <h3>June 2014</h3>
          <a class="news-link mt-3" href="#">PQI 380 wins Top 30 products award</a>
          <p class="lead mt-3">Our PQI 380 non-nuclear asphalt density gauge is nomiated for Asphalt Contractor Magazine's 2014 top 30 editor’s choice awards!</p>
        </div>
        
        <div>
          <h3>June 2014</h3>
          <a class="news-link mt-3" href="#">Anouncement to PQI 300 owners</a>
          <p class="lead mt-3">As of December 31, 2014, we will no longer repair the PQI Model 300 due to the unavailability of the electronic component parts used in this product. We are also not able to perform an upgrade on this equipment.</p>
        </div>
        
        <div>
          <h3>February 2014</h3>
          <a class="news-link mt-3" href="#">Capital Business Beat</a>
          <p class="lead mt-3">We are featured in Time Warner Cable News - Capital Region Business Beat - By: Jon Dougherty.</p>
        </div>
        
        <div>
          <h3>August 2013</h3>
          <a class="news-link mt-3" href="#">Our SDG 200 conforms to ASTM Standard D7830</a>
          <p class="lead mt-3">ASTM International standard #D7830 will be used by contractors and government agencies for quality control and quality assurance of electromagnetic soil density gauges.</p>
        </div>
        
      </div><!-- /news-items -->
      
    </div><!-- /container -->
  </section>
  <!-- /news Section -->
  
  
<% include ./partials/footer %>