<% include ./partials/header %>
  
  <!-- map section -->
  <section id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11466.755194153862!2d-73.82126519757499!3d42.757452453667646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de726b6f4a031f%3A0x49fd09a9edb49f34!2sTranstech+Systems+Inc!5e0!3m2!1sen!2sus!4v1522676458317" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <!-- /map section -->
  
  <!-- distributors Section -->
  <section id="distributors">
    <div class="container text-center text-md-left">
      <h2 class="pb-3">International Distributors</h2>
      <hr>
      
      <div class="companies">
        
        <div>
          <h3>Afghanistan</h3>
          <address>
            <span>M/s. Taisei International</span><br>
            H - 84, PLOT: 1421<br>
            13th Main Road<br>
            ANNANAGAR, CHENNAI - 40<br>
            Phone: 91-044-26162877, 45500403<br>
            Attn: G. Parasuranam<br>
            <a class="link" href="mailto:g.parasuraman@yahoo.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.taiseint.com/home" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Algeria</h3>
          <address>
            <span>Beratest AG</span><br>
            Finkenweg 7<br>
            CH-5036 Oberentfelden, Switzerland<br>
            Phone: +41-62-723-42-23<br>
            Attn: Max Gysin<br>
            <a class="link" href="mailto:info@beratest.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.beratest.com/default.asp?lang=e" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Angola</h3>
          <address>
            <span>Perta</span><br>
            Rua Jaime Lopes Dias, n° 3 A/B<br>
            1750-124 Lisbon Portugal<br>
            Phone: +351-21-752-05-60<br>
            Attn: Paulo Frias Costa<br>
            <a class="link" href="mailto:pfcosta@perta.pt?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.perta.pt" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Argentina</h3>
          <address>
            <span>Mertind Ltda.</span><br>
            #410 Santa Cruz de la Sierra<br>
            Bolivia<br>
            Phone: +591-3-336-7676<br>
            Attn: Mauricio Lijeron Eguez<br>
            <a class="link" href="mailto:mauriciolijeron@mertind.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="https://www.mertind.com/bolivia" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Armenia (CIS)</h3>
          <address>
            <span>Bav Corporation, Inc.</span><br>
            1600 Providence Highway, Suite 142<br>
            Walpole, MA 02081 USA<br>
            Phone: 781-784-3095<br>
            Attn: Alexander Baranov<br>
            <a class="link" href="mailto:info@bavcorporation.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://bavcompany.ru" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Australia</h3>
          <address>
            <span>Motorway Technologies</span><br>
            10 Beechwood Court<br>
            PO Box 75<br>
            Mernda Vic. 3754<br>
            Phone: +61-418-235-048<br>
            Attn: Adrian Rogers<br>
            <a class="link" href="mailto:bear.adrianrogers@gmail.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://motorwaytechnologies.com.au" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Austria</h3>
          <address>
            <span>TransTech Europe</span><br>
            Osterdiek 11<br>
            Oldenburg D-26125, Germany<br>
            Phone: +49-441-3501227<br>
            Attn: Bernd Diedrichs<br>
            <a class="link" href="mailto:bernd.diedrichs@ewetel.net?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.transtechsys.com/europe" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Azerbaijan (CIS)</h3>
          <address>
            <span>Bav Corporation, Inc.</span><br>
            1600 Providence Highway, Suite 142<br>
            Walpole, MA 02081 USA<br>
            Phone: 781-784-3095<br>
            Attn: Alexander Baranov<br>
            <a class="link" href="mailto:info@bavcorporation.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://bavcompany.ru" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Bangladesh</h3>
          <address>
            <span>M/s. Taisei International</span><br>
            H - 84, PLOT: 1421<br>
            13th Main Road<br>
            ANNANAGAR, CHENNAI - 40<br>
            Phone: 91-044-26162877, 45500403<br>
            Attn: G. Parasuranam<br>
            <a class="link" href="mailto:g.parasuraman@yahoo.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.taiseint.com/home" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Belarus</h3>
          <address>
            <span>Bav Corporation, Inc.</span><br>
            1600 Providence Highway, Suite 142<br>
            Walpole, MA 02081 USA<br>
            Phone: 781-784-3095<br>
            Attn: Alexander Baranov<br>
            <a class="link" href="mailto:info@bavcorporation.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://bavcompany.ru" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Belgium</h3>
          <address>
            <span>Asintra</span><br>
            Postbus 2059<br>
            7301 DB Apeldoorn<br>
            Nederland<br>
            Phone: +31-(0)620248145<br>
            Attn: Joop Mennink<br>
            <a class="link" href="mailto:info@asintra.eu?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://asintra.eu/nederlands.html" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Benin</h3>
          <address>
            <span>Beratest AG</span><br>
            Finkenweg 7<br>
            CH-5036 Oberentfelden, Switzerland<br>
            Phone: +41-62-723-42-23<br>
            Attn: Max Gysin<br>
            <a class="link" href="mailto:info@beratest.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.beratest.com/default.asp?lang=e" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Bolivia</h3>
          <address>
            <span>Mertind Ltda.</span><br>
            #410 Santa Cruz de la Sierra<br>
            Bolivia<br>
            Phone: +591-3-336-7676<br>
            Attn: Mauricio Lijeron Eguez<br>
            <a class="link" href="mailto:mauriciolijeron@mertind.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="https://www.mertind.com/bolivia" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Brazil</h3>
          <address>
            <span>Solotest</span><br>
            Mecânica do Solo Ltda<br>
            Rua Conselheiro Carrão, 275<br>
            Bela Vista. CEP 01328-000<br>
            São Paulo – SP Brazil<br>
            Phone: +5511-3289-0211<br>
            Attn: Rodrigo Barella<br>
            <a class="link" href="mailto:rodrigobarella@gmail.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.solotest.com" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Bulgaria</h3>
          <address>
            <span>TransTech Europe (Gepasz)</span><br>
            Osterdiek 11<br>
            Oldenburg D-26125, Germany<br>
            Phone: +49-441-3501227<br>
            Attn: Bernd Diedrichs<br>
            <a class="link" href="mailto:bernd.diedrichs@ewetel.net?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.transtechsys.com/europe" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Burkina Faso</h3>
          <address>
            <span>Beratest AG</span><br>
            Finkenweg 7<br>
            CH-5036 Oberentfelden, Switzerland<br>
            Phone: +41-62-723-42-23<br>
            Attn: Max Gysin<br>
            <a class="link" href="mailto:info@beratest.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.beratest.com/default.asp?lang=e" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Cameroun</h3>
          <address>
            <span>Beratest AG</span><br>
            Finkenweg 7<br>
            CH-5036 Oberentfelden, Switzerland<br>
            Phone: +41-62-723-42-23<br>
            Attn: Max Gysin<br>
            <a class="link" href="mailto:info@beratest.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.beratest.com/default.asp?lang=e" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Canada - British Columbia</h3>
          <address>
            <span>Hoskin Scientific</span><br>
            3735 Myrtle Street<br>
            Burnaby, BC V5C 4E7<br>
            Phone: 604-872-7894<br>
            Attn: Jamie Emery<br>
            <a class="link" href="mailto:jemery@hoskin.ca?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.hoskin.ca" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Canada - Quebec</h3>
          <address>
            <span>Hoskin Scientific</span><br>
            300 Rue Stinson<br>
            Saint-Laurent, QC H4N 2E7<br>
            Phone: 514-735-5267<br>
            Attn: Sylvain Paquette<br>
            <a class="link" href="mailto:spaquette@hoskin.ca?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.hoskin.ca" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Canada - Ontario</h3>
          <address>
            <span>Hoskin Scientific</span><br>
            4210 Morris Drive<br>
            Burlington, ON L7L 5L6<br>
            Phone: 905-333-5510<br>
            Attn: Melanie Crossman<br>
            <a class="link" href="mailto:mcrossman@hoskin.ca?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.hoskin.ca" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Canada - Alberta</h3>
          <address>
            <span>Hoskin Scientific</span><br>
            Unit 100, 18138 105th Avenue<br>
            Edmonton, AB T5S 2T4<br>
            Phone: 780-434-2645<br>
            Attn: Jamie Emery<br>
            <a class="link" href="mailto:jemery@hoskin.ca?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.hoskin.ca" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Chile</h3>
          <address>
            <span>Equipos de Auscultacion</span><br>
            Rey Alberto 4370, San Miguel<br>
            Santiago-8910299- Chile<br>
            Phone: +562-297-0720<br>
            Attn: Claudio Fuentes Lopez<br>
            <a class="link" href="mailto:claudio.fuentes.lopez@gmail.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.indexsa.cl" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>China</h3>
          <address>
            <span>Earth Products China Limited</span><br>
            Room 1205-06 Seapower Center<br>
            73-77 Lei Muk Road<br>
            Kwai Chung, Hong Kong<br>
            Phone: +852-2392-8698<br>
            Attn: Janet Lo<br>
            <a class="link" href="mailto:janet@epc.com.hk?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.epc.com.hk" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>CIS</h3>
          <address>
            <span>Bav Corporation, Inc.</span><br>
            1600 Providence Highway, Suite 142<br>
            Walpole, MA 02081 USA<br>
            Phone: 781-784-3095<br>
            Attn: Alexander Baranov<br>
            <a class="link" href="mailto:info@bavcorporation.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://bavcompany.ru" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Congo</h3>
          <address>
            <span>Beratest AG</span><br>
            Finkenweg 7<br>
            CH-5036 Oberentfelden, Switzerland<br>
            Phone: +41-62-723-42-23<br>
            Attn: Max Gysin<br>
            <a class="link" href="mailto:info@beratest.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.beratest.com/default.asp?lang=e" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Costa Rica</h3>
          <address>
            <span>Atlantic Supply</span><br>
            6462 125th. Ave. North<br>
            Largo, FL 33773-3601<br>
            Phone: 727-530-9581<br>
            Fax: 727-531-5673<br>
            Attn: Carlos Licona<br>
            <a class="link" href="mailto:clicona@atlanticsupply.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Côte d’Ivoire</h3>
          <address>
            <span>Beratest AG</span><br>
            Finkenweg 7<br>
            CH-5036 Oberentfelden, Switzerland<br>
            Phone: +41-62-723-42-23<br>
            Attn: Max Gysin<br>
            <a class="link" href="mailto:info@beratest.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.beratest.com/default.asp?lang=e" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Czech Republic</h3>
          <address>
            <span>TransTech Europe</span><br>
            Osterdiek 11<br>
            Oldenburg D-26125, Germany<br>
            Phone: +49-441-3501227<br>
            Attn: Bernd Diedrichs<br>
            <a class="link" href="mailto:bernd.diedrichs@ewetel.net?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://www.transtechsys.com/europe" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Denmark</h3>
          <address>
            <span>ABAS AS</span><br>
            Postboks 51<br>
            N-3421 Lierskogen, Norway<br>
            Phone: +47 32 24 35 30<br>
            Attn: Geir Solberg<br>
            <a class="link" href="mailto:gsolberg@abas-as.no?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
            <a class="link" href="http://abas-as.simplesite.com" target="_blank" data-hover="popover" data-placement="top" data-content="Visit Website"><i class="fab fa-chrome"></i></a>
          </address>
        </div>
        
        <div>
          <h3>Ecuador</h3>
          <address>
            <span>Imporequip</span><br>
            De Los Madronos Y Lizarzaburo<br>
            Quito, Ecuador N47-305<br>
            Phone: +08-715-4550<br>
            Attn: Vladimir Rojas<br>
            <a class="link" href="mailto:ventas@imporequip.com?subject=Inquiry from TransTech Systems Website" data-hover="popover" data-placement="top" data-content="Email"><i class="fas fa-envelope"></i></a>
          </address>
        </div>
        
      </div><!-- /companies -->
      
    </div><!-- /container -->
  </section>
  <!-- /distributors Section -->
  
  
<% include ./partials/footer %>