<% include ./partials/header %>
  
  <!-- map section -->
  <section id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11466.755194153862!2d-73.82126519757499!3d42.757452453667646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de726b6f4a031f%3A0x49fd09a9edb49f34!2sTranstech+Systems+Inc!5e0!3m2!1sen!2sus!4v1522676458317" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <!-- /map section -->
  
  <!-- usDistributors Section -->
  <section id="usDistributors">
    <div class="container text-center text-md-left">
      <h2 class="pb-3">Distributors United States</h2>
      <hr>
      
      <div class="usCompanies">
        
        <div>
          <h3>Alabama</h3>
          <address>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic Supply</a><br>
            5400 Perimeter Pkwy Court<br>
            Montgomery, AL 36116<br>
            <a class="phone-link" href="tel:+8669173447" target="_blank">Phone: 866-917-3447</a><br>
            Fax: 334-280-2715<br>
            Attn: Paul Eikenberry<br>
            <a class="link" href="mailto:peikenberry@atlanticsupply.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Paul</a>
          </address>
        </div>
        
        <div>
          <h3>Connecticut</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>Florida (Jacksonville)</h3>
          <address>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic Supply</a><br>
            6919 Distribution Ave. South, Unit #1<br>
            Jacksonville, FL 32256<br>
            <a class="phone-link" href="tel:+8882605584" target="_blank">Phone: 888-260-5584</a><br>
            Fax: 904-260-4299<br>
            Attn: Scot Hall<br>
            <a class="link" href="mailto:scothall@atlanticsupply.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Scot</a>
          </address>
        </div>
        
        <div>
          <h3>Florida (Largo)</h3>
          <address>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic Supply</a><br>
            6462 125th. Ave. North<br>
            Largo, FL 33773-3601<br>
            <a class="phone-link" href="tel:+8007529416" target="_blank">Phone: 800-752-9416</a><br>
            Fax: 727-531-5673<br>
            Attn: Stephanie Miller<br>
            <a class="link" href="mailto:stephanie@atlanticsupply.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Stephanie</a>
          </address>
        </div>
        
        <div>
          <h3>Florida (Orlando)</h3>
          <address>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic Supply</a><br>
            3740 Prospect Ave. Unit #4<br>
            Riviera Beach, FL 33404<br>
            <a class="phone-link" href="tel:+8005357384" target="_blank">Phone: 800-535-7384</a><br>
            Fax: 561-844-3099<br>
            Attn: Lou Lemenze<br>
            <a class="link" href="mailto:seflorida@atlanticsupply.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Lou</a>
          </address>
        </div>
        
        <div>
          <h3>Idaho</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>Illinois</h3>
          <address>
            <a class="link" href="https://www.greatlakesequipment.com" target="_blank">Great Lakes Equipment / <br>
            Patten Tractor</a> <span>- Compaction Products</span><br>
            590 Mayer Street<br>
            Oglesby, IL 61348<br>
            <a class="phone-link" href="tel:+8152207709" target="_blank">Phone: 815-220-7709</a><br>
            <a class="phone-link" href="tel:+8158833610" target="_blank">Phone: 815-883-3610</a><br>
            Fax: 815-366-0761<br>
            Attn: Steve Hoscheid<br>
            <a class="link" href="mailto:hoscheids@greatlakeseq.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Steve</a>
          </address>
        </div>
        
        <div>
          <h3>Indiana</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>Louisiana</h3>
          <address>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic Supply</a><br>
            5400 Perimeter Pkwy Court<br>
            Montgomery, AL 36116<br>
            <a class="phone-link" href="tel:+8669173447" target="_blank">Phone: 866-917-3447</a><br>
            Fax: 334-280-2715<br>
            Attn: Paul Eikenberry<br>
            <a class="link" href="mailto:peikenberry@atlanticsupply.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Paul</a>
          </address>
        </div>
        
        <div>
          <h3>Maine</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>Massachusetts</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>Michigan</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>Mississippi</h3>
          <address>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic Supply</a><br>
            5400 Perimeter Pkwy Court<br>
            Montgomery, AL 36116<br>
            <a class="phone-link" href="tel:+8669173447" target="_blank">Phone: 866-917-3447</a><br>
            Fax: 334-280-2715<br>
            Attn: Paul Eikenberry<br>
            <a class="link" href="mailto:peikenberry@atlanticsupply.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Paul</a>
          </address>
        </div>
        
        <div>
          <h3>Missouri</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>Nebraska</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>New Hampshire</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>North Carolina</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>Ohio</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>Pennsylvania</h3>
          <address>
            <a class="link" href="http://www.grofftractor.com" target="_blank">Groff Tractor &amp; Equipment</a><br>
            963 South Center Ave.<br>
            New Stanton, PA 15672<br>
            <a class="phone-link" href="tel:+7177667671" target="_blank">Phone: 717-766-7671</a><br>
            Attn: Matt Wilson<br>
            <a class="link" href="mailto:mattwilson@grofftractor.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Matt</a>
          </address>
        </div>
        
        <div>
          <h3>Puerto Rico</h3>
          <address>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic Supply</a><br>
            6462 125th. Ave. North<br>
            Largo, FL 33773-3601<br>
            <a class="phone-link" href="tel:+7275309581" target="_blank">Phone: 727-530-9581</a><br>
            Fax: 727-531-5673<br>
            Attn: Carlos Licona<br>
            <a class="link" href="mailto:clicona@atlanticsupply.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Carlos</a>
          </address>
        </div>
        
        <div>
          <h3>Rhode Island</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>South Carolina</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3>Texas</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
      </div><!-- /usCompanies -->
      
    </div><!-- /container -->
  </section>
  <!-- /usDistributors Section -->
  
  
<% include ./partials/footer %>