<% include ./partials/header %>
  
  <!-- map section -->
  <section id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11466.755194153862!2d-73.82126519757499!3d42.757452453667646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de726b6f4a031f%3A0x49fd09a9edb49f34!2sTranstech+Systems+Inc!5e0!3m2!1sen!2sus!4v1522676458317" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <!-- /map section -->
  
  <!-- usDistributors Section -->
  <section id="usDistributors">
    <div class="container text-center text-md-left">
      <h2 class="pb-3">Distributors United States</h2>
      <hr>
      
      <div class="usCompanies">
        
        <div>
          <h3 class="pb-2">Alabama</h3>
          <address>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic Supply</a><br>
            5400 Perimeter Pkwy Court<br>
            Montgomery, AL 36116<br>
            <a class="phone-link" href="tel:+8669173447" target="_blank">Phone: 866-917-3447</a><br>
            Fax: 334-280-2715<br>
            Attn: Paul Eikenberry<br>
            <a class="link" href="mailto:peikenberry@atlanticsupply.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Paul</a>
          </address>
        </div>
        
        <div>
          <h3 class="pb-2">Connecticut</h3>
          <address>
            Marcus McCorison<br>
            522 Rt. 81<br>
            Killingworth, CT<br>
            <a class="phone-link" href="tel:+8608836470" target="_blank">Cell: 860-883-6470</a><br>
            <a class="link" href="mailto:mmccorison@transtechsys.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Marcus</a>
          </address>
        </div>
        
        <div>
          <h3 class="pb-2">Florida (Jacksonville)</h3>
          <address>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic Supply</a><br>
            6919 Distribution Ave. South, Unit #1<br>
            Jacksonville, FL 32256<br>
            <a class="phone-link" href="tel:+8882605584" target="_blank">Phone: 888-260-5584</a><br>
            Fax: 904-260-4299<br>
            Attn: Scot Hall<br>
            <a class="link" href="mailto:scothall@atlanticsupply.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Scot</a>
          </address>
        </div>
        
        <div>
          <h3 class="pb-2">Florida (Largo)</h3>
          <address>
            <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic Supply</a><br>
            6462 125th. Ave. North<br>
            Largo, FL 33773-3601<br>
            <a class="phone-link" href="tel:+8007529416" target="_blank">Phone: 800-752-9416</a><br>
            Fax: 727-531-5673<br>
            Attn: Stephanie Miller<br>
            <a class="link" href="mailto:stephanie@atlanticsupply.com?subject=Inquiry from TransTech Systems Website"><i class="fas fa-paper-plane"></i> Email Stephanie</a>
          </address>
        </div>
        
      </div>
      
    </div>
  </section>
  <!-- /usDistributors Section -->
  
  
<% include ./partials/footer %>