<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>HomePage</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  </head>

  <body> 

    <h1>Homepage</h1>
    <a href="/products">Go To Products</a>
  </body>
</html>