<% include ./partials/header %>
  
  <!-- top bar -->
  <div class="top-bar py-2">
    <div class="container">
      <div class="row">
        
        <div class="col-md-6 text-center text-md-left">
          <p class="mb-0">Service Since 1994</p>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <p class="mb-0"><i class="fas fa-phone-square" data-fa-transform="flip-h"></i> 518-370-5558 / 1-800-724-6306</p>
        </div>
        
      </div>
    </div>
  </div>
  <!-- /top bar -->
  
  
  
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="img/logo.png" alt="TransTech Systems Logo" width="100">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">PQI 380 - Asphalt Density Gauge</a>
              <a class="dropdown-item" href="#">SDG 200 - Soil Density Gauge</a>
              <a class="dropdown-item" href="#">NWJM - Notched Wedge Joint Maker</a>
              <a class="dropdown-item" href="#">SWM - Shoulder Wedge Maker</a>
              <a class="dropdown-item" href="#">PTS 3000 - Pavement Temperature Sentry</a>
              <a class="dropdown-item" href="#">PQI 301 - Discontinued</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Corporate</a>
              <a class="dropdown-item" href="#">Social Media Feed</a>
              <a class="dropdown-item" href="#">Newsletter</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Tradeshows</a>
              <a class="dropdown-item" href="#">Training</a>
              <a class="dropdown-item" href="#">Community</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">State D.O.T. Specifications</a>
              <a class="dropdown-item" href="#">Industry Links</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">United States</a>
              <a class="dropdown-item" href="#">International</a>
              <a class="dropdown-item" href="#">Sales Request</a>
              <a class="dropdown-item" href="#">Repair Request</a>
              <a class="dropdown-item" href="#">Register Product</a>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Employment</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other Divisions</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">TransTech Systems Landing Page</a>
              <a class="dropdown-item" href="#">New Product Development</a>
              <a class="dropdown-item" href="#">Parts Catalog</a>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <!-- /navbar -->
  
  <!-- hero section -->
  <section id="hero" class="d-flex">
    <div class="container my-auto text-center">
      
      <div class="row mb-2 mb-md-5">
        <div class="col col-md-8 col-lg-6 mx-auto">
          <img class="img-fluid hero-logo" src="img/logo-lg.png">
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <hr class="divider">
          <h1 class="mt-2 mt-md-5">
            The Leaders in <br>
            <span class="non-nuclear">Non-Nuclear</span> <br>
            Asphalt &amp; Soil Density Technology
          </h1>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /hero section -->
  
  <!-- Extra height -->
  <div style="height: 2000px;"></div>
  
<% include ./partials/footer %>