<% include ./partials/header %>
  
  <!-- hero section -->
  <section id="hero" class="d-flex">
    <div class="container my-auto text-center">
      
      <div class="row mb-2 mb-md-5">
        <div class="col col-md-8 col-lg-6 mx-auto">
          <img class="img-fluid hero-logo" src="img/logo-lg.png">
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <hr class="divider">
          <h1 class="mt-2 mt-md-5">
            Experts in <span class="non-nuclear">Non-Nuclear</span><br> Asphalt &amp; Soil Density Technology
          </h1>
        </div>
      </div>
      
      <div class="row">
        <a href="#featured" class="mx-auto mt-auto text-light"><i class="fas fa-angle-down fa-4x"></i></a>
      </div>
      
    </div>
  </section>
  <!-- /hero section -->
  
  
  
  <!-- featured -->
  <section id="featured" class="bg-light text-center">
    <div class="container">
      <h1 class="title">Our Products</h1>
      <hr>
      
      <!-- row - non-nuclear -->
      <div class="row align-items-center mb-4">
        <div class="col-lg-4">
          <h1 class="category-title">Non-Nuclear</h1>
        </div>
        
        <div class="col-lg-4">
          <a href="#" class="text-dark">
            <div class="card border-none">
              <img class="card-img-top mx-auto mt-4 mt-lg-0" src="img/pqi380-featured.png" alt="Non-Nuclear Asphalt Density Gauge">
              <div class="card-body">
                <h3 class="card-title">PQI 380 Asphalt Denisty Gauge</h3>
                <p class="lead">Our flagship product, the PQI 380 conforms to ASTM standard D7113 and AASHTO T 343-12</p>
              </div>
            </div>
          </a>
        </div>
        
        <div class="col-lg-4">
          <a href="#" class="text-dark">
            <div class="card border-none">
              <img class="card-img-top mx-auto mt-4 mt-lg-0" src="img/sdg200-featured.png" alt="Non-Nuclear Soil Density Gauge">
              <div class="card-body">
                <h3 class="card-title">SDG 200 Soil Denisty Gauge</h3>
                <p class="lead">The next generation of our soil density gauge, the SDG 200 conforms to ASTM standard D7830</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- /row - non-nuclear -->
      
      <!-- row -compaction -->
      <div class="row align-items-center mb-4">
        <div class="col-lg-4 order-2 order-lg-1">
          <a href="#" class="text-dark">
            <div class="card border-none">
              <img class="card-img-top mx-auto mt-4 mt-lg-0" src="img/nwjm-featured.png" alt="Notched Wedge Joint Maker Screed Attachment">
              <div class="card-body">
                <h3 class="card-title">NWJM - Notched Wedge Joint Maker</h3>
                <p class="lead">Screed attachment that shapes the longitudinal joint as the hot mix asphalt is spread</p>
              </div>
            </div>
          </a>
        </div>
        
        <div class="col-lg-4 order-3 order-lg-2">
          <a href="#" class="text-dark">
            <div class="card border-none">
              <img class="swm mx-auto mt-4 mt-lg-0" src="img/swm-featured.png" alt="Shoulder Wedge Maker Screed Attachment">
              <div class="card-body">
                <h3 class="card-title">SWM - Shoulder Wedge Maker</h3>
                <p class="lead">Screed attachment that shapes a 30&#176; beveled shoulder edge on asphalt roads</p>
              </div>
            </div>
          </a>
        </div>
        
        <div class="col-lg-4 order-1 order-lg-3">
          <h1 class="category-title">Compaction</h1>
        </div>
      </div>
      <!-- /row -compaction -->
      
      <!-- row - temp sensing -->
      <div class="row align-items-center">
        <div class="col-lg-4">
          <h1 class="category-title">Temp Sensing</h1>
        </div>
        
        <div class="col-lg-4">
          <a href="#" class="text-dark">
            <div class="card border-none">
              <img class="card-img-top mx-auto mt-4 mt-lg-0" src="img/pts3000-featured.png" alt="Notched Wedge Joint Maker Screed Attachment">
              <div class="card-body">
                <h3 class="card-title">PTS3000 - Asphalt Pavement Temp Sentry</h3>
                <p class="lead">Mounted at the roller operator station, the PTS3000 provide's accurate HMA mat temperatures on the run</p>
              </div>
            </div>
          </a>
        </div>
      
      </div>
      <!-- /row - temp sensing -->
      
    </div>
  </section>
  <!-- /featured -->
  
  
  
  <!-- trade-up -->
  <section id="trade-up" class="text-center text-light">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-lg-8 order-2 order-lg-1">
          <h1>Trade-In / Trade-Up Program</h1>
          <hr>
          <p class="lead mb-5">Your nuclear density gauge could earn you up to $500 toward the purchase of a TransTech Systems Non-Nuclear PQI asphalt density gauge</p>
          <a href="#" class="btn btn-outline-success trade-btn btn-large d-block d-md-inline-block" role="button">Find Out More</a>
        </div>
        
        <div class="col-lg-4 trade-icon-div order-1 order-lg-2">
          <i class="fas fa-recycle"></i>
        </div>
        
      </div>
    </div>
  </section>
  <!-- /trade-up -->
  
  
  
  <!-- announcments -->
  <section id="announcements" class="text-center bg-light">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-lg-4 announce-icon-div">
          <i class="fas fa-bullhorn" data-fa-transform="flip-h"></i>
        </div>
        
        <div class="col-lg-8">
          <h1>Discontinued Gauges</h1>
          <hr>
          <p class="lead mb-5">A few of our legacy non-nuclear asphalt density gauges have been discontinued, select your gauge and click below to find out more</p>
          <a href="#" class="btn btn-outline-dark announce-btn btn-large d-block d-md-inline-block mr-0 mr-md-4 mb-3 mb-md-0" role="button">PQI 300</a>
          <a href="#" class="btn btn-outline-dark announce-btn btn-large d-block d-md-inline-block" role="button">PQI 301</a>
        </div>
        
      </div>
    </div>
  </section>
  <!-- /announcments -->
  
<% include ./partials/footer %>