<% include ./partials/header %>
  
  <!--Legacy Products Section -->
  <section id="legacyProducts">
    <div class="container text-center text-md-left">
      <h2>TransTech Systems Legacy Products</h2>
      <hr>
  
      <div class="row">
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="img/pqi380-featured.png" alt="TransTech Systems PQI 300 Non-Nuclear Asphalt Density Gauge - Legacy Product">
              <h3 class="card-title">PQI 300</h3>
              <h5 class="mb-3">Non-Nuclear Asphalt Desnity Gauge</h5> 
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="img/pqi380-featured.png" alt="TransTech Systems PQI 200 Non-Nuclear Asphalt Density Gauge - Legacy Product">
              <h3 class="card-title">PQI 200</h3>
              <h5 class="mb-3">Non-Nuclear Asphalt Desnity Gauge</h5>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="img/pqi380-featured.png" alt="TransTech Systems PQI 100 Non-Nuclear Asphalt Density Gauge - Legacy Product">
              <h3 class="card-title">PQI 100</h3>
              <h5 class="mb-3">Non-Nuclear Asphalt Desnity Gauge</h5>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="img/pqi380-featured.png" alt="TransTech Systems Edge Follower - Legacy Product">
              <h3 class="card-title">Edge Follower</h3>
              <h5 class="mb-3">Automatic Longitudinal Joint Closing</h5>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="img/pqi380-featured.png" alt='TransTech Systems 8" Joint Maker - Legacy Product'>
              <h3 class="card-title">8" Joint Maker</h3>
              <h5 class="mb-3">Longitudinal Joint Density</h5>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="img/pqi380-featured.png" alt="TransTech Systems Kicker Plates - Legacy Product">
              <h3 class="card-title">Kicker Plates</h3>
              <h5 class="mb-3">Automatic Mat Raking</h5>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="img/pqi380-featured.png" alt="TransTech Systems PQI 380 Non-Nuclear Asphalt Density Gauge">
              <h3 class="card-title">PQI 301 Test Block</h3>
              <h5 class="mb-3">PQI 301 Calibration Blocks</h5>
            </div>
          </div>
        </div>
  
      </div><!-- /row -->
  
    </div><!-- /container -->
  </section>
  <!-- /Legacy Products Section -->
  
  
<% include ./partials/footer %>