<% include ./partials/header %>
  
  <!-- Newsletter Section -->
  <section id="newsletter">
    <div class="container text-center text-md-left">
      <h2 class="pb-3">Newsletter</h2>
      <hr>
      
      <div class="newsletter-items">
        
        <div>
          <h3>October 2016</h3>
          <a class="news-link mt-3" href="http://myemail.constantcontact.com/Is-your-PQI-SDG-Ready-for-Winter-.html?soid=1119463931823&aid=8Q1a6C9CmVg" target="_blank">Is your PQI/SDG Ready for Winter?</a>
          <p class="lead mt-2">Don't wait until next season to get your PQI or SDG serviced. Be prepared and send the gauge to TransTech Systems over during the winter months.</p>
        </div>
        
        <div>
          <h3>August 2016</h3>
          <a class="news-link mt-3" href="http://myemail.constantcontact.com/Your-PQI---SDG-Have-A-New-Home-.html?soid=1119463931823&aid=3OaTGU9z3b8" target="_blank">Your PQI & SDG Have A New Home!</a>
          <p class="lead mt-2">TransTech will be moving their headquarters on Friday, November 11th.  Please excuse any delays in attempting to contact us on that day. We will do our best to get you as soon as we can!</p>
        </div>
        
        <div>
          <h3>March 2016</h3>
          <a class="news-link mt-3" href="http://myemail.constantcontact.com/Maine-APA-Seminar---TransTech-Will-Be-There-.html?soid=1119463931823&aid=Zhs3egUr7bI" target="_blank">Maine APA Seminar - TransTech Will Be There!</a>
          <p class="lead mt-2">Hope to see you at the Maine Asphalt Pavement Association's 13th Annual Spring Paving Seminar April 5 & 6, 2016</p>
        </div>
        
        <div>
          <h3>February 2016</h3>
          <a class="news-link mt-3" href="http://myemail.constantcontact.com/TransTech-Systems-News.html?soid=1119463931823&aid=pcn-6nFg7Dg" target="_blank">PQI 301: Retirement in 2016</a>
          <p class="lead mt-2">As of December 31, 2016, TransTech will no longer manufacture the PQI Model 301. We will continue to service the PQI 301, as long as we are able to purchase the electronic components used in this product. </p>
        </div>
        
        <div>
          <h3>January 2016</h3>
          <a class="news-link mt-3" href="http://myemail.constantcontact.com/Ohio-Asphalt-Expo---Is-Your-Non-Nuclear-Gauge-Ready-to-Go.html?soid=1119463931823&aid=llo5AE-ynyI" target="_blank">Ohio Asphalt Expo: Is Your Non-Nuclear Gauge Ready to Go?</a>
          <p class="lead mt-2">Hope to see you at Ohio Asphalt Expo in Columbus, OH (Booth #13) March 29 - 31, 2016</p>
        </div>
        
        <div>
          <h3>October 2015</h3>
          <a class="news-link mt-3" href="http://myemail.constantcontact.com/TransTech---Winter-is-coming----is-your-non-nuclear-gauge-ready-.html?soid=1119463931823&aid=OiTSqc1_51M" target="_blank">Winter is coming! Is your non-nuclear gauge ready?</a>
          <p class="lead mt-2">Don't wait until next season to get your PQI or SDG serviced. Be prepared for 2016 and send the gauge to TransTech over the winter months.</p>
        </div>
        
      </div><!-- /tradeshow-items -->
      
    </div><!-- /container -->
  </section>
  <!-- /newsletter Section -->
  
  
<% include ./partials/footer %>