<% include ./partials/header %>
  
  <!-- product nav -->
  <section id="productNav" class="py-4">
    <div class="container">
        
      <div class="row">
        <div class="col">
          <div class="productLinks">
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Brochure</a>
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Manual</a>
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Thin Lift Manual</a>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product nav -->
 
 
  <!-- product hero section -->
  <section id="productHero" class="asphalt py-5">
    <div class="container">

      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div id="title" class="text-center text-md-left">
            <h1 class="text-light">NWJM</h1>
            <hr>
            <h3 class="secondary-text">Notched Wedge Joint Maker</h3>
            <a class="btn btn-outline-light btn-lg mt-3" href="mailto:sales@transtechsys.com?subject=NWJM Quote Request"><i class="fas fa-shopping-cart"></i> Quote Request</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-block d-none d-md-block">
            <img class="product-feature img-fluid" src="../img/nwjm-featured.png" alt="Notched Wedge Joint Maker Screed Attachment">
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product hero section -->
  
  
  <!-- product images section -->
  <section id="productImages" class="py-4">
    <div class="container">
      
      <div class="row">
        <div class="col imageContainer d-flex flex-wrap justify-content-center justify-content-md-start">
          <a href="img/nwjm-featured.png" data-lightbox="NWJM" data-title="NWJM Screed Attachment"><img src="img/nwjm-featured.png" alt="NWJM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/nwjm-featured.png" data-lightbox="NWJM" data-title="NWJM Screed Attachment"><img src="img/nwjm-featured.png" alt="NWJM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/nwjm-featured.png" data-lightbox="NWJM" data-title="NWJM Screed Attachment"><img src="img/nwjm-featured.png" alt="NWJM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/nwjm-featured.png" data-lightbox="NWJM" data-title="NWJM Screed Attachment"><img src="img/nwjm-featured.png" alt="NWJM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/nwjm-featured.png" data-lightbox="NWJM" data-title="NWJM Screed Attachment"><img src="img/nwjm-featured.png" alt="NWJM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/nwjm-featured.png" data-lightbox="NWJM" data-title="NWJM Screed Attachment"><img src="img/nwjm-featured.png" alt="NWJM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/nwjm-featured.png" data-lightbox="NWJM" data-title="NWJM Screed Attachment"><img src="img/nwjm-featured.png" alt="NWJM Screed Attachment" class="img-thumbnail"></a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product images section -->
  
  
  <!-- intro section -->
  <section id="intro" class="pt-5">
    <div class="container text-center text-md-left">
      
      <div class="row">
        <div class="col">
          <p class="lead">The Notched Wedge Joint Maker may be easily installed on most paver screeds. It shapes the longitudinal joint as the hot mix asphalt is spread, providing two vertical surfaces plus a tapered edge that may be adjusted on the run to meet mix and jobsite requirements.</p>
          <p class="lead mb-0">With the longitudinal joint proven to be the most failure-prone part of an HMA structure, the shaped joint provides a better lane interlock, decreased voids, increased impermeability and thus higher joint density for a far more durable structure.</p>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /intro section -->
  
  
  <!-- videos section -->
  <section id="productVideos" class="pt-5">
    <div class="container text-center text-md-left">
      
      <h2>NWJM Videos</h2>
      <hr>
      
      <div class="row pt-3">
        <div class="col-lg-6 mb-4">
        	<div class="youtubeEmbed" id="P_yXRcAgoOE"></div>
        </div>
      </div>
      
      <div class="row mt-2">
        <div class="col-lg-6">
          <a href="https://vimeo.com/transtechsystems" class="btn btn-outline-info btn-block vimeoLink" role="button" aria-disabled="true" target="blank"><i class="fab fa-vimeo"></i> Vimeo link for users who cannot access YouTube</a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /videos section -->
  
  
  <!-- library section -->
  <section id="productLibrary" class="py-5">
    <div class="container text-center text-md-left">
      
      <h2>NWJM Library</h2>
      <hr>
      
      <div class="row">
        <div class="col">
          <p class="mt-2 mb-3 specMessage">The specifications listed below are made available for your reference only. You are responsible for ensuring that you are using the latest and most up to date specification from your state.</p>
        </div>
      </div>
      
      <div class="row pt-3">
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib"href="/pdf/NWJMFieldTest1996-1997.pdf" target="_blank">
            <h4>Joint Maker Field Test Summary</h4>
            <hr>
            <p class="mb-0">Longitudinal joints constructed with the NWJM meet or exceed the average densities of the asphalt mat.</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib"href="/pdf/LongitudianalJointStudyVBWAsfalt2002.pdf" target="_blank">
            <h4>Longitudinal Joint Study 2002</h4>
            <hr>
            <p class="mb-0">Longitudinal Joint Study 2002 Sponsored by VBW Asfalt, The Netherlands</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib"href="/pdf/NWJMAviationReportFDOT.pdf" target="_blank">
            <h4>Joint Maker FDOT Aviation Report</h4>
            <hr>
            <p class="mb-0">FDOT Aviation Office Experience with TransTech Systems Notched Wedge Joint Maker</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib"href="/pdf/TransTechRoadSafety.pdf" target="_blank">
            <h4>TransTech’s Products Increase Road Safety</h4>
            <hr>
            <p class="mb-0">Build Your Roads Safer & Better while saving money!</p>
          </a>
        </div>
      </div>
        
    </div>
  </section>
  <!-- /library section -->
  
  
  <!-- product message section -->
  <section id="productMessage" class="py-4 text-center">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <h3 class="mb-0">Give us a call today for a quote on the NWJM!</h3>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product message section -->
  
<% include ./partials/footer %>