<% include ./partials/header %>
  
  <!-- product nav -->
  <section id="productNav" class="py-4">
    <div class="container">
        
      <div class="row">
        <div class="col">
          <div class="productLinks">
            <a href="/pdf/pqi380brochure.pdf" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true" target="_blank">Brochure</a>
            <a href="/pdf/nuclearTradeIn.pdf" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true" target="_blank">Nuke Trade-In</a>
            <button class="btn productLinkBtn mb-2 mb-lg-0" data-id="PQI 380 Manual" data-toggle="modal" data-target="#manualDownload">Manual</button>
            <button class="btn productLinkBtn mb-2 mb-lg-0" data-id="PQI 380 QuickStart Guide" data-toggle="modal" data-target="#manualDownload">Quick Start Guide</button>
            <a href="/pdf/PQI%20Report.xls" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true" target="_blank">Report Template</a>
            <button class="btn productLinkBtn mb-2 mb-lg-0" data-id="PQI 380 Offset Cheat Sheet" data-toggle="modal" data-target="#manualDownload">Offset Cheat Sheet</button>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product nav -->
 
 
  <!-- product hero section -->
  <section id="productHero" class="asphalt py-5">
    <div class="container">

      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div id="title" class="text-center text-md-left">
            <h1 class="text-light">PQI 380</h1>
            <hr>
            <h3 class="secondary-text">Non-Nuclear Asphalt Density Gauge</h3>
            <a class="btn btn-outline-light btn-lg mt-3" href="mailto:sales@transtechsys.com?subject=PQI%20380%20Quote%20Request"><i class="fas fa-shopping-cart"></i> Quote Request</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-block d-none d-md-block">
            <img class="product-feature img-fluid" src="../img/pqi380-featured.png" alt="PQI 380 Non-Nuclear Asphalt Density Gauge">
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product hero section -->
  
  
  <!-- product images section -->
  <section id="productImages" class="py-4">
    <div class="container">
      
      <div class="row">
        <div class="col imageContainer d-flex flex-wrap justify-content-center justify-content-md-start">
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product images section -->
  
  
  <!-- intro section -->
  <section id="intro" class="pt-5">
    <div class="container text-center text-md-left">
      
      <div class="row">
        <div class="col">
          <p class="lead mb-0">Introducing TransTech Systems next generation <span>Non-Nuclear</span> asphalt density gauge, the PQI 380. This version of the PQI is fully equipped with a touch screen and a user friendly graphical user interface. The PQI 380 uses Microsoft Windows CE for smooth operation, easy software upgrades and enhanced user support.</p>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /intro section -->
  
  
  <!-- highlights section -->
  <section id="productHighlights" class="pt-5">
    <div class="container text-center text-md-left">
      
      <h2>PQI 380 Highlights</h2>
      <hr>
      
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            <li>Non-Nuclear technology</li>
            <li>Asphalt density readings in 3 seconds</li>
            <li>Full color VGA display</li>
            <li>LED backlight for easy visibility in light or dark situations</li>
            <li>Customizable project entries</li>
            <li>Customizable mix entries</li>
            <li>4 reading modes</li>
            <li>Diagnostics mode</li>
            <li>Download data files from the PQI 380 via USB drive</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            <li>Data management screen and the ability to disable data logging</li>
            <li>Rugged, lightweight, aluminum shell</li>
            <li>Handle extension attachment</li>
            <li>Reflective vinyl graphics for higher visibility at night</li>
            <li>Fast, reliable, accurate and repeatable readings in real time</li>
            <li>No need for badges or licenses</li>
            <li>No storage or transport concerns</li>
          </ul>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /highlights section -->
  
  
  <!-- videos section -->
  <section id="productVideos" class="pt-5">
    <div class="container text-center text-md-left">
      
      <h2>PQI 380 Videos</h2>
      <hr>
      
      <div class="row pt-3">
        <div class="col-lg-6 mb-4">
        	<div class="youtubeEmbed" id="k4FRVehlJzk"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="UZs_J-_wZn4"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="SzlfZgOvQTg"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="VCu142HLPtU"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="fuLzhw8nypU"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="REIa00VVYhg"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="Mhrja-ichk8"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="rCfqIramYTQ"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="sBoRDfKVh8Y"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="WpJT7LxOs0U"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="MZBcus-Ztdc"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="ZAkVm6FUneU"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="swR-en6HbOY"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="KbO-w6cPeoA"></div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="youtubeEmbed" id="AxSHIxRzbOI"></div>
        </div>
      </div>
      
      <div class="row mt-2">
        <div class="col-lg-6">
          <a href="https://vimeo.com/transtechsystems" class="btn btn-outline-info btn-block vimeoLink" role="button" aria-disabled="true" target="blank"><i class="fab fa-vimeo"></i> Vimeo link for users who cannot access YouTube</a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /videos section -->


  <!-- faqs section -->
  <section id="productFaqs" class="pt-5">
    <div class="container text-center text-md-left">
      
      <h2>PQI 380 FAQ's</h2>
      <hr>
      
      <div class="row">
        <div class="col">
          <ul class="list-group mt-3 d-flex">
            <li class="list-group-item active"><span class="yellow">Q:</span> How long will the PQI 380 last on a full charge? <i class="fas fa-bolt" style="color: #FFDE00;"></i></li>
            <li class="list-group-item"><span>A:</span> 8-10 hours, depending on usage.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> When should I charge my PQI 380? <i class="fas fa-bolt" style="color: #FFDE00;"></i></li>
            <li class="list-group-item"><span>A:</span> When the voltage indicator on the status bar reads 6.5volts. It is also a good idea to charge the PQI 380 at the end of the day after use.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> How long does it take to recharge the PQI 380? <i class="fas fa-bolt" style="color: #FFDE00;"></i></li>
            <li class="list-group-item"><span>A:</span> 4 hours.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> Will the PQI 380 operate while charging? <i class="fas fa-bolt" style="color: #FFDE00;"></i></li>
            <li class="list-group-item"><span>A:</span> No, the PQI 380 is not operable while charging. An external battery charger can be purchased along with a second battery pack. Contact sales at <a class="standard-link" href="tel:+18007243606">1-800-724-6306</a> for more information.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> How will I know when the PQI 380 is fully charged? <i class="fas fa-bolt" style="color: #FFDE00;"></i></li>
            <li class="list-group-item"><span>A:</span> When the LED indicator on the back of the gauge changes from red to green.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> Should the PQI 380 remain in its original shipped case?</li>
            <li class="list-group-item"><span>A:</span> Yes, each case contains a standardization plate unique for that specific gauge.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> Is it necessary to calibrate the PQI 380 annually?</li>
            <li class="list-group-item"><span>A:</span> Yes, TransTech Systems suggests annual calibration of the PQI 380 gauge.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> Is the PQI 380 case waterproof? <i class="fas fa-tint" style="color: #00a9ff;"></i></li>
            <li class="list-group-item"><span>A:</span> Yes.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> Can the PQI 380 be used to measure core samples from a job site?</li>
            <li class="list-group-item"><span>A:</span> No.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> How do I get customer support for the PQI 380?</li>
            <li class="list-group-item"><span>A:</span> Call toll-free <a class="standard-link" href="tel:+18007243606">1-800-724-6306</a> or <a class="standard-link" href="tel:+5183705558">518-370-5558</a> (8:00 am – 5:00 pm EST - Monday – Friday) or <a class="standard-link" href="mailto:sales@transtechsys.com?subject=PQI%20380%20Support%20Request">Email Us</a></li>
            <li class="list-group-item active"><span class="yellow">Q:</span> What type of cleaning agents, if any, should be used to clean the sensor area of the PQI 380? How often?</li>
            <li class="list-group-item"><span>A:</span> WD-40 is a good cleaning agent. It is very important to spray the WD-40 on a rag and use on the sensor. DO NOT spray WD-40 directly on the sensor. Use when there is significant asphalt build up on the sensor. Be sure to clean the sensor after each days use.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> Does TransTech provide training for the PQI 380?</li>
            <li class="list-group-item"><span>A:</span> We welcome individuals to come to the TransTech Systems <a class="standard-link" href="/contactCorporate">facility in NY</a>, free of charge, for training. Please call toll-free <a class="standard-link" href="tel:+18007243606">1-800-724-6306</a> to arrange dates and for any additional training information.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> Is the PQI 380 availible in languages other than English? <i class="fas fa-globe" style="color: #00a9ff;"></i></li>
            <li class="list-group-item"><span>A:</span> Yes, we can also program the interface for Chinese, French, German, Japanese, Norwegian, Polish, Russian, Spanish or Swedish.</li>
            <li class="list-group-item active"><span class="yellow">Q:</span> What type of warranty is available with a new PQI 380?</li>
            <li class="list-group-item"><span>A:</span> We offer a 1 year warranty on parts and labor for issues related to materials and workmanship on all new PQI 380's.</li>
          </ul>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /faqs section -->
  
  
  <!-- library section -->
  <section id="productLibrary" class="py-5 mb-4">
    <div class="container text-center text-md-left">
      
      <h2>PQI 380 Library</h2>
      <hr>
      
      <div class="row">
        <div class="col">
          <p class="mb-4 specMessage">The specifications listed below are made available for your reference only. You are responsible for ensuring that you are using the latest and most up to date specification from your state.</p>
        </div>
      </div>
      
      <div class="row pt-3">
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/ncDensityGaugeEvaluationDec05.pdf" target="_blank">
            <h4>North Carolina State DOT Evaluation</h4>
            <hr>
            <p class="mb-0">Evaluation of different non-destructive devices used to test asphalt pavement density</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/ohioReportNonNuclearGauges.pdf" target="_blank">
            <h4>Ohio State DOT Evaluation</h4>
            <hr>
            <p class="mb-0">Study to characterize the performance of new non-nuclear instruments for real-time determination of in-place pavement density</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/OhioDOTPqiSpec1055.pdf" target="_blank">
            <h4>Ohio State DOT PQI Specefication</h4>
            <hr>
            <p class="mb-0">Specification of the PQI by Ohio State DOT</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/PQIDataComparisonsFlorida.pdf" target="_blank">
            <h4>PQI Data Comparisons - Florida</h4>
            <hr>
            <p class="mb-0">A chart compares correction factors applied to the PQI, Troxler PaveTracker and the Troxler 3450</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/PQIvsCores.pdf" target="_blank">
            <h4>PQI Versus Cores</h4>
            <hr>
            <p class="mb-0">A PQI vs cores comparison study prepared by Diamond Materials in Wilmington, Delaware</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/iowaPQITest.pdf" target="_blank">
            <h4>Iowa State PQI Test (Detailed)</h4>
            <hr>
            <p class="mb-0">Investigation of electromagnetic gauges for determining in-place HMA density</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/DELDOTDensityEvaluation.pdf" target="_blank">
            <h4>Delaware DOT Density Gauge Evaluation</h4>
            <hr>
            <p class="mb-0">Tests compared the PQI with two different Troxler models and cores from a 19mm overlay</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/PQIDataReaConstruction.pdf" target="_blank">
            <h4>PQI Comparisons</h4>
            <hr>
            <p class="mb-0">Report by Jim Smith (QA-QC Manager of Rea Construction in Charlotte, NC)</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/nchrp47PQI.pdf" target="_blank">
            <h4>PQI NCHRP Project 47</h4>
            <hr>
            <p class="mb-0">Evaluation of the PQI in field tests at various locations and comparisons with cores and a nuclear gauge</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/nebraskaPQIData.pdf" target="_blank">
            <h4>Nebraska PQI Evaluation</h4>
            <hr>
            <p class="mb-0">Study comparing 45 core samples with the PQI showing excellent correlation</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/utahNonNuclearEval.pdf" target="_blank">
            <h4>Evaluation of Non-Nuclear Gauges</h4>
            <hr>
            <p class="mb-0">Evaluation of non-nuclear gauges to measure density of hot-mix asphalt pavements by The University of Utah</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/floridaReportPQI2003.pdf" target="_blank">
            <h4>University of Florida PQI Report</h4>
            <hr>
            <p class="mb-0">Investigator's summary performed on the PQI by the University of Florida</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/sullyMillerReport2000.pdf" target="_blank">
            <h4>Non-Nuclear Gauge Comparison</h4>
            <hr>
            <p class="mb-0">A summary of operational differences between nuclear and non-nuclear density measuring instruments</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/skanskaPQIReport.pdf" target="_blank">
            <h4>Skanska PQI Evaluation</h4>
            <hr>
            <p class="mb-0">Investigator's summary performed on the PQI by Skanska Asphalt and Concrete Technology</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/ircTechniques.pdf" target="_blank">
            <h4>New Techniques Accredited by IRC</h4>
            <hr>
            <p class="mb-0">New material techniques accredited by the Indian Roads Congress</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/LAdamsonPQIStudy.pdf" target="_blank">
            <h4>PQI for Quality Control Testing</h4>
            <hr>
            <p class="mb-0">Study of the PQI for quality control testing by L. Adamson Graduate Engineer</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/PQIBrief.pdf" target="_blank">
            <h4>HMA Density and Temperature Measurement</h4>
            <hr>
            <p class="mb-0">Explaination the TransTech Systems non-nuclear method of HMA density and temperature measurement</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/techBrief380.pdf" target="_blank">
            <h4>PQI Technical Brief</h4>
            <hr>
            <p class="mb-0">TransTech Systems PQI Technical Brief</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/techBriefWaterTemp.pdf" target="_blank">
            <h4>Study of HMA Temperature and Water Measurement</h4>
            <hr>
            <p class="mb-0">Effects of water and temperature on hot mix asphalt density measurement using electromagnetic sensing</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/TN0302Rev3.pdf" target="_blank">
            <h4>Core Comparison</h4>
            <hr>
            <p class="mb-0">Assessment of data compared to cores processed according to AASHTO T-166</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/ohmpaPQIArticle.pdf" target="_blank">
            <h4>Equipment Profile - Electromagnetic gauges</h4>
            <hr>
            <p class="mb-0">Write up about the PQI by Ohmpa Asphalt Topics</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/milestonePQI98.pdf" target="_blank">
            <h4>PQI Is An Instant Success</h4>
            <hr>
            <p class="mb-0">Milestone contractors of Indianapolis compares the PQI with the nuclear gauge and cores</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/kentuckyPQIReport.pdf" target="_blank">
            <h4>Kentucky Transportation PQI Testing</h4>
            <hr>
            <p class="mb-0">Evaluation of non-nuclear gauges by Kentucky Transportation Center</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/arkansasPQI.pdf" target="_blank">
            <h4>University of Arkansas PQI Testing</h4>
            <hr>
            <p class="mb-0">Study of non-nuclear methods for HMA density measurements by the department of civil engineering</p>
          </a>
        </div>
      </div>
        
    </div>
  </section>
  <!-- /library section -->
  
  
  <!-- product message section -->
  <section id="productMessage" class="py-4 text-center">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <h3 class="mb-0">The <span class="yellow">PQI 380</span> conforms to <a class="standard-link-light" href="https://www.astm.org/Standards/D7113.htm" target="_blank">ASTM D7113</a> and <a class="standard-link-light" href="https://www.transportation.org" target="_blank">AASHTO T 343-12</a></h3>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product message section -->
  
  
  <!-- Modals -->
  
  <!-- Download Manual Modal -->
  
  <div class="modal fade communityModal" id="manualDownload" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Manual Download</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="manualForm" action="/pqi380" method="post">
            <div class="form-group d-none">
              <input type="text" class="form-control form-control-lg" name="manualName" id="manualName"> <!-- Send Manual name to backend -->
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control form-control-lg" name="name" id="name" required>
            </div>
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control form-control-lg" name="company" id="company" required>
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control form-control-lg" name="country" id="country" required>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control form-control-lg" name="email" id="email" required>
            </div>
            <div class="form-group mt-4">
              <label class="d-block">Current TransTech Systems Customer?</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="currentCustomer" id="currentCustomerYes" value="Yes" checked>
                <label class="form-check-label" for="currentCustomerYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="currentCustomer" id="currentCustomerNo" value="No">
                <label class="form-check-label" for="currentCustomerNo">No</label>
              </div>
            </div>
            <div class="form-group mt-4 hearAbout">
              <label for="reach">How did you hear about us?</label>
              <select class="form-control form-control-lg" name="reach" id="reach">
                <option>Asphalt Contractor Magazine</option>
                <option>NAPA - Asphalt Pavement Magazine</option>
                <option>Asphalt Pro Magazine</option>
                <option>TXAPA Magazine</option>
                <option>Ohio Flexible Pavements Magazine</option>
                <option>Florida Asphalt Association Magazine</option>
                <option>Facebook</option>
                <option>Twitter</option>
                <option>Google Plus</option>
                <option>Instagram</option>
                <option>Linked In</option>
                <option>World of Asphalt</option>
                <option>ConExpo</option>
                <option>Other Tradeshow</option>
                <option>Friend</option>
              </select>
            </div>
            <div class="form-group d-none"><!--HoneyPot-->
              <input type="text" class="form-control form-control-lg" name="address" id="address">
            </div>
            <button id="manualDownloadBtn" class="btn btn-success btn-lg submit-btn btn-block mt-5">Submit</button>
            <i class="fas fa-spinner fa-2x fa-spin mt-4 mb-3 mx-auto"></i><!--Initially hidden in the css-->
            <span class="submitMessage text-center mx-auto">Thank you, you may download the manual</span><!--Initially hidden in the css-->
          </form>
          <a id="manualDownloadLink" class="btn btn-outline-success btn-lg btn-block mt-3" href="#" target="_blank">Download Manual</a><!--Initially hidden in the css-->
        </div>
      </div>
    </div>
  </div>
  
<% include ./partials/footer %>