<% include ./partials/header %>
  
  <!-- product intro section -->
  <section id="productHero" class="d-flex">
    <div class="container my-auto">
      
      <div class="row">
        <div class="col-md-8 col-lg-5">
          <div id="title" class="text-center text-md-left">
            <h1 class="text-light">PQI 380</h1>
            <hr>
            <h3>Non-Nuclear Asphalt Density Gauge</h3>
            <a class="btn btn-outline-light mt-3" href="mailto:sales@transtechsys.com?subject=PQI 380 Quote"><i class="fas fa-shopping-cart"></i> Quote Request</a>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product intro section -->
  
<% include ./partials/footer %>