<% include ./partials/header %>
  
  <!-- product nav -->
  <section id="productNav" class="py-4">
    <div class="container">
        
      <div class="row">
        <div class="col">
          <div class="productLinks">
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Brochure</a>
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Nuke Trade-In</a>
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Manual</a>
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Quickstart</a>
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Report Template</a>
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Offset Cheat Sheet</a>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product nav -->
 
 
  <!-- product hero section -->
  <section id="productHero" class="pqi py-5">
    <div class="container">

      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div id="title" class="text-center text-md-left">
            <h1 class="text-light">PQI 380</h1>
            <hr>
            <h3 class="secondary-text">Non-Nuclear Asphalt Density Gauge</h3>
            <a class="btn btn-outline-light btn-lg mt-3" href="mailto:sales@transtechsys.com?subject=PQI 380 Quote Request"><i class="fas fa-shopping-cart"></i> Quote Request</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-block d-none d-md-block">
            <img class="product-feature img-fluid" src="../img/pqi380-featured.png" alt="PQI 380 Non-Nuclear Asphalt Density Gauge">
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product hero section -->
  
  
  <!-- product images section -->
  <section id="productImages" class="py-4">
    <div class="container">
      
      <div class="row">
        <div class="col imageContainer d-flex flex-wrap justify-content-center justify-content-md-start">
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
          <a href="img/pqi380-featured.png" data-lightbox="pqi380" data-title="My caption"><img src="img/pqi380-featured.png" alt="PQI 380" class="img-thumbnail"></a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product images section -->
  
  
  <!-- intro section -->
  <section id="intro" class="py-5">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <p class="lead">Introducing the next generation of TransTech Systems <strong>Non-Nuclear</strong> asphalt density gauge, the PQI 380. This version of the PQI is fully equipped with a touch screen and a user friendly graphical user interface. The PQI 380 uses Microsoft Windows CE for smooth operation, easy software upgrades and enhanced user support</p>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /intro section -->
  
  
  <!-- product message section -->
  <section id="productMessage" class="py-4 text-center">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <h3 class="mb-0">The PQI 380 conforms to ASTM standard D7113 and AASHTO T 343-12</h3>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product message section -->
  
<% include ./partials/footer %>