<% include ./partials/header %>
  
  <!-- Contact Section -->
  <section id="contact">
    <div class="container">
      <div class="row">
        
        <div class="col">
          <h2 class="pb-3 text-center text-md-left">Product Warranty Registration</h2>
          
          <form action="" method="post" class="d-flex flex-column">
            <div class="form-group">
              <label for="name" class="text-left">Name</label>
              <input type="text" class="form-control form-control-lg" name="name" id="name" required>
            </div>
            
            <div class="form-group">
              <label for="company" class="text-left">Company</label>
              <input type="text" class="form-control form-control-lg" name="company" id="company" required>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="state" class="text-left">State</label>
                  <input type="text" class="form-control form-control-lg" name="state" id="state">
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-group">
                  <label for="country" class="text-left">Country</label>
                  <input type="text" class="form-control form-control-lg" name="country" id="country" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone" class="text-left">Phone</label>
                  <input type="text" class="form-control form-control-lg" name="phone" id="phone" required>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" class="form-control form-control-lg" name="email" id="email" required>
                </div>
              </div>
            </div>
            
            <div class="form-group mt-4">
              <p class="text-left mb-3">Chose product to register</p>
              <div class="form-check ml-3">
                <input class="form-check-input mt-2" type="checkbox" id="asphaltDensity" value="asphaltDensity">
                <label class="form-check-label" for="asphaltDensity">PQI 380 - Non-Nuclear Asphalt Density Gauge</label>
              </div>
              <div class="form-check ml-3 mt-2">
                <input class="form-check-input mt-2" type="checkbox" id="soilDensity" value="soiltDensity">
                <label class="form-check-label" for="soilDensity">SDG 200 - Non-Nuclear Soil Density Gauge</label>
              </div>
              <div class="form-check ml-3 mt-2">
                <input class="form-check-input mt-2" type="checkbox" id="pts" value="pts">
                <label class="form-check-label" for="pts">PTS 3000 - Pavement Temperature Sentry</label>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mt-4">
                  <label for="date" class="text-left">Date Purchased</label>
                  <input type="date" class="form-control form-control-lg" name="date" id="date" required>
                </div>                
              </div>
              
              <div class="col-md-6">
                <div class="form-group mt-4">
                  <label for="serial" class="text-left">Product Serial Number</label>
                  <input type="text" class="form-control form-control-lg" name="serial" id="serial" required>
                </div>                
              </div>
            </div>

            <button class="btn btn-outline-success btn-lg submit-btn ml-0 ml-lg-auto mt-4">Submit</button>
          </form>
        </div>
        
      </div>
    </div>
  </section>
  <!-- /contact Section -->
  
<% include ./partials/footer %>