<% include ./partials/header %>
  
  <!-- product nav -->
  <section id="productNav" class="py-4">
    <div class="container">
        
      <div class="row">
        <div class="col">
          <div class="productLinks">
            <a href="/pdf/PTS3000Brochure.pdf" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true" target="_blank">Brochure</a>
            <button class="btn productLinkBtn mb-2 mb-lg-0" data-id="ptsmanual" data-toggle="modal" data-target="#manualDownload">User Manual</button>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product nav -->
 
 
  <!-- product hero section -->
  <section id="productHero" class="asphalt py-5">
    <div class="container">

      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div id="title" class="text-center text-md-left">
            <h1 class="text-light">PTS 3000</h1>
            <hr>
            <h3 class="secondary-text">Pavement Temperature Sentry</h3>
            <a class="btn btn-outline-light btn-lg mt-3" href="mailto:sales@transtechsys.com?subject=PTS 3000 Quote Request"><i class="fas fa-shopping-cart"></i> Quote Request</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-block d-none d-md-block">
            <img class="pts-feature img-fluid" src="../img/pts3000-featured.png" alt="Pavement Temperature Sentry">
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product hero section -->
  
  
  <!-- product images section -->
  <section id="productImages" class="py-4">
    <div class="container">
      
      <div class="row">
        <div class="col imageContainer d-flex flex-wrap justify-content-center justify-content-md-start">
          <a href="img/pts3000-1.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-1.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
          <a href="img/pts3000-2.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-2.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
          <a href="img/pts3000-3.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-3.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
          <a href="img/pts3000-4.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-4.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
          <a href="img/pts3000-5.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-5.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
          <a href="img/pts3000-6.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-6.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product images section -->
  
  
  <!-- intro section -->
  <section id="intro" class="pt-5">
    <div class="container text-center text-md-left">
      
      <div class="row">
        <div class="col">
          <p class="lead">The PTS 3000 was designed and built to provide accurate HMA mat temperatures on the run. Mounted at the roller operator station, the bright red LED display gives continuous, consistent and accurate temperature readings while the roller is running.</p>
          <p class="lead">This device is perfect for use on perpetual pavement compaction jobs where knowledge of mat temperature is critical to rolling patterns, density and the success of the job. The PTS 3000 eliminates the need for a portable temperature gun and its associated labor.</p>
          <p class="lead mb-0">The Pavemant Temperature Sentry fits any new or used roller. It is easy to install, can be designed into the roller by the OEM, added at the dealership or rental house or by the contractor in the field.</p>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /intro section -->
  
  
  <!-- videos section -->
  <section id="productVideos" class="py-5">
    <div class="container text-center text-md-left">
      
      <h2>PTS 3000 Videos</h2>
      <hr>
      
      <div class="row pt-3">
        <div class="col-lg-6 mb-4">
        	<div class="youtubeEmbed" id="Ej_3mkkTlSk"></div>
        </div>
      </div>
      
      <div class="row mt-2">
        <div class="col-lg-6">
          <a href="https://vimeo.com/transtechsystems" class="btn btn-outline-info btn-block vimeoLink" role="button" aria-disabled="true" target="blank"><i class="fab fa-vimeo"></i> Vimeo link for users who cannot access YouTube</a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /videos section -->
  
  
  <!-- product message section -->
  <section id="productMessage" class="py-4 text-center">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <h3 class="mb-0">Give us a call today for a quote on the PTS 3000!</h3>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product message section -->
  
  
  <!-- Modals -->
  
  <!-- Download Manual Modal -->
  
  <div class="modal fade communityModal" id="manualDownload" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Manual Download</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="manualForm" action="" method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control form-control-lg" name="name" id="name" required>
            </div>
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control form-control-lg" name="company" id="company" required>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control form-control-lg" name="email" id="email" required>
            </div>
            <div class="form-group mt-4">
              <label class="d-block">Current TransTech Systems Customer?</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="currentCustomer" id="currentCustomerYes" value="yes" checked>
                <label class="form-check-label" for="currentCustomerYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="currentCustomer" id="currentCustomerNo" value="no">
                <label class="form-check-label" for="currentCustomerNo">No</label>
              </div>
            </div>
            <div class="form-group mt-4 hearAbout">
              <label for="reach">How did you hear about us?</label>
              <select class="form-control form-control-lg" name="reach" id="reach">
                <option>Asphalt Contractor Magazine</option>
                <option>NAPA - Asphalt Pavement Magazine</option>
                <option>Asphalt Pro Magazine</option>
                <option>TXAPA Magazine</option>
                <option>Ohio Flexible Pavements Magazine</option>
                <option>Florida Asphalt Association Magazine</option>
                <option>Facebook</option>
                <option>Twitter</option>
                <option>Google Plus</option>
                <option>Instagram</option>
                <option>Linked In</option>
                <option>World of Asphalt</option>
                <option>ConExpo</option>
                <option>Other Tradeshow</option>
                <option>Friend</option>
              </select>
            </div>
            <div class="form-group d-none"><!--HoneyPot-->
              <input type="address" class="form-control form-control-lg" name="address" id="address">
            </div>
            <button id="manualDownloadBtn" class="btn btn-success btn-lg submit-btn btn-block mt-5">Submit</button>
            <i class="fas fa-spinner fa-2x fa-spin mt-4 mb-3 mx-auto"></i><!--Initially hidden in the css-->
            <span class="submitMessage text-center mx-auto">Thank you, you may download the manual</span><!--Initially hidden in the css-->
          </form>
          <a id="manualDownloadLink" class="btn btn-outline-success btn-lg btn-block mt-3" href="#" target="_blank">Download Manual</a><!--Initially hidden in the css-->
        </div>
      </div>
    </div>
  </div>
  
<% include ./partials/footer %>