<% include ./partials/header %>
  
  <!-- product nav -->
  <section id="productNav" class="py-4">
    <div class="container">
        
      <div class="row">
        <div class="col">
          <div class="productLinks">
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Brochure</a>
            <a href="#" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Manual</a>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product nav -->
 
 
  <!-- product hero section -->
  <section id="productHero" class="asphalt py-5">
    <div class="container">

      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div id="title" class="text-center text-md-left">
            <h1 class="text-light">PTS 3000</h1>
            <hr>
            <h3 class="secondary-text">Pavement Temperature Sentry</h3>
            <a class="btn btn-outline-light btn-lg mt-3" href="mailto:sales@transtechsys.com?subject=PTS 3000 Quote Request"><i class="fas fa-shopping-cart"></i> Quote Request</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-block d-none d-md-block">
            <img class="pts-feature img-fluid" src="../img/pts3000-featured.png" alt="Pavement Temperature Sentry">
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product hero section -->
  
  
  <!-- product images section -->
  <section id="productImages" class="py-4">
    <div class="container">
      
      <div class="row">
        <div class="col imageContainer d-flex flex-wrap justify-content-center justify-content-md-start">
          <a href="img/pts3000-1.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-1.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
          <a href="img/pts3000-2.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-2.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
          <a href="img/pts3000-3.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-3.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
          <a href="img/pts3000-4.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-4.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
          <a href="img/pts3000-5.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-5.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
          <a href="img/pts3000-6.jpg" data-lightbox="PTS 3000" data-title="PTS 3000 Pavement Temperature Sentry"><img src="img/pts3000-6.jpg" alt="PTS 3000 Pavement Temperature Sentry" class="img-thumbnail"></a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product images section -->
  
  
  <!-- intro section -->
  <section id="intro" class="pt-5">
    <div class="container text-center text-md-left">
      
      <div class="row">
        <div class="col">
          <p class="lead">The PTS 3000 was designed and built to provide accurate HMA mat temperatures on the run. Mounted at the roller operator station, the bright red LED display gives continuous, consistent and accurate temperature readings while the roller is running.</p>
          <p class="lead">This device is perfect for use on perpetual pavement compaction jobs where knowledge of mat temperature is critical to rolling patterns, density and the success of the job. The PTS 3000 eliminates the need for a portable temperature gun and its associated labor.</p>
          <p class="lead mb-0">The Pavemant Temperature Sentry fits any new or used roller. It is easy to install, can be designed into the roller by the OEM, added at the dealership or rental house or by the contractor in the field.</p>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /intro section -->
  
  
  <!-- videos section -->
  <section id="productVideos" class="py-5">
    <div class="container text-center text-md-left">
      
      <h2>PTS 3000 Videos</h2>
      <hr>
      
      <div class="row pt-3">
        <div class="col-lg-6 mb-4">
        	<div class="youtubeEmbed" id="Ej_3mkkTlSk"></div>
        </div>
      </div>
      
      <div class="row mt-2">
        <div class="col-lg-6">
          <a href="https://vimeo.com/transtechsystems" class="btn btn-outline-info btn-block vimeoLink" role="button" aria-disabled="true" target="blank"><i class="fab fa-vimeo"></i> Vimeo link for users who cannot access YouTube</a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /videos section -->
  
  
  <!-- product message section -->
  <section id="productMessage" class="py-4 text-center">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <h3 class="mb-0">Give us a call today for a quote on the PTS 3000!</h3>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product message section -->
  
<% include ./partials/footer %>