<% include ./partials/header %>
  
  <!-- product intro section -->
  <section id="productHero" class="sdg py-5">
    <div class="container my-auto">
      
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div id="title" class="text-center text-md-left">
            <h1 class="text-light">SDG 200</h1>
            <hr>
            <h3 class="secondary-text sdgTitle">Non-Nuclear Soil Density Gauge</h3>
            <a class="btn btn-outline-light btn-lg mt-3" href="mailto:sales@transtechsys.com?subject=SDG 200 Quote Request"><i class="fas fa-shopping-cart"></i> Quote Request</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-block d-none d-md-block">
            <img class="product-feature img-fluid" src="../img/sdg200-featured.png" alt="SDG 200 Non-Nuclear Soil Density Gauge">
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product intro section -->
  
<% include ./partials/footer %>