<% include ./partials/header %>

  <!-- product nav -->
  <section id="productNav" class="py-4">
    <div class="container">
        
      <div class="row">
        <div class="col">
          <div class="productLinks">
            <a href="#" class="btn sdgLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Brochure</a>
            <a href="#" class="btn sdgLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">MTL Generator</a>
            <a href="#" class="btn sdgLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">MTL File Tool</a>
            <a href="#" class="btn sdgLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Manual</a>
            <a href="#" class="btn sdgLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Quickstart</a>
            <a href="#" class="btn sdgLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Report Template</a>
            <a href="#" class="btn sdgLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true">Cheat Sheet</a>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product nav -->
  
  
  <!-- product hero section -->
  <section id="productHero" class="sdg py-5">
    <div class="container my-auto">
      
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div id="title" class="text-center text-md-left">
            <h1 class="text-light">SDG 200</h1>
            <hr>
            <h3 class="secondary-text sdgTitle">Non-Nuclear Soil Density Gauge</h3>
            <a class="btn btn-outline-light btn-lg mt-3" href="mailto:sales@transtechsys.com?subject=SDG 200 Quote Request"><i class="fas fa-shopping-cart"></i> Quote Request</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-block d-none d-md-block">
            <img class="product-feature img-fluid" src="../img/sdg200-featured.png" alt="SDG 200 Non-Nuclear Soil Density Gauge">
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product hero section -->
  
  
  <!-- product images section -->
  <section id="productImages" class="py-5">
    
    
    
  </section>
  <!-- /product images section -->
  
  
  <!-- intro section -->
  <section id="intro" class="py-5">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <p class="lead">Introducing the next generation of TransTech Systems <strong>Non-Nuclear</strong> soil density gauge, the SDG 200. This version of the SDG is fully equipped with a touch screen and a user friendly graphical user interface. The SDG 200 uses Microsoft Windows CE for smooth operation, easy software upgrades and enhanced user support</p>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /intro section -->
  
  
  <!-- product message section -->
  <section id="productMessage" class="py-4 text-center">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <h3 class="mb-0">The SDG 200 conforms to ASTM standard D7830</h3>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product message section -->
  
<% include ./partials/footer %>