<% include ./partials/header %>
  
  <!-- product nav -->
  <section id="productNav" class="py-4">
    <div class="container">
        
      <div class="row">
        <div class="col">
          <div class="productLinks">
            <a href="/pdf/SWMBrochure.pdf" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true" target="_blank">Brochure</a>
            <a href="/pdf/SWMGuideSpecs.pdf" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true" target="_blank">Guide Specs</a>
            <button class="btn productLinkBtn mb-2 mb-lg-0" data-id="SWM Manual" data-toggle="modal" data-target="#manualDownload">Manual</button>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product nav -->
 
 
  <!-- product hero section -->
  <section id="productHero" class="asphalt py-5">
    <div class="container">

      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div id="title" class="text-center text-md-left">
            <h1 class="text-light">SWM</h1>
            <hr>
            <h3 class="secondary-text">Shoulder Wedge Maker</h3>
            <a class="btn btn-outline-light btn-lg mt-3" href="mailto:sales@transtechsys.com?subject=SWM%20Quote%20Request"><i class="fas fa-shopping-cart"></i> Quote Request</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-block d-none d-md-block">
            <img class="swm-feature img-fluid" src="../img/swm-product-feature.jpg" alt="Shoulder Wedge Maker Screed Attachment">
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product hero section -->
  
  
  <!-- product images section -->
  <section id="productImages" class="py-4">
    <div class="container">
      
      <div class="row">
        <div class="col imageContainer d-flex flex-wrap justify-content-center justify-content-md-start">
          <a href="img/swm-1.jpg" data-lightbox="SWM" data-title="SWM Screed Attachment"><img src="img/swm-1.jpg" alt="SWM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/swm-2.jpg" data-lightbox="SWM" data-title="SWM Screed Attachment"><img src="img/swm-2.jpg" alt="SWM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/swm-3.jpg" data-lightbox="SWM" data-title="SWM Screed Attachment"><img src="img/swm-3.jpg" alt="SWM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/swm-4.jpg" data-lightbox="SWM" data-title="SWM Screed Attachment"><img src="img/swm-4.jpg" alt="SWM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/swm-5.jpg" data-lightbox="SWM" data-title="SWM Screed Attachment"><img src="img/swm-5.jpg" alt="SWM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/swm-6.jpg" data-lightbox="SWM" data-title="SWM Screed Attachment"><img src="img/swm-6.jpg" alt="SWM Screed Attachment" class="img-thumbnail"></a>
          <a href="img/swm-7.jpg" data-lightbox="SWM" data-title="SWM Screed Attachment"><img src="img/swm-7.jpg" alt="SWM Screed Attachment" class="img-thumbnail"></a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product images section -->
  
  
  <!-- intro section -->
  <section id="intro" class="pt-5">
    <div class="container text-center text-md-left">
      
      <div class="row mb-5">
        <div class="col">
          <p class="lead">Research and jobsite studies around the United States and other countries indicate that roadways built without shoulders, especially those with over 2” lift thickness, include sharp drop-offs that may lead to serious accidents with possible fatalities.</p>
          <p class="lead">The problem, according to numerous jurisdictions, is twofold: One, the sharp, vertical pavement edge, when crossed by a vehicle, may cause an abrupt drop, which in turn may be the cause of the vehicle colliding with trees, guard rails and other objects.</p>
          <p class="lead">Secondly, and on most occasions far worse, the driver overcompensates when steering the car back up over the road edge, often crossing into oncoming traffic.</p>
          <p class="lead mb-0">TransTech has been working with many states and has developed a solution known as the Shoulder Wedge Maker™ (SWM). The TransTech SWM mounts directly on most paver screed extensions against the end gate and provides a 30 degree beveled shoulder edge that gradually transitions wayward vehicles off shoulderless road surfaces and back on with relative ease.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <a class="swm-beware" href="/pdf/SafetyEdge2010Results.pdf" role="button" target="_blank"><i class="fas fa-exclamation-triangle"></i> Beware! Not all Shoulder Wedge Makers have been shown to meet the LESS THAN 45° SPEC!</a>
        </div>
        <div class="col-lg-6">
          <a class="swm-fed-study" href="/pdf/SafetyEdge.pdf" role="button" target="_blank"><i class="fas fa-question-circle"></i> A Federal Highway Study proved that 53% of vehicle accidents are due to excessive shoulder drop-offs!</a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /intro section -->
  
  
  <!-- videos section -->
  <section id="productVideos" class="pt-5">
    <div class="container text-center text-md-left">
      
      <h2>SWM Videos</h2>
      <hr>
      
      <div class="row pt-3">
        <div class="col-lg-6 mb-4">
        	<div class="youtubeEmbed" id="VWXsSv2rFeg"></div>
        </div>
        <div class="col-lg-6 mb-4">
        	<div class="youtubeEmbed" id="a1PjxqOtwNI"></div>
        </div>
        <div class="col-lg-6 mb-4">
        	<div class="youtubeEmbed" id="cBYIbWHuuPk"></div>
        </div>
      </div>
      
      <div class="row mt-2">
        <div class="col-lg-6">
          <a href="https://vimeo.com/transtechsystems" class="btn btn-outline-info btn-block vimeoLink" role="button" aria-disabled="true" target="blank"><i class="fab fa-vimeo"></i> Vimeo link for users who cannot access YouTube</a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /videos section -->
  
  
  <!-- library section -->
  <section id="productLibrary" class="py-5">
    <div class="container text-center text-md-left">
      
      <h2>SWM Library</h2>
      <hr>
      
      <div class="row">
        <div class="col">
          <p class="mt-2 mb-3 specMessage">The specifications listed below are made available for your reference only. You are responsible for ensuring that you are using the latest and most up to date specification from your state.</p>
        </div>
      </div>
      
      <div class="row pt-3">
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/SWMGuideSpecs.pdf" target="_blank">
            <h4>SWM Guide Specs</h4>
            <hr>
            <p class="mb-0">Guide Specifications for the SWM</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/TransTechRoadSafety.pdf" target="_blank">
            <h4>TransTech’s Products Increase Road Safety</h4>
            <hr>
            <p class="mb-0">Build Your Roads Safer & Better while saving money!</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/SafetyEdge2010Results.pdf" target="_blank">
            <h4>SWM Maine Route 117 Test Summary</h4>
            <hr>
            <p class="mb-0">Safety Edge equipment/processes improvements – FHWA evaluation in 2011</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="https://www.fhwa.dot.gov/innovation/everydaycounts/edc-1/safetyedge.cfm" target="_blank">
            <h4>SWM info on the Federal Highway Administration's (FHWA) website</h4>
            <hr>
            <p class="mb-0">Pavement edge drop-off on highways has been linked to many serious crashes, including fatal collisions</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/nyso_swm.pdf" target="_blank">
            <h4>New York State DOT Engineering Instructions EI-10-012</h4>
            <hr>
            <p class="mb-0">Announcment for the requirement of shoulder wedges for binder and top courses</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/SWM2005TRB.pdf" target="_blank">
            <h4>Transportation Research Board 2005 Report on SWM</h4>
            <hr>
            <p class="mb-0">Construction of a Safe Pavement Edge: Minimizing the Effects of Shoulder Dropoff</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/fhaSWM.pdf" target="_blank">
            <h4>Safety Edge Catches On As Life-Saving Technique</h4>
            <hr>
            <p class="mb-0">Federal Highway Administration article explaining the importance of the SWM</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/FHWAsafetyedge.pdf" target="_blank">
            <h4>Federal Highway Administrations Safety Edge Brochure</h4>
            <hr>
            <p class="mb-0">You Can Reduce Pavement Edge Drop-off Hazards</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/CalTransSWMBrochure.pdf" target="_blank">
            <h4>CalTrans Safety Edge Brochure</h4>
            <hr>
            <p class="mb-0">Safety Edge brochure from the Innovation Team (I-Team) at the Caltrans Division of Research and Innovation</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/WSDOTSafetyEdge.pdf" target="_blank">
            <h4>Pavement Edge Treatment Study</h4>
            <hr>
            <p class="mb-0">Conducted by The Washington State Department of Transportation</p>
          </a>
        </div>
        <div class="col-lg-6 mb-4">
          <a class="libraryItem yellowLib" href="/pdf/ACPAConferenceSafetyEdge.pdf" target="_blank">
            <h4>State of Delaware SWM Study</h4>
            <hr>
            <p class="mb-0">Safety Edge Demonstration Project Seaford, Delaware</p>
          </a>
        </div>
      </div>
        
    </div>
  </section>
  <!-- /library section -->
  
  
  <!-- product message section -->
  <section id="productMessage" class="py-4 text-center">
    <div class="container">
      
      <div class="row">
        <div class="col">
          <h3 class="mb-0">Give us a call today for a quote on the <span class="yellow">SWM!</span></h3>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /product message section -->
  
  
  <!-- Modals -->
  
  <!-- Download Manual Modal -->
  
  <div class="modal fade communityModal" id="manualDownload" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Manual Download</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="manualForm" action="/swm" method="post">
            <div class="form-group d-none">
              <input type="text" class="form-control form-control-lg" name="manualName" id="manualName"> <!-- Send Manual name to backend -->
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control form-control-lg" name="name" id="name" required>
            </div>
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control form-control-lg" name="company" id="company" required>
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control form-control-lg" name="country" id="country" required>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control form-control-lg" name="email" id="email" required>
            </div>
            <div class="form-group mt-4">
              <label class="d-block">Current TransTech Systems Customer?</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="currentCustomer" id="currentCustomerYes" value="Yes" checked>
                <label class="form-check-label" for="currentCustomerYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="currentCustomer" id="currentCustomerNo" value="No">
                <label class="form-check-label" for="currentCustomerNo">No</label>
              </div>
            </div>
            <div class="form-group mt-4 hearAbout">
              <label for="reach">How did you hear about us?</label>
              <select class="form-control form-control-lg" name="reach" id="reach">
                <option>Asphalt Contractor Magazine</option>
                <option>NAPA - Asphalt Pavement Magazine</option>
                <option>Asphalt Pro Magazine</option>
                <option>TXAPA Magazine</option>
                <option>Ohio Flexible Pavements Magazine</option>
                <option>Florida Asphalt Association Magazine</option>
                <option>Facebook</option>
                <option>Twitter</option>
                <option>Google Plus</option>
                <option>Instagram</option>
                <option>Linked In</option>
                <option>World of Asphalt</option>
                <option>ConExpo</option>
                <option>Other Tradeshow</option>
                <option>Friend</option>
              </select>
            </div>
            <div class="form-group d-none"><!--HoneyPot-->
              <input type="text" class="form-control form-control-lg" name="address" id="address">
            </div>
            <button id="manualDownloadBtn" class="btn btn-success btn-lg submit-btn btn-block mt-5">Submit</button>
            <i class="fas fa-spinner fa-2x fa-spin mt-4 mb-3 mx-auto"></i><!--Initially hidden in the css-->
            <span class="submitMessage text-center mx-auto">Thank you, you may download the manual</span><!--Initially hidden in the css-->
          </form>
          <a id="manualDownloadLink" class="btn btn-outline-success btn-lg btn-block mt-3" href="#" target="_blank">Download Manual</a><!--Initially hidden in the css-->
        </div>
      </div>
    </div>
  </div>
  
<% include ./partials/footer %>