<% include ./partials/header %>

  <!-- Google Map Script -->
  <script src="../js/tradeshowMap.js"></script>
  
  <!-- map section -->
  <section id="map"></section>
  <!-- /map section -->
  
  <!-- Tradeshow Section -->
  <section id="tradeshows">
    <div class="container text-center text-md-left">
      <h2 class="pb-3">Trade Shows</h2>
      <hr>
      
      <div class="tradeshow-items">
        
        <div>
          <h3>September 6-8, 2018</h3>
          <a class="news-link mt-3" href="https://asean.intermatconstruction.com" target="_blank">Intermat ASEAN - Bangkok, Thailand</a>
          <p class="lead mt-2">We travel to Thailand for the 2018 INTERMAT ASEAN. The Southeast Asian trade show for construction and infrastructure.</p>
        </div>
        
        <div>
          <h3>September 18-21, 2018</h3>
          <a class="news-link mt-3" href="https://www.texasasphalt.org" target="_blank">TXAPA - Horseshoe Bay, TX</a>
          <p class="lead mt-2">We travel to the Horseshoe Bay Resort for the 44th annual Texas Asphalt Pavement Association meeting.</p>
        </div>
        
        <div>
          <h3>October 16-17, 2018</h3>
          <a class="news-link mt-3" href="http://www.neaupg.uconn.edu" target="_blank">NEAUPG - Atlantic City, NJ</a>
          <p class="lead mt-2">We attend the North East Asphalt User/Producer Group's annual fall Meeting. Promoting solutions through discussion to improve the quality and performance of asphalt pavement applications in the Northeastern United States.</p>
        </div>
        
        <div>
          <h3>November 12-15, 2018</h3>
          <a class="news-link mt-3" href="http://www.seaupg.org" target="_blank">SEAUPG - Raleigh, NC</a>
          <p class="lead mt-2">We travel to Raleigh for the annual Southeastern Asphalt User/Producer Group Meeting. A regional forum for discussion and exchange of asphalt pavement technologies.</p>
        </div>
        
        <div>
          <h3>December 19-21, 2018</h3>
          <a class="news-link mt-3" href="https://asphaltindiana.org" target="_blank">APAI - Indianapolis, IN</a>
          <p class="lead mt-2">We attend the Asphalt Pavement Association of Indiana's annual winter conference and trade show. Held each December in Indianapolis, over 600 individuals and 50 vendors participate and discuss production and construction of quality asphalt pavements.</p>
        </div>
        
        <div>
          <h3>January 13-17, 2019</h3>
          <a class="news-link mt-3" href="http://www.trb.org/AnnualMeeting/AnnualMeeting.aspx" target="_blank">TRB - Washington, D.C.</a>
          <p class="lead mt-2">We attend the Transportation Research Board's 98th Annual Meeting in D.C. This information-packed program is expected to attract more than 13,000 transportation professionals from around the world.</p>
        </div>
        
        <div>
          <h3>February 12-14, 2019</h3>
          <a class="news-link mt-3" href="http://www.worldofasphalt.com" target="_blank">World of Asphalt - Indianapolis, IN - Booth# 26127</a>
          <p class="lead mt-2">We attend World of Asphalt 2019 in Indiana. Over 450 of the industry's leading manufacturers and service providers in the aggregate, asphalt, pavement maintenance, and traffic safety industry sectors come together at World of Asphalt to showcase their latest products and technologies.</p>
        </div>
        
        <div>
          <h3>February 27-March 1, 2019</h3>
          <a class="news-link mt-3" href="https://www.rmaces.org/index.php" target="_blank">RMACES - Denver, CO</a>
          <p class="lead mt-2">We attend the 46th Annual Rocky Mountain Asphalt Conference & Equipment Show. 60,000 sq. ft. tradeshow filled with product and service providers.</p>
        </div>
        
        <div>
          <h3>March 6-7, 2019</h3>
          <a class="news-link mt-3" href="http://www.apa-mi.org/index.php" target="_blank">APAM - Battle Creek, MI</a>
          <p class="lead mt-2">We attend the 63rd Annual Michigan Asphalt Pavement Association Paving Conference. Over 350 attendees promoting the best of industry practices and product knowledge.</p>
        </div>
        
        <div>
          <h3>March 26-27, 2019</h3>
          <a class="news-link mt-3" href="http://www.flexiblepavements.org" target="_blank">Ohio Asphalt Expo - Columbus, OH</a>
          <p class="lead mt-2">We attend the 2019 Ohio Asphalt Expo. The Asphalt Expo is Ohio’s premiere asphalt pavement event with multiple concurrent educational sessions and an indoor and outdoor trade show and exhibition.</p>
        </div>
        
        <div>
          <h3>March 10-14 2020</h3>
          <a class="news-link mt-3" href="http://www.conexpoconagg.com" target="_blank">ConExpo - Las Vegas, Nevada</a>
          <p class="lead mt-2">We attend ConExpo 2020 in Vegas! Held once every 3 years, CONEXPO-CON/AGG is North America’s largest construction trade show representing asphalt, aggregates, concrete, earthmoving, lifting, mining, utilities and more.</p>
        </div>
        
      </div><!-- /tradeshow-items -->
      
    </div><!-- /container -->
  </section>
  <!-- /tradeshow Section -->
  
  
<% include ./partials/footer %>