<% include ./partials/header %>
  
  <!-- Tradeshow Section -->
  <section id="tradeshows">
    <div class="container text-center text-md-left">
      <h2 class="pb-3">Trade Shows</h2>
      <hr>
      
      <div class="tradeshow-items">
        
        <div>
          <h3>September 6-8 2018</h3>
          <a class="news-link mt-3" href="https://asean.intermatconstruction.com" target="_blank">Intermat ASEAN - Bangkok, Thailand</a>
          <p class="lead mt-2">We travel to Thailand for the 2018 INTERMAT ASEAN. The Southeast Asian trade show for construction and infrastructure.</p>
        </div>
        
        <div>
          <h3>November 12-15 2018</h3>
          <a class="news-link mt-3" href="http://www.seaupg.org" target="_blank">SEAUPG - Raleigh, NC</a>
          <p class="lead mt-2">We travel to Raleigh for the annual Southeastern Asphalt User/Producer Group Meeting. A regional forum for discussion and exchange of asphalt pavement technologies.</p>
        </div>
        
        <div>
          <h3>January 13-17 2019</h3>
          <a class="news-link mt-3" href="http://www.trb.org/AnnualMeeting/AnnualMeeting.aspx" target="_blank">TRB - Washington, D.C.</a>
          <p class="lead mt-2">We attend the Transportation Research Board's 98th Annual Meeting in D.C. This information-packed program is expected to attract more than 13,000 transportation professionals from around the world.</p>
        </div>
        
        <div>
          <h3>February 12-14 2019</h3>
          <a class="news-link mt-3" href="http://www.worldofasphalt.com" target="_blank">World of Asphalt - Indianapolis, IN</a>
          <p class="lead mt-2">We attend World of Asphalt 2019 in Indiana. Over 450 of the industry's leading manufacturers and service providers in the aggregate, asphalt, pavement maintenance, and traffic safety industry sectors come together at World of Asphalt to showcase their latest products and technologies.</p>
        </div>
        
        <div>
          <h3>March 10-14 2020</h3>
          <a class="news-link mt-3" href="http://www.conexpoconagg.com" target="_blank">ConExpo - Las Vegas, Nevada</a>
          <p class="lead mt-2">We attend ConExpo 2020 in Vegas! Held once every 3 years, CONEXPO-CON/AGG is North America’s largest construction trade show representing asphalt, aggregates, concrete, earthmoving, lifting, mining, utilities and more.</p>
        </div>
        
      </div><!-- /tradeshow-items -->
      
    </div><!-- /container -->
  </section>
  <!-- /tradeshow Section -->
  
  
<% include ./partials/footer %>