body {
  line-height: 1.5;
  background: #f7f7f7; }

h1, h2, h3 {
  font-family: 'Alfa Slab One', sans-serif; }

header {
  height: 100vh;
  background: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.top-bar {
  background: #FFDE00;
  color: #303030;
  font-family: 'Alfa Slab One', sans-serif; }
  .top-bar .phone-link {
    color: #303030; }
    .top-bar .phone-link:hover, .top-bar .phone-link:active {
      color: #727272;
      text-decoration: none; }

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  background: rgba(48, 48, 48, 0.9); }

.dropdown-menu {
  border-radius: 0; }

.dropdown-item {
  font-family: 'Prompt', sans-serif;
  font-weight: 600; }
  .dropdown-item:hover {
    background: #fff8cc; }
  .dropdown-item:active {
    background: #727272; }

.navbar-dark .navbar-nav .nav-link {
  color: #dbdbdb; }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active {
    color: #FFDE00; }

#hero {
  height: calc(100vh - 100px);
  background: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  #hero .divider {
    border: 0;
    width: 100%;
    height: 2px;
    background: rgba(247, 247, 247, 0.7); }
  #hero h1 {
    font-size: 4em;
    color: #f7f7f7;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.9); }
  @media (max-width: 50em) {
    #hero {
      height: 85vh; }
      #hero h1 {
        font-size: 2.5rem; }
      #hero .hero-logo {
        width: 75vw; } }

.non-nuclear {
  display: inline-block;
  padding: .1em .35em;
  margin: .2em 0;
  background: rgba(255, 222, 0, 0.75);
  text-shadow: none;
  color: #152235; }
