#news {
  font-size: 1.25rem;
  padding: 3em 0;
  border-top: 1px solid $gray;
  min-height: 100vh;

  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: darken($light-gray, 10%);
    margin-bottom: 2em;
  }
  
  h3 {
    font-size: 1.35rem;
    background: $logo-yellow;
    display: inline-block;
    padding: .35em .5em;
  }
  
  
}