.map-text {
  font-size: 0.85rem;

  span {
    font-weight: 600;
  }

  hr {
    margin: 0.5em 0;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  .link {
    color: $dark-gray;
    font-weight: 600;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

#distributors {
  font-size: 1.25rem;
  padding: 3em 0;
  border-top: 1px solid $gray;

  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: $dark-gray;
    margin-bottom: 2em;
  }

  h3 {
    font-size: 1.35rem;
    background: $logo-yellow;
    display: inline-block;
    padding: 0.35em 0.5em;
  }

  .companies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .comnpany-container {
      margin-bottom: 1.75em;
    }

    span {
      font-weight: 600;
    }

    .serviceCenter {
      font-size: 1rem;
      display: inline-block;
      background: #000;
      padding: 0.25em 0.5em;
      margin: 0.25em 0;
      color: $logo-yellow;
    }

    .association-icon {
      font-size: 32px;
    }

    @include mq() {
      grid-template-columns: 1fr;
    }
  }
}
