#footer {
  background: $light-gray;
  padding: 4em 0;
  border-top: 1px solid $gray;
  
  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: $dark-gray;
  }
  
  .join {
    font-weight: 200;
    font-size: 1.2rem;
  }
  
  .social a {
    position: relative;
    top: 0;
    text-decoration: none;
    transition: .3s;
  }
  
  .facebook:hover {
    top: -3px;
    color: #3b5998 !important;
  }
  
  .twitter:hover {
    top: -3px;
    color: #1DA1F2 !important;
  }
  
  .instagram:hover {
    top: -3px;
    color: #262626 !important;
  }

  .google:hover {
    top: -3px;
    color: #D84B37 !important;
  }
  
  .youtube:hover {
    top: -3px;
    color: #ff0000 !important;
  }
  
  .vimeo:hover {
    top: -3px;
    color: #1ab7ea !important;
  }
  
  .linked:hover {
    top: -3px;
    color: #0077b5 !important;
  }
  
  .address {
    font-size: .95rem;
    
    span {
      font-weight: 600;
    }
  }
  
  .phone-link {
    color: $dark-gray;
    
    &:hover,
    &:active {
      text-decoration: none;
      font-weight: bold;
    }
  }
  
  .secondary-links {
    color: $extreme-dark-gray;
    font-size: .8rem;
    padding: .5em;
    border-bottom: 1px solid $extreme-dark-gray;
    
    &:hover,
    &:active {
      text-decoration: none;
      font-weight: bold;
      border-bottom: 2px solid $extreme-dark-gray;
    }
  }
}

#awards {
  background: $dark-gray;
}