header {
  height: 100vh;
  background: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.top-bar {
  background: linear-gradient(rgba(255, 222, 0, 0.70), rgba(255, 222, 0, 0.70)), url(../img/topBarBg.png); //Background Pattern with tinted yellow over
  color: $dark-gray;
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 1.2rem;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $extreme-dark-gray;
}

.navbar-dark .navbar-brand {
  font-weight: 600;
  transition: 250ms;
  
  span {
    font-weight: 200;
    margin-left: 2px;
  }
  
  &:hover {
    color: $logo-yellow;
  }
}

.dropdown-menu {
  border-radius: 0;
  padding: 0;
}

.nav-item {
  font-size: 1.2rem;
  
  @include mq {
    font-size: 1rem;
  }
}

.dropdown-item:first-child {
    border-top: 4px solid $logo-yellow; /*add yellow border to the top of first dropdown item*/
}

.dropdown-item {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 1em;
  padding-bottom: 1em;
  
  &:hover {
    background: lighten($logo-yellow, 10%);
  }
  
  &:active {
    background: $extreme-dark-gray;
    color: $white;
  }
  
  @include mq {
    font-size: 1rem;
  }
}

.dropdown-divider {
  border-color: #c4c4c4;
}

//youtube dropdown item
.redDropItem {
  &:hover {
    background: #ff0000;
    color: $white;
  }
  
  &:active {
    background: darken(#ff0000, 10%);
    color: $white;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  
  &:hover,
  &:active {
    color: $logo-yellow;
  }
}