header {
  height: 100vh;
  background: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.top-bar {
  background: $logo-yellow;
  color: $dark-gray;
  font-family: 'Alfa Slab One', sans-serif;
  
  // background: repeating-linear-gradient(
  //   45deg,
  //   #ffea68,
  //   #ffea68 10px,
  //   #f7efbe 10px,
  //   #f7efbe 20px
  // );
  
  .phone-link {
    color: $dark-gray;
    
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Prompt', sans-serif;
  background: rgba($dark-gray, .9);
}

.navbar-dark .navbar-brand {
  font-weight: 600;
  transition: 250ms;
  
  span {
    font-weight: 200;
    margin-left: 2px;
  }
  
  &:hover {
    color: $logo-yellow;
  }
}

.dropdown-menu {
  border-radius: 0;
}

.dropdown-item {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  
  &:hover {
    background: lighten($logo-yellow, 40%);
  }
  
  &:active {
    background: $gray;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $light-gray;
  
  &:hover,
  &:active {
    color: $logo-yellow;
  }
}