#trade-up {
  background: $dark-gray;
  padding: 2em 0;
  
  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: $light-gray;
    margin: 1.5em 0;
  }
  
  p {
    font-weight: 600;
  }
  
  .trade-btn {
    font-family: 'Prompt', sans-serif;
    padding: .35em 1.5em;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .trade-icon-div {
    font-size: 17em;
  }
}