#about {
  min-height: 100vh;

  .title {
    padding: 2.5em 0 .5em 0;
    color: $dark-gray;
  }
  
  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: $dark-gray;
    margin-bottom: 2.5em;
  }
  
  .about-text {
    font-size: 1.5rem;
    line-height: 1.9;
    
    span {
      margin-right: 2px;
      padding: .05em .2em;
      background: $logo-yellow;
      font-weight: 600;
    }
  }
  
  .fa-angle-down {
    position: relative;
    top: -5px;
    margin-top: .5em;
    transition: 250ms;
    
    &:hover {
      top: 0px;
    }
  }
  
  @include mq {
    .title {
      font-size: 2rem;
      padding: 2.75em 0 .15em 0;
    }
    
    .about-text {
      font-size: 1.25rem;
      line-height: inherit;
    }
    
    .fa-angle-down {
      margin-top: .1em;
    }
  }
}