#hero {
  height: calc(100vh - 100px);
  background: $extreme-dark-gray url(../img/hero-bg3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .divider {
    border: 0;
    width: 100%;
    height: 1px;
    background: rgba($white, .7);
  }
  
  h1 {
    font-size: 3rem;
    color: $white;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  }
  
  .fa-angle-down {
    position: relative;
    top: -5px;
    margin-top: .5em;
    transition: 250ms;
    
    &:hover {
      top: 0px;
    }
  }
  
  @include mq {
    height: 85vh;
    h1 {
      font-size: 2.2rem;
    }
    
    .hero-logo {
      width: 75vw;
    }
    
    .fa-angle-down {
      margin-top: .1em;
    }
    
  }
}

.non-nuclear {
  display: inline-block;
  padding: .1em .35em;
  margin: .2em 0;
  background: $logo-yellow;
  text-shadow: none;
  color: $dark-gray;
}