body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background: $white;
}

h1,
h2,
h3 {
  font-family: 'Alfa Slab One', sans-serif;
}

form {
  font-size: 1.25rem;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 1000;
}

.form-control {
  border: 1px solid $extreme-dark-gray;
}

.header-link {
  color: $extreme-dark-gray;

  &:hover {
    text-decoration: underline;
    color: $extreme-dark-gray;
  }
}

.footer-link {
  font-weight: 600;
  color: $extreme-dark-gray;

  &:hover {
    text-decoration: underline;
    color: $extreme-dark-gray;
  }
}

.standard-link {
  font-weight: 600;
  color: $extreme-dark-gray;
  padding: 0 0.1em;
  margin-left: -0.1em;

  &:hover {
    text-decoration: underline;
    color: $extreme-dark-gray;
    background: $logo-yellow;
  }
}

.standard-link-light {
  color: white;
  padding: 0 0.2em;

  &:hover {
    text-decoration: underline;
    color: $extreme-dark-gray;
    background: $logo-yellow;
  }
}

.phone-link {
  font-weight: 600;
  color: $extreme-dark-gray;

  &:hover,
  &:active {
    text-decoration: underline;
    color: $extreme-dark-gray;
  }
}

.link {
  color: $extreme-dark-gray;
  font-weight: 500;

  &:hover,
  &:active {
    color: $extreme-dark-gray;
    text-decoration: none;
  }
}

.ttsBtn {
  border: 1px solid #fddc00;
  color: #fddc00;

  &:hover {
    background: #fddc00;
    color: #191919;
  }
}
