#footer {
  background: $light-gray;
  padding: 4em 0;
  border-top: 1px solid $gray;

  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: $dark-gray;
  }
  .join {
    font-weight: 200;
    font-size: 1.2rem;
  }

  .social a {
    position: relative;
    top: 0;
    text-decoration: none;
    transition: 0.3s;
  }

  .facebook {
    color: #3b5998;
  }

  .facebook:hover {
    top: -3px;
    color: $dark-gray;
  }

  .twitter {
    color: #1da1f2;
  }

  .twitter:hover {
    top: -3px;
    color: $dark-gray;
  }

  .instagram {
    color: #262626;
  }

  .instagram:hover {
    top: -3px;
    color: $dark-gray;
  }

  .google {
    color: #d84b37;
  }

  .google:hover {
    top: -3px;
    color: $dark-gray;
  }

  .youtube {
    color: #ff0000;
  }

  .youtube:hover {
    top: -3px;
    color: $dark-gray;
  }

  .vimeo {
    color: #1ab7ea;
  }

  .vimeo:hover {
    top: -3px;
    color: $dark-gray;
  }

  .linked {
    color: #0077b5;
  }

  .linked:hover {
    top: -3px;
    color: $dark-gray;
  }

  .address {
    font-size: 0.95rem;

    span {
      font-weight: 600;
    }
  }

  .phone-link {
    color: $dark-gray;

    &:hover,
    &:active {
      text-decoration: none;
      font-weight: bold;
    }
  }

  .secondary-links {
    color: $extreme-dark-gray;
    font-size: 0.8rem;
    padding: 0.5em 1em;
    border-bottom: 1px solid $extreme-dark-gray;

    &:hover,
    &:active {
      text-decoration: none;
      border: 1px solid $extreme-dark-gray;
    }
  }
}

#awards {
  background: $extreme-dark-gray;
}
