#productHero {
  height: 40vh;
  background: $extreme-dark-gray url(../img/pqi380bg.jpg);
  background-size: cover;
  background-position: -200px;
  background-attachment: fixed;
}

#title {
  padding: 2em;
  background: rgba(0, 0, 0, .5);
  border: 2px solid white;
  color: $logo-yellow;
  
  hr {
    border: none;
    height: 1px;
    background: $white;
  }
  
  a {
    color: $white;
  }
  
  a:hover {
    color: #212529;
  }
}

@media (max-width: 1025px) {
  #productHero {
    background-position: -700px;
    height: 50vh;
  }
}