.asphalt {
  background: $extreme-dark-gray url(../img/asphalt-bg.jpg);
}

.dirt {
  background: $extreme-dark-gray url(../img/soil-bg.jpg);
}

#title {
  padding: 2em;
  background: rgba(0, 0, 0, .6);
  border: 2px solid white;
  color: $logo-yellow;
  min-height: 307px;

  hr {
    border: none;
    height: 1px;
    background: $white;
  }
  
  .secondary-text {
    font-size: 2.25rem;
  }
  
  a {
    color: $white;
  }
  
  a:hover {
    color: #212529;
  }
}

.sdgTitle {
  color: $sdgGreen;
}

.feature-block {
  max-height: 307px;
  background: rgba(0, 0, 0, .6);
  border: 2px solid white;
  overflow: hidden;
}

.product-feature {
  margin-top: -70px;
  transition: 1s;
}

.product-feature:hover {
  transform: scale(1.2);
}

.pqi301-feature {
  margin-top: -40px;
  transition: 1s;
}

.pqi301-feature:hover {
  transform: scale(1.2);
}

.swm-feature {
  transition: 1s;
}

.swm-feature:hover {
  transform: scale(1.2);
}

.pts-feature {
  margin-top: -50px;
  margin-left: 75px;
  transition: 1s;
}

.pts-feature:hover {
  transform: scale(1.2);
}