#productFaqs ul {
  font-size: 1.25rem;
}

#productFaqs .list-group-item {
  padding: 1.75rem 1.25rem;
  border: 1px solid $extreme-dark-gray;
  line-height: 1.25;

  .link {
    font-weight: 600;
    color: $extreme-dark-gray;
    text-decoration: underline;
  }
  
  .link:hover {
    text-decoration: none;
  }
}

#productFaqs .list-group-item.active {
  background: $extreme-dark-gray;
  padding: .75rem 1.25rem;
  font-size: 1.5rem;

  span.yellow {
    color: $logo-yellow;
  }
  
  span.green {
    color: $sdgGreen;
  }
}

#productFaqs span {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
}