.libraryItem {
  padding: 1em;
  border: 1px solid $extreme-dark-gray;
  border-top-width: 3px;
  display: inline-block;
  color: $extreme-dark-gray;
  background: lighten($light-gray, 5%);
  transition: .3s;
  min-height: 160px;
  width: 100%;
  
  p {
    font-size: 1.1rem;
  }
}

.libraryItem:hover {
  text-decoration: none;
  color: $extreme-dark-gray;
  background: lighten($logo-yellow, 25%);
}

.specMessage {
  font-size: 1.1rem;
}