#productNav {
  background: $extreme-dark-gray;
}

.productLinkBtn {
  border: 1px solid $logo-yellow;
  color: $logo-yellow;
  background: transparent;

  @include mq {
    display: block;
    width: 100%;
  }
}

.productLinkBtn:hover {
  background: $logo-yellow;
  color: $extreme-dark-gray;
}

.sdgLinkBtn {
  border: 1px solid $sdgGreen;
  color: $sdgGreen;
  background: transparent;
  
  @include mq {
    display: block;
    width: 100%;
  }
}

.sdgLinkBtn:hover {
  background: $sdgGreen;
  color: $extreme-dark-gray;
}
