<footer class="my-5">
  <div class="container">
    <hr class="mb-5">

    <div class="row">
      <div class="col-lg-6 text-center text-lg-left">
        <address>
          <strong>TransTech Systems Europe</strong><br>
          Osterdiek 11, Oldenburg D-26125, Germany<br>
          Phone: +49-441-3501227 (Attn: Bernd Diedrichs)<br>
          <a class="link" href="mailto:bernd.diedrichs@ewetel.net?subject=Inquiry from TransTech Europe Website">Contact
            TransTech
            Systems Europe</a>
        </address>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
        <ul class="list-unstyled d-flex justify-content-center justify-content-lg-end align-items-end">
          <li><a class="social" href="https://www.facebook.com/TranstechSystems" target="_blank"><i
                class="fab fa-facebook-square fa-2x pr-1"></i></a></li>
          <li><a class="social" href="https://twitter.com/TransTechSystem" target="_blank"><i
                class="fab fa-twitter-square fa-2x pr-1"></i></a></li>
          <li><a class="social" href="https://www.instagram.com/transtechsystems" target="_blank"><i
                class="fab fa-instagram fa-2x pr-1"></i></a></li>
          <li><a class="social" href="https://www.youtube.com/user/TransTechSystems" target="_blank"><i
                class="fab fa-youtube-square fa-2x pr-1"></i></a></li>
          <li><a class="social" href="https://www.linkedin.com/company/transtech-systems-incorporated"
              target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>