#productMessage {
  background: $extreme-dark-gray;
  
  h3 {
    color: $white;
    font-weight: 400;
  }
  
  span.yellow {
    color: $logo-yellow;
  }
  
  span.green {
    color: $sdgGreen;
  }
}