.map {
  background: $extreme-dark-gray url(../img/darkMapBGImage.png);
  background-size: cover;
}

#transtechConnect {
  margin-top: 40px;
  .container {
    h2 {
      color: white;
      text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mq800 {
        flex-direction: column;
      }

      .logo {
        max-width: 550px;

        @include mq1200 {
          max-width: 350px;
        }
      }

      .appButtons {
        display: flex;
        align-items: center;
        gap: 8px;

        @include mq800 {
          margin-top: 10px;
        }

        .appButton {
          max-width: 100px;
        }
      }
    }

    .description {
      color: white;
      margin-top: 1.5em;
      font-size: 1.25rem;
    }

    .cta {
      font-weight: bold;
      color: white;
      font-size: 1.45rem;
      margin-top: 0.25em;
    }

    .video {
      font-size: 2rem;
      font-weight: bold;
      color: white;
      margin-top: 1.5em;
      margin-bottom: 1em;
      max-width: 1140px;
      position: relative;
      filter: drop-shadow(5px 5px 10px #000000);

      h2 {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 4px;
        transform: translateY(-50%);
      }
    }
  }
}
