#usedGauges {
  font-size: 1.25rem;
  padding: 3em 0;
  border-top: 1px solid $gray;
  min-height: 100vh;

  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: $dark-gray;
    margin-bottom: 1em;
    margin-top: 0;
  }

  .listing {
    padding: 2em;
    border: 1px solid $dark-gray;
    background: #eaeaea;
    margin-bottom: 2em;
  }

  h3 {
    font-size: 1.5rem;
    background: $logo-yellow;
    display: inline-block;
    padding: 0.35em 0.5em;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1.25rem;
    margin: 1em 0 0.1em 0;
    font-family: 'Alfa Slab One', sans-serif;
  }

  p {
    margin-bottom: 0;
  }

  .ex {
    background-color: rgb(77, 238, 77);
    font-family: 'roboto';
    padding: 3px 10px;
  }

  .good {
    background-color: orange;
    font-family: 'roboto';
    padding: 3px 10px;
  }

  .fair {
    background-color: yellow;
    font-family: 'roboto';
    padding: 3px 10px;
  }

  .divider {
    border: none;
    height: 1px;
    width: 100%;
    background: $dark-gray;
    margin-bottom: 1.5em;
    margin-top: 0;
  }

  .thumb {
    width: 150px;
    border: 1px solid black;
  }
}
