<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="<%= typeof metaTitle!='undefined' ? metaTitle : 'Leaders in Non-Nuclear asphalt and soil density gauge technology. Manufacturer of the Non-Nuclear PQI Asphalt Density Gauge, Revolutionizing the transportation industry providing advanced technological solutions.' %>">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One%7CRoboto:300,400,500,700,900" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/all.min.css" type="text/css">
  <!-- New Font Awesome -->
  <script src="https://kit.fontawesome.com/240c46a1b1.js" crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/homePageStyle.css">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <!-- Scroll Timeline Script -->
  <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
  <title>
    <%= typeof title!='undefined' ? title : 'TransTech Systems' %>
  </title>
</head>

<body id="home">

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container-fluid py-3 px-2 px-lg-5">
      <a class="navbar-brand" href="#home">
        <img class="logo" src="/img/logo.png" alt="TransTech Systems Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse mt-3 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto d-flex align-items-start align-items-lg-center">

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a href="/products" class="nav-link">Our Products</span></a>
          </li>

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a href="#about" class="nav-link">About Us</span></a>
          </li>

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a href="#history" class="nav-link">History</span></a>
          </li>

          <li class="nav-item mt-3 mt-lg-0" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a href="http://payment.transtechsys.com" class="ttsBtn ml-0 ml-lg-3" target="_blank">Pay
              Invoice Online</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /navbar -->

  <!-- <header>
    <nav>
      <a href="/"><img class="logo" src="/img/logo.png" alt="TransTech Systems Logo"></a>
      <div class="nav-links">
        <ul>
          <li><a href="/products">Our Products</a></li>
          <li><a href="/products">About Us</a></li>
          <li><a href="/products">History</a></li>
          <li>
            <a href="http://payment.transtechsys.com" class="ttsBtn" target="_blank">Pay Invoice Online</a>
          </li>
        </ul>
      </div>
    </nav>
  </header> -->

  <!-- Hero section -->
  <section id="hero">
    <div class='hero-content'>
      <h1 class='text-light'>Instruments Manufacturing Since 1994</h1>
      <p>Innovator of Electromagnetic Impedance Technology</p>
    </div>
  </section>
  <!-- /Hero section -->

  <!-- About Section -->
  <section id="about">
    <div class="content">
      <h2>About TransTech Systems</h2>
      <hr>
      <p>The founders of TransTech Systems recognized from the start that many construction, civil engineering and other disciplines continue to be handled by methods that have changed very little over the decades. TransTech responded by providing the first non-nuclear density gauge technology. Holding the original patent, TransTech strives to continue to push this technology to what the industry needs. Asphalt and soil non-nuclear density testing is our expertise, and we look forward to pursuing additional applications of this technology.</p>
    </div>
  </section>
  <!-- /About section -->

  <!-- History Section -->
  <section id="history">
    <div class="content">
      <h2>Our History</h2>
      <hr>

      <section class="timeline">
        <div class="container">

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">January 1994</div>
              <div class="text">
                <h2 class="title">TransTech Systems Founded</h2>
                <p>TransTech Systems Incorporates; Offering the Joint Maker product with only two employees.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyPQIPrototype.jpg" alt="PQI Prototype">
              </div>
              <div class="date">January 1998</div>
              <div class="text">
                <h2 class="title">Birth of the PQI</h2>
                <p>TransTech Systems develops the first prototype of the PQI - Pavement Quality Indicator. The first non-nuclear asphalt density gauge ever created!</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">March 1998</div>
              <div class="text">
                <h2 class="title">Revenues Exceed $1,000,000</h2>
                <p>TransTech Systems revenues exceed $1,000,000.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">2001</div>
              <div class="text">
                <h2 class="title">TransTech Systems Is Growing</h2>
                <p>Moved our operation to State St. in Schenectady, NY. Total number of emplyees is now 13.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historyPQI300Introduced.jpg" alt="PQI 300 Introduced">
              </div>
              <div class="date">2002</div>
              <div class="text">
                <h2 class="title">PQI 300 Introduced</h2>
                <p>TransTech Systems launches the second generation Pavement Quality Indicator, the PQI 300.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">January 2004</div>
              <div class="text">
                <h2 class="title">AASHTO Standard TP68</h2>
                <p>The PQI 300 recieves AASHTO TP68 recognition.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">February 2004</div>
              <div class="text">
                <h2 class="title">Opened European Market</h2>
                <p>TransTech Systems extends it's sales reach to the European market.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyQCQAOpened.jpg" alt="QCQA Labs Opened">
              </div>
              <div class="date">July 2004</div>
              <div class="text">
                <h2 class="title">QCQA Labs is Born</h2>
                <p>QCQA Labs is open for business.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historyPQI301ASTM.jpg" alt="PQI 301 Gains ASTM Standard">
              </div>
              <div class="date">2005</div>
              <div class="text">
                <h2 class="title">PQI 301 Gains ASTM Standard</h2>
                <p>TransTech Systems PQI 301 non-nuclear asphalt density gauge gains ASTM recognition.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">2006</div>
              <div class="text">
                <h2 class="title">Eupoean Office Opened</h2>
                <p>TransTech Systems opens a second sales office in Europe.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historySDGIntroduced.jpg" alt="SDG Introduced">
              </div>
              <div class="date">2008</div>
              <div class="text">
                <h2 class="title">SDG Introduced</h2>
                <p>TransTech Systems launches the first generation of the SDG - Soil Density Gauge. The first non-nuclear soil density gauge ever created!</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">2009</div>
              <div class="text">
                <h2 class="title">Opened Asia Pacific Market</h2>
                <p>TransTech Systems extends it's sales reach to the Asia Pacific market.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">2010</div>
              <div class="text">
                <h2 class="title">International Orders Milestone</h2>
                <p>TransTech Systems international orders exceed domestic!</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">2011</div>
              <div class="text">
                <h2 class="title">Revenues Exceed $3,500,000</h2>
                <p>TransTech Systems revenues exceed $3,500,000.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">2012</div>
              <div class="text">
                <h2 class="title">28 International Distributors</h2>
                <p>TransTech Systems takes on 28 exclusive international distributors.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">2013</div>
              <div class="text">
                <h2 class="title">QCQA Labs Is Sold</h2>
                <p>TransTech Systems sells QCQA Labs testing facility to focus on core mission.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historySellingProducts86.jpg" alt="Selling Products in 86 Countries">
              </div>
              <div class="date">2015</div>
              <div class="text">
                <h2 class="title">Selling Products In 86 Countries</h2>
                <p>TransTech Systems products now being sold into 86 countries.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyLathamOffice.jpg" alt="TransTech Systems Latham Office">
              </div>
              <div class="date">2016</div>
              <div class="text">
                <h2 class="title">Moved to Latham, NY</h2>
                <p>Moved our operation Latham, NY. Larger facility enabled us to focus on our core technology.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">2017</div>
              <div class="text">
                <h2 class="title">Rapid Prototyping</h2>
                <p>TransTech Systems aquires two 3D printers and begins rapid prototyping / additive manufacturing operation.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="https://picsum.photos/1000/800/?random" alt="History Image">
              </div>
              <div class="date">2018</div>
              <div class="text">
                <h2 class="title">Lean Training</h2>
                <p>TransTech Systems employees participate in a year long lean training program, making our manufacturing process more efficient.</p>
              </div>
            </div>
          </div>

        </div>
      </section><!-- /timeline -->

    </div>
  </section>
  <!-- /History section -->

  <script src="/js/facebook.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/lightbox.min.js"></script>
  <script src="/js/smooth-scroll.min.js"></script>
  <script src="/js/scripts.js"></script>

  <!-- Opaque navbar on scroll-->
  <script>
    var navbar = document.querySelector('.navbar');

    window.addEventListener('scroll', function () {
      var top = this.scrollY;

      if (top > 100) {
        navbar.classList.add('active');
      } else {
        navbar.classList.remove('active');
      }
    });
  </script>

  <!-- Timeline animation -->
  <script>
    $(function () {

      window.sr = ScrollReveal();

      if ($(window).width() < 768) {

        if ($('.timeline-content').hasClass('js--fadeInLeft')) {
          $('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
        }

        sr.reveal('.js--fadeInRight', {
          origin: 'right',
          distance: '300px',
          easing: 'ease-in-out',
          duration: 800,
        });

      } else {

        sr.reveal('.js--fadeInLeft', {
          origin: 'left',
          distance: '300px',
          easing: 'ease-in-out',
          duration: 800,
        });

        sr.reveal('.js--fadeInRight', {
          origin: 'right',
          distance: '300px',
          easing: 'ease-in-out',
          duration: 800,
        });

      }

      sr.reveal('.js--fadeInLeft', {
        origin: 'left',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });

      sr.reveal('.js--fadeInRight', {
        origin: 'right',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
    });

  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43191320-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-43191320-1');
  </script>

  <!-- Start of transtechsys Zendesk Widget script -->
  <!-- <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=5280e230-c637-48d9-8102-3ad83b5cea84"> </script> -->
  <!-- End of transtechsys Zendesk Widget script -->

</body>

</html>