<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="<%= typeof metaTitle!='undefined' ? metaTitle : 'Leaders in Non-Nuclear asphalt and soil density gauge technology. Manufacturer of the Non-Nuclear PQI Asphalt Density Gauge, Revolutionizing the transportation industry providing advanced technological solutions.' %>">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/all.min.css" type="text/css">
  <!-- New Font Awesome -->
  <script src="https://kit.fontawesome.com/240c46a1b1.js" crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/homePageStyle.css">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <title>
    <%= typeof title!='undefined' ? title : 'TransTech Systems' %>
  </title>
</head>

<body>

  <header>
    <nav>
      <a href="/"><img class="logo" src="/img/logo.png" alt="TransTech Systems Logo"></a>
      <div class="nav-links">
        <ul>
          <li><a href="/products">Our Products</a></li>
          <li><a href="/products">About Us</a></li>
          <li><a href="/products">History</a></li>
          <li><a href="/products">Corporate Video</a></li>
          <li>
            <a href="http://payment.transtechsys.com" class="ttsBtn" target="_blank">Pay Invoice Online</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Hero section -->
  <section id="hero">
    <div class='hero-content'>
      <h1 class='text-light'>Instruments Manufacturing Since 1994</h1>
      <p>Innovator of Electromagnetic Impedance Technology</p>
    </div>
  </section>
  <!-- /Hero section -->

  <!-- About Section -->
  <section id="about">

  </section>
  <!-- /About section -->


  <script src="/js/facebook.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/lightbox.min.js"></script>
  <script src="/js/smooth-scroll.min.js"></script>
  <script src="/js/scripts.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43191320-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-43191320-1');
  </script>

  <!-- Start of transtechsys Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=5280e230-c637-48d9-8102-3ad83b5cea84"> </script>
  <!-- End of transtechsys Zendesk Widget script -->

</body>

</html>