<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="<%= typeof metaTitle!='undefined' ? metaTitle : 'Leaders in Non-Nuclear asphalt and soil density gauge technology. Manufacturer of the Non-Nuclear PQI Asphalt Density Gauge, Revolutionizing the transportation industry providing advanced technological solutions.' %>">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/all.min.css" type="text/css">
  <!-- New Font Awesome -->
  <script src="https://kit.fontawesome.com/240c46a1b1.js" crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/homePageStyle.css">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <title>
    <%= typeof title!='undefined' ? title : 'TransTech Systems' %>
  </title>
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container-fluid py-4 px-2 px-lg-5">
      <a class="navbar-brand" href="/">
        <img class="logo" src="/img/logo.png" alt="TransTech Systems Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse mt-3 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto d-flex align-items-start align-items-lg-center">

          <li class="nav-item">
            <a href="/products" class="nav-link">Our Products</span></a>
          </li>

          <li class="nav-item">
            <a href="/products" class="nav-link">About Us</span></a>
          </li>

          <li class="nav-item">
            <a href="/products" class="nav-link">History</span></a>
          </li>

          <li class="nav-item mt-3 mt-lg-0">
            <a href="http://payment.transtechsys.com" class="ttsBtn ml-0 ml-lg-3" target="_blank">Pay
              Invoice Online</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /navbar -->

  <!-- <header>
    <nav>
      <a href="/"><img class="logo" src="/img/logo.png" alt="TransTech Systems Logo"></a>
      <div class="nav-links">
        <ul>
          <li><a href="/products">Our Products</a></li>
          <li><a href="/products">About Us</a></li>
          <li><a href="/products">History</a></li>
          <li>
            <a href="http://payment.transtechsys.com" class="ttsBtn" target="_blank">Pay Invoice Online</a>
          </li>
        </ul>
      </div>
    </nav>
  </header> -->



  <!-- Hero section -->
  <section id="hero">
    <div class='hero-content'>
      <h1 class='text-light'>Instruments Manufacturing Since 1994</h1>
      <p>Innovator of Electromagnetic Impedance Technology</p>
    </div>
  </section>
  <!-- /Hero section -->

  <!-- About Section -->
  <section id="about">

  </section>
  <!-- /About section -->


  <script src="/js/facebook.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/lightbox.min.js"></script>
  <script src="/js/smooth-scroll.min.js"></script>
  <script src="/js/scripts.js"></script>

  <!-- Opaque navbar on scroll-->
  <script>
    var navbar = document.querySelector('.navbar');

    window.addEventListener('scroll', function () {
      var top = this.scrollY;

      if (top > 100) {
        navbar.classList.add('active');
      } else {
        navbar.classList.remove('active');
      }
    });
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43191320-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-43191320-1');
  </script>

  <!-- Start of transtechsys Zendesk Widget script -->
  <!-- <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=5280e230-c637-48d9-8102-3ad83b5cea84"> </script> -->
  <!-- End of transtechsys Zendesk Widget script -->

</body>

</html>