<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="<%= typeof metaTitle!='undefined' ? metaTitle : 'Leaders in Non-Nuclear asphalt and soil density gauge technology. Manufacturer of the Non-Nuclear PQI Asphalt Density Gauge, Revolutionizing the transportation industry providing advanced technological solutions.' %>">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One%7CRoboto:300,400,500,700,900" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/all.min.css" type="text/css">
  <!-- New Font Awesome -->
  <script src="https://kit.fontawesome.com/240c46a1b1.js" crossorigin="anonymous"></script>
  <!-- Font Awesome Ver 6 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/homePageStyle.css">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <!-- Scroll Timeline Script -->
  <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
  <title>
    <%= typeof title!='undefined' ? title : 'TransTech Systems' %>
  </title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VM2NP8PDJM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-VM2NP8PDJM');
  </script>
</head>

<body id="home">

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container-fluid py-2 px-2 px-xl-5">
      <a class="navbar-brand" href="#home">
        <img class="logo" src="../img/logo-lg2023.png" alt="TransTech Systems Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto d-flex align-items-start align-items-xl-center">

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a href="/products" class="nav-link">Products</span></a>
          </li>

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a href="/#about" class="nav-link">About Us</span></a>
          </li>

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a href="/#history" class="nav-link">History</span></a>
          </li>

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a href="https://youtu.be/1k4dwo_-G3g" target="_blank" class="nav-link">Corporate Video</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contact Us
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/products/salesRequest">Sales Request</a>
              <a class="dropdown-item" href="/products/repairRequest">Service Request</a>
              <!-- <a class="dropdown-item" href="http://payment.transtechsys.com" target="_blank">Pay Invoice Online</a> -->
              <a class="dropdown-item" href="https://securepayment.link/transtechsys" target="_blank">Pay Invoice Online</a>
              <a class="dropdown-item amesLink" href="https://amesengineering.com" target="_blank">Ames Engineering</a>

              <div class="dropdown-divider"></div>
              <span class="ml-3 font-weight-bold">Follow Us</span>
              <a href="https://www.facebook.com/TransTechSystems" class="dropdown-item mt-1" target="_blank"><i class="fab fa-facebook-square fa-lg facebook-color"></i> Facebook</a>
              <a href="https://twitter.com/TransTechSystem" class="dropdown-item" target="_blank"><i class="fa-brands fa-square-x-twitter fa-lg twitter-color"></i> Twitter</a>
              <a href="https://www.instagram.com/transtechsystems" class="dropdown-item" target="_blank"><i class="fab fa-instagram fa-lg instagram-color"></i> Instagram</a>
              <a href="https://www.youtube.com/user/TransTechSystems" class="dropdown-item" target="_blank"><i class="fab fa-youtube-square fa-lg youtube-color"></i> YouTube</a>
              <a href="https://vimeo.com/transtechsystems" class="dropdown-item" target="_blank"><i class="fab fa-vimeo-square fa-lg vimeo-color"></i> Vimeo</a>
              <a href="https://www.linkedin.com/company/transtech-systems-incorporated" class="dropdown-item" target="_blank"><i class="fab fa-linkedin fa-lg linkedin-color"></i> Linked In</a>
              <a href="https://www.snapchat.com/add/transtechsystem" class="dropdown-item" target="_blank"><i class="fab fa-snapchat-square fa-lg snapchat-color"></i> Snapchat</a>
            </div>
          </li>

          <!-- <li class="nav-item d-flex align-items-center mt-2 mt-lg-0" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a href="http://payment.transtechsys.com" class="ttsBtn ml-0 ml-xl-2" target="_blank">Pay
              Invoice Online</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- /navbar -->

  <!-- Hero section -->
  <section id="heroHome">
    <div class='hero-content'>
      <h1 class='text-light'>Instruments Manufacturing Since 1994</h1>
      <p>Innovator of Electromagnetic Impedance Technology</p>
      <!-- Holiday Message -->
      <!-- <div class="holiday">
        <div class="d-inline-flex align-items-center">
          <i class="fas fa-holly-berry mr-3 d-none d-md-block"></i>
          <p>Our offices will be closed for the holidays from 12/24 and reopening 1/2
            <span class="mt-1">From the TransTech Systems family to you, Happy Holidays and Happy New Year!</span>
          </p>
          <i class="fa-solid fa-tree ml-3 d-none d-md-block"></i>
        </div>
      </div> -->
      <!-- Holiday Message -->
    </div>
  </section>
  <!-- /Hero section -->

  <!-- About Section -->
  <section id="about">
    <div class="content">
      <h2>About TransTech Systems</h2>
      <hr>
      <p>TransTech Systems is an instrument company that develops innovative and nondestructive evaluation products for the construction industry, all of which are based on our core technology. The patented Pavement Quality Indicator (PQI 380), developed and manufactured in New York, is the leading non-nuclear asphalt pavement quality control device in the world. The groundbreaking PQI set the standard for non-nuclear gauges when it was introduced over 25 years ago.</p>
      <p class="mt-5">The founders of TransTech Systems had many years of experience in the road construction industry and recognized from the start that many construction and civil engineering methods had changed very little over the decades. Our creative and talented management and R&D groups are actively seeking to change this scenario by partnering with university and military researchers, government agencies, manufacturing companies and construction contractors to develop tomorrow’s advanced technologies that will enable material characterization and quality control needs to be addressed in a rapid, safe and cost-effective way.</p>
    </div>
  </section>
  <!-- /About section -->

  <!-- History Section -->
  <section id="history">
    <div class="content">
      <h2>Our History</h2>

      <section class="timeline">
        <div class="container">

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <a href="https://youtu.be/uKgasSdowUM?si=mYoO-VXb_Yly_W0H" target="_blank" class="timeline-link">
                <div class="timeline-img-header">
                  <img src="/img/history/historyTransTechConnect.jpg" alt="TransTech Connect">
                </div>
                <div class="date">April 2025</div>
                <div class="text">
                  <h2 class="title">Transtech Connect Goes Live!</h2>
                  <p>An innovative solution designed to simplify measurement data management for contractors, site pavers, and project teams.</p>
                </div>
              </a>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <a href="/products/pqi380Plus" class="timeline-link">
                <div class="timeline-img-header">
                  <img src="/img/history/historyPQI380PlusIntroduced.jpg" alt="PQI 380+ Debut!">
                </div>
                <div class="date">March 2025</div>
                <div class="text">
                  <h2 class="title">The PQI 380+ Debuts!</h2>
                  <p>We're excited to announce the release of our 6th generation non-nuclear asphalt density measurement gauges.</p>
                </div>
              </a>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/ames2024.jpg" alt="Ames Engineering">
              </div>
              <div class="date">May 2024</div>
              <div class="text">
                <h2 class="title">We Are Growing!</h2>
                <p>TransTech Systems is proud to announce the acquisition of Ames Engineering.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/technologyDevelopment2023.jpg" alt="Technology Development">
              </div>
              <div class="date">March 2023</div>
              <div class="text">
                <h2 class="title">Continual Technology Development</h2>
                <p>TransTech Systems continues to refine and develop it's impedance technology, seeking new applications for measurement.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/tradeshows2022.jpg" alt="Tradeshow Attendance">
              </div>
              <div class="date">January 2022</div>
              <div class="text">
                <h2 class="title">Ramping Up Tradeshow Attendance</h2>
                <p>TransTech Systems increases tradeshow attendance, speaking and exhibiting at more than 22 events.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/salesJohn2021.jpg" alt="John Lamond Sales Manager">
              </div>
              <div class="date">February 2021</div>
              <div class="text">
                <h2 class="title">Increasing Sales Effort</h2>
                <p>TransTech Systems brings John Lamond onboard with many years experience as sales manager.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/covid19Support.jpg" alt="Covid19 Support">
              </div>
              <div class="date">April 2020</div>
              <div class="text">
                <h2 class="title">TransTech Covid-19 Support</h2>
                <p>TransTech Systems 3D prints protective face masks for local healthcare facilities.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/acTop30PQI2019.jpg" alt="PQI 380 Top 30 Award">
              </div>
              <div class="date">May 2019</div>
              <div class="text">
                <h2 class="title">PQI 380 Wins Award</h2>
                <p>The PQI 380 is named for a second time as Asphalt Contractor's Top 30 Editor's Choice Products.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historyLeanTraining.jpg" alt="TransTech Systems Lean Training">
              </div>
              <div class="date">February 2018</div>
              <div class="text">
                <h2 class="title">Lean Training</h2>
                <p>TransTech Systems employees participate in a year long lean training program, making our manufacturing process more efficient.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyRapidPrototyping.jpg" alt="TransTech Systems Rapid Prototyping">
              </div>
              <div class="date">October 2017</div>
              <div class="text">
                <h2 class="title">Rapid Prototyping</h2>
                <p>TransTech Systems acquires two 3D printers and begins rapid prototyping / additive manufacturing operation.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/ttsExportAward.jpg" alt="TransTech Systems Export Award">
              </div>
              <div class="date">April 2017</div>
              <div class="text">
                <h2 class="title">TransTech Systems Award</h2>
                <p>TransTech Systems earns The Export-Import Bank of the United States – Export Achievement Certificate.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyLathamOffice.jpg" alt="TransTech Systems Latham Office">
              </div>
              <div class="date">May 2016</div>
              <div class="text">
                <h2 class="title">Moved to Latham, NY</h2>
                <p>Moved our operation Latham, NY. Larger facility enabled us to focus on our core technology.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historySellingProducts86.jpg" alt="Selling Products in 86 Countries">
              </div>
              <div class="date">June 2015</div>
              <div class="text">
                <h2 class="title">Selling Products In 86 Countries</h2>
                <p>TransTech Systems products now being sold into 86 countries.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/acTop30SDG2015.jpg" alt="SDG 200 Top 30 Award">
              </div>
              <div class="date">April 2015</div>
              <div class="text">
                <h2 class="title">SDG 200 Wins Award</h2>
                <p>The SDG 200 is named Asphalt Contractor's Top 30 Editor's Choice Products.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/acTop30PQI2014.jpg" alt="PQI 380 Top 30 Award">
              </div>
              <div class="date">May 2014</div>
              <div class="text">
                <h2 class="title">PQI 380 Wins Award</h2>
                <p>The PQI 380 is named Asphalt Contractor's Top 30 Editor's Choice Products.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyQCQASold.jpg" alt="QCQA Labs Sold">
              </div>
              <div class="date">September 2013</div>
              <div class="text">
                <h2 class="title">QCQA Labs Is Sold</h2>
                <p>TransTech Systems sells QCQA Labs testing facility to focus on core mission.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historySDG200Introduced.jpg" alt="SDG 200 Introduced">
              </div>
              <div class="date">March 2012</div>
              <div class="text">
                <h2 class="title">SDG 200 Introduced</h2>
                <p>TransTech Systems launches the second generation SDG 200 - Soil Density Gauge.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/history28InternationalDistributors.jpg" alt="TransTech Systems 28 International Distributors">
              </div>
              <div class="date">January 2012</div>
              <div class="text">
                <h2 class="title">28 International Distributors</h2>
                <p>TransTech Systems takes on 28 exclusive international distributors.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historyRevenue.jpg" alt="TransTech Systems Revenue">
              </div>
              <div class="date">August 2011</div>
              <div class="text">
                <h2 class="title">Revenues Exceed $3,500,000</h2>
                <p>TransTech Systems revenues exceed $3,500,000.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/ttsTVG.jpg" alt="TransTech Systems Global Business Award">
              </div>
              <div class="date">May 2011</div>
              <div class="text">
                <h2 class="title">TransTech Systems Award</h2>
                <p>TransTech Systems wins The Tech Valley Global Business Network – International Trade Award.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historyInternationalOrderMilestone.jpg" alt="TransTech Systems International Orders">
              </div>
              <div class="date">March 2010</div>
              <div class="text">
                <h2 class="title">International Orders Milestone</h2>
                <p>TransTech Systems international orders exceed domestic!</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyPQI380Introduced.jpg" alt="PQI 380 Introduced">
              </div>
              <div class="date">January 2010</div>
              <div class="text">
                <h2 class="title">PQI 380 Introduced</h2>
                <p>TransTech Systems launches the Pavement Quality Indicator model PQI 380.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/ttsCEG.jpg" alt="TransTech Systems CEG Award">
              </div>
              <div class="date">July 2009</div>
              <div class="text">
                <h2 class="title">TransTech Systems Award</h2>
                <p>TransTech Systems wins The Center for Economic Growth's Technology Entrepreneur award.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyAsianMarket.jpg" alt="TransTech Systems Asia Pacific Market">
              </div>
              <div class="date">March 2009</div>
              <div class="text">
                <h2 class="title">Opened Asia Pacific Market</h2>
                <p>TransTech Systems extends it's sales reach to the Asia Pacific market.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/ttsBusinessReview2008.jpg" alt="TransTech Systems Business Review Award">
              </div>
              <div class="date">October 2008</div>
              <div class="text">
                <h2 class="title">TransTech Systems Award</h2>
                <p>TransTech Systems is named Small Business of the Year by the Albany Business Review.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/topRolloutSDG.jpg" alt="SDG Top Rollout Award">
              </div>
              <div class="date">August 2008</div>
              <div class="text">
                <h2 class="title">SDG Wins Award</h2>
                <p>The SDG - Soil Density Gauge wins Better Roads Top Rollout award.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historySDGIntroduced.jpg" alt="SDG Introduced">
              </div>
              <div class="date">June 2008</div>
              <div class="text">
                <h2 class="title">SDG Introduced</h2>
                <p>TransTech Systems launches the first generation of the SDG - Soil Density Gauge. The first non-nuclear soil density gauge ever created!</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyEuropeanOffice.jpg" alt="TransTech Systems European Office">
              </div>
              <div class="date">January 2006</div>
              <div class="text">
                <h2 class="title">European Office Opened</h2>
                <p>TransTech Systems opens a second sales office in Europe.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/topRolloutPQI301.jpg" alt="PQI 301 Top Rollout Award">
              </div>
              <div class="date">July 2005</div>
              <div class="text">
                <h2 class="title">PQI 301 Wins Award</h2>
                <p>The PQI 301 wins Better Roads Top Rollout award.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/topRolloutSWM2005.jpg" alt="SWM Top Rollout Award">
              </div>
              <div class="date">May 2005</div>
              <div class="text">
                <h2 class="title">SWM Wins Award</h2>
                <p>The Shoulder Wedge Maker wins Better Roads Top Rollout award.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historyPQI301ASTM.jpg" alt="PQI 301 Gains ASTM Standard">
              </div>
              <div class="date">April 2005</div>
              <div class="text">
                <h2 class="title">PQI 301 Gains ASTM Standard</h2>
                <p>TransTech Systems PQI 301 non-nuclear asphalt density gauge gains ASTM recognition.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyQCQAOpened.jpg" alt="QCQA Labs Opened">
              </div>
              <div class="date">July 2004</div>
              <div class="text">
                <h2 class="title">QCQA Labs is Born</h2>
                <p>QCQA Labs is open for business.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historyEuropeanMarket.jpg" alt="TransTech Systems European Market">
              </div>
              <div class="date">February 2004</div>
              <div class="text">
                <h2 class="title">Opened European Market</h2>
                <p>TransTech Systems extends it's sales reach to the European market.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyPQIAASHTO.jpg" alt="PQI Received AASHTO TP68 Standard">
              </div>
              <div class="date">January 2004</div>
              <div class="text">
                <h2 class="title">AASHTO Standard TP68</h2>
                <p>The PQI receives AASHTO TP68 recognition.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/novaAwardPQI2003.jpg" alt="PQI 301 NOVA Award">
              </div>
              <div class="date">August 2003</div>
              <div class="text">
                <h2 class="title">PQI 301 Wins Award</h2>
                <p>The PQI 301 wins the Construction Innovation Forum's NOVA Award</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyPQI301Introduced.jpg" alt="PQI 301 Introduced">
              </div>
              <div class="date">May 2003</div>
              <div class="text">
                <h2 class="title">PQI 301 Introduced</h2>
                <p>TransTech Systems launches the Pavement Quality Indicator model PQI 301.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historyPQI300Introduced.jpg" alt="PQI 300 Introduced">
              </div>
              <div class="date">July 2001</div>
              <div class="text">
                <h2 class="title">PQI 300 Introduced</h2>
                <p>TransTech Systems launches the Pavement Quality Indicator model PQI 300.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historySchenectadyOffice.jpg" alt="TransTech Systems Schenectady Office">
              </div>
              <div class="date">January 2001</div>
              <div class="text">
                <h2 class="title">TransTech Systems Is Growing</h2>
                <p>Moved our operation to State St. in Schenectady, NY. Total number of employees is now 13.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historyRevenue.jpg" alt="TransTech Systems Revenue">
              </div>
              <div class="date">March 1998</div>
              <div class="text">
                <h2 class="title">Revenues Exceed $1,000,000</h2>
                <p>TransTech Systems revenues exceed $1,000,000.</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInLeft">
              <div class="timeline-img-header">
                <img src="/img/history/historyPQIPrototype.jpg" alt="PQI Prototype">
              </div>
              <div class="date">January 1996</div>
              <div class="text">
                <h2 class="title">Birth of the PQI</h2>
                <p>TransTech Systems develops the first prototype of the PQI - Pavement Quality Indicator. The first non-nuclear asphalt density gauge ever created!</p>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content timeline-card js--fadeInRight">
              <div class="timeline-img-header">
                <img src="/img/history/historyTransTechFounded.jpg" alt="TransTech Systems Founded">
              </div>
              <div class="date">September 1994</div>
              <div class="text">
                <h2 class="title">TransTech Systems Founded</h2>
                <p>TransTech Systems Incorporates; Offering the Joint Maker product with just a few employees.</p>
              </div>
            </div>
          </div>

        </div>
      </section><!-- /timeline -->

    </div>
  </section>
  <!-- /History section -->

  <!-- Footer -->
  <footer class="home-footer text-light">
    <div class="container py-5">

      <div class="row text-center mb-4">
        <div class="col-xl-10 mx-auto d-flex flex-column flex-md-row justify-content-around align-items-center">
          <a class="info-link" href="/products/privacy">Privacy Policy</a>
          <a class="info-link" href="/products/contactCorporate">Contact</a>
          <a class="info-link" href="/products/distributorsUnitedStates">U.S. Distributors</a>
          <a class="info-link" href="/products/distributorsInternational">International Distributors</a>
        </div>
      </div>

      <div class="social text-center mb-4">
        <ul class="list-inline mb-1">

          <li class="list-inline-item mr-0">
            <a href="https://www.facebook.com/TransTechSystems" class="facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
          </li>

          <li class="list-inline-item mr-0">
            <a href="https://twitter.com/TransTechSystem" class="twitter" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
          </li>

          <li class="list-inline-item mr-0">
            <a href="https://www.instagram.com/transtechsystems" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>

          <li class="list-inline-item mr-0">
            <a href="https://www.youtube.com/user/TransTechSystems" class="youtube" target="_blank"><i class="fab fa-youtube-square"></i></a>
          </li>

          <li class="list-inline-item mr-0">
            <a href="https://vimeo.com/transtechsystems" class="vimeo" target="_blank"><i class="fab fa-vimeo-square"></i></a>
          </li>

          <li class="list-inline-item mr-0">
            <a href="https://www.linkedin.com/company/transtech-systems-incorporated" class="linked" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>

          <li class="list-inline-item mr-0">
            <a href="https://www.snapchat.com/add/transtechsystem" class="snapchat" target="_blank"><i class="fab fa-snapchat-square"></i></a>
          </li>

        </ul>
      </div><!-- /social -->

      <div class="text-center mt-1">
        <p class="address mb-0"><span>&copy;<%= date %> TransTech Systems, Inc.</span> / 900
          Albany
          Shaker Rd. Suite 2, Latham, NY
          12110 / <a class="footer-link" href="tel:15183705558">+1-518-370-5558</a> / <a class="footer-link" href="tel:18007246306">1-800-724-6306</a>
      </div>

    </div>
  </footer>
  <!-- /Footer -->

  <!-- Scroll to top -->
  <button class="btn btn-outline-dark" id="scrollBtn"><i class="fas fa-angle-up fa-2x"></i></button>

  <script src="/js/facebook.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/lightbox.min.js"></script>
  <script src="/js/smooth-scroll.min.js"></script>
  <script src="/js/scripts.js"></script>

  <!-- Opaque navbar on scroll-->
  <script>
    var navbar = document.querySelector('.navbar');

    window.addEventListener('scroll', function () {
      var top = this.scrollY;

      if (top > 100) {
        navbar.classList.add('active');
      } else {
        navbar.classList.remove('active');
      }
    });
  </script>

  <!-- Timeline animation -->
  <script>
    $(function () {

      window.sr = ScrollReveal();

      if ($(window).width() < 768) {

        if ($('.timeline-content').hasClass('js--fadeInLeft')) {
          $('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
        }

        sr.reveal('.js--fadeInRight', {
          origin: 'right',
          distance: '300px',
          easing: 'ease-in-out',
          duration: 800,
        });

      } else {

        sr.reveal('.js--fadeInLeft', {
          origin: 'left',
          distance: '300px',
          easing: 'ease-in-out',
          duration: 800,
        });

        sr.reveal('.js--fadeInRight', {
          origin: 'right',
          distance: '300px',
          easing: 'ease-in-out',
          duration: 800,
        });

      }

      sr.reveal('.js--fadeInLeft', {
        origin: 'left',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });

      sr.reveal('.js--fadeInRight', {
        origin: 'right',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
    });

  </script>

  <!-- Start of transtechsys Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=5280e230-c637-48d9-8102-3ad83b5cea84"> </script>
  <!-- End of transtechsys Zendesk Widget script -->

</body>

</html>