#news {
  font-size: 1.25rem;
  padding: 3em 0;
  border-top: 1px solid $gray;
  min-height: 100vh;
  
  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: $dark-gray;
    margin-bottom: 2em;
  }
  
  .news-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2.5em;
    
    @include mq() {
      grid-template-columns: 1fr;
    }
  }
  
  h3 {
    font-size: 1.35rem;
    background: $logo-yellow;
    display: inline-block;
    padding: .35em .5em;
  }
  
  .news-link {
    display: block;
    color: $dark-gray;
    font-weight: 600;
    font-size: 1.35rem;
    line-height: 1.25;
    cursor: pointer;
  
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  
  p {
    font-size: 1.1rem;
    margin-bottom: 3em;
    
    .link {
      color: $dark-gray;
  
      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }
  
}

.newsModal h4 {
  font-family: 'Alfa Slab One', sans-serif;
}

.newsModal .modal-header {
  padding-bottom: 0;
}

.newsModal p {
  font-size: 1.1rem;
  
  .link {
    color: black;
    padding: 0 .3em;
    background: $logo-yellow;
    line-height: .5;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.newsModal img {
  width: 100%;
}

.contactDist {
  font-family: 'Alfa Slab One', sans-serif;
}

.phone-link {
  color: $dark-gray;
  
  &:hover,
  &:active {
    color: $dark-gray;
  }
}