<% include ./partials/header %>
  
  <!-- Community Section -->
  <section id="community">
    <div class="container text-center text-md-left">
      <h2>TransTech Systems In the Community</h2>
      <hr>
      
      <div class="row"> <!-- Might use align-items-center here -->
      
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/walkMS2017.jpg" alt="TransTech Systems Walk MS Group Photo">
            <h5 class="date">May 2017</h5>
            <div class="card-body">
              <h3 class="card-title">2017 Walk MS: Albany</h3>
              <p class="card-text">TransTech Systems proudly participated in the 2017 Walk for MS in Albany</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#walkMS2017">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/boyScouts2017.jpg" alt="TransTech Systems Engineer teaching Boy Scouts">
            <h5 class="date">April 2017</h5>
            <div class="card-body">
              <h3 class="card-title">Boy Scouts of America</h3>
              <p class="card-text">TransTech Systems continues to support the Boy Scouts</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#boyScouts">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/futures-2016.jpg" alt="Mohon Futures Logo">
            <h5 class="date">June 2016</h5>
            <div class="card-body">
              <h3 class="card-title">The Futures at Mohon</h3>
              <p class="card-text">TransTech Systems proudly sponsored The Futures at Mohon</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#futuresModal">Read More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/niskyBaseball-2016.jpg" alt="Niskayuna Baseball Player">
            <h5 class="date">May 2016</h5>
            <div class="card-body">
              <h3 class="card-title">Niskayuna Baseball</h3>
              <p class="card-text">TransTech Systems proudly suppotrs Niskayuna Baseball League</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#NiskyBaseballModal">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/harry-golf-2016.jpg" alt="TransTech Systems Employee Group Photo">
            <h5 class="date">May 2016</h5>
            <div class="card-body">
              <h3 class="card-title">2016 Harry Apkarian Memorial Golf Classic</h3>
              <p class="card-text">TransTech Systems proudly supports the annual Harry Apkarian Memorial Golf Classic</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#harryGolf2016">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/walkMS2016.jpg" alt="TransTech Systems Walk MS Group Photo">
            <h5 class="date">May 2016</h5>
            <div class="card-body">
              <h3 class="card-title">2016 Walk MS: Albany</h3>
              <p class="card-text">TransTech Systems proudly participated in the 2016 Walk for MS in Albany</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#walkMS2016">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/UMAC2015.jpg" alt="UMAC Logo">
            <h5 class="date">November 2015</h5>
            <div class="card-body">
              <h3 class="card-title">To Honor and Serve - Veterans Day Breakfast</h3>
              <p class="card-text">TransTech is proud to support and honor all those who have served and continue to serve</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#UMAC2015">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/niskyFoundation2015.jpg" alt="Niskayuna Foundation Logo">
            <h5 class="date">September 2015</h5>
            <div class="card-body">
              <h3 class="card-title">Niskayuna Community Foundation</h3>
              <p class="card-text">Proud corporate sponsor of the Niskayuna Community Foundations 15th Anniversary Day of Service</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#niskyFoundation">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/RPIGolf.jpg" alt="RPI Hockey Player">
            <h5 class="date">August 2015</h5>
            <div class="card-body">
              <h3 class="card-title">RPI Hockey Golf Classic</h3>
              <p class="card-text">Proud supporter of Rensselaer Polytechnic Institute Hockey</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#RPIHockey">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/niskyGolf.jpg" alt="Niskayuna Booster Logo">
            <h5 class="date">July 2015</h5>
            <div class="card-body">
              <h3 class="card-title">Niskayuna Boosters Golf Classic</h3>
              <p class="card-text">Proud supporter of Niskayuna, its athletes and the athletics program</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#NiskyGolf">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/questForGrace.jpg" alt="The Quest For Grace Foundation Logo">
            <h5 class="date">June 2015</h5>
            <div class="card-body">
              <h3 class="card-title">The Quest for Grace Foundation</h3>
              <p class="card-text">Providing clothing and other items to foster children in the Capital Region</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#questGrace">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/CENGolf.jpg" alt="CEN Logo with Golf View">
            <h5 class="date">June 2015</h5>
            <div class="card-body">
              <h3 class="card-title">CEN Scholarship Golf Day</h3>
              <p class="card-text">Raising money and awarding scholarships to many bright and inspiring area high school and college students</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#CENGolf">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/sageGolf.jpg" alt="Sage Golf Flag with TransTech Logo">
            <h5 class="date">June 2015</h5>
            <div class="card-body">
              <h3 class="card-title">Sage Gator Golf Classic</h3>
              <p class="card-text">Attended the Sage College golf fundraiser in support of Sage College Athletics</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#SageGolf">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/walkMS2015.jpg" alt="TransTech Systems Walk MS Group Photo">
            <h5 class="date">May 2015</h5>
            <div class="card-body">
              <h3 class="card-title">2015 Walk MS: Albany</h3>
              <p class="card-text">TransTech Systems proudly participated in the 2015 Walk for MS in Albany</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#walkMS2015">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/harry-golf-2015.jpg" alt="Harry Apkarian Golf Classic Logo">
            <h5 class="date">May 2015</h5>
            <div class="card-body">
              <h3 class="card-title">2015 Harry Apkarian Memorial Golf Classic</h3>
              <p class="card-text">TransTech Systems proudly supports the annual Harry Apkarian Memorial Golf Classic</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#harryGolf2015">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/strattonFamily.jpg" alt="TransTech Volunteers Photo at Stratton ANGB Family Day">
            <h5 class="date">September 2014</h5>
            <div class="card-body">
              <h3 class="card-title">Stratton Air National Guard Base Family Day</h3>
              <p class="card-text">Proud volunteer at family day, cooking for those who served and their families</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#strattonFamily">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/sunnyview.jpg" alt="Sunnyview Foundation TransTech Logo">
            <h5 class="date">August 2014</h5>
            <div class="card-body">
              <h3 class="card-title">Sunnyview Foundation Day at the Races</h3>
              <p class="card-text">Supporting the advancement of Sunnyview Rehabilitation Hospital</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#sunnyview">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/harry-golf-2014.jpg" alt="Harry Apkarian Golf Classic Logo">
            <h5 class="date">May 2014</h5>
            <div class="card-body">
              <h3 class="card-title">2014 Harry Apkarian Memorial Golf Classic</h3>
              <p class="card-text">TransTech Systems proudly supports the annual Harry Apkarian Memorial Golf Classic</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#harryGolf2014">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/walkMS2014.jpg" alt="TransTech Systems Walk MS Group Photo">
            <h5 class="date">May 2014</h5>
            <div class="card-body">
              <h3 class="card-title">2014 Walk MS: Albany</h3>
              <p class="card-text">TransTech Systems proudly participated in the 2014 Walk for MS in Albany</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#walkMS2014">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/walkMS2013.jpg" alt="TransTech Systems Walk MS Group Photo">
            <h5 class="date">May 2013</h5>
            <div class="card-body">
              <h3 class="card-title">2013 Walk MS: Albany</h3>
              <p class="card-text">TransTech Systems proudly participated in the 2013 Walk for MS in Albany</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#walkMS2013">Read More</button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../img/community/strattonFamily2013.jpg" alt="LC-130 Plane Photo at Stratton ANGB Family Day">
            <h5 class="date">September 2013</h5>
            <div class="card-body">
              <h3 class="card-title">Stratton Air National Guard Base Family Day</h3>
              <p class="card-text">Proud volunteer at family day, cooking for those who served and their families</p>
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#strattonFamily2013">Read More</button>
            </div>
          </div>
        </div>
        
      </div><!-- /row -->
      
    </div><!-- /container -->
  </section>
  <!-- /community Section -->
  
  
  
  
  <!-- Modals -->
  
  <!-- Walk MS 2017 Modal -->
  
  <div class="modal fade communityModal" id="walkMS2017" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2016 Walk MS: Albany</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <!--<a data-flickr-embed="true" href="https://www.flickr.com/photos/upstatenychapter/34172709404/in/album-72157681143736123/" title="Walk MS:  2017 Albany Video"><img src="https://farm5.staticflickr.com/4268/34679355432_9b04713782_c.jpg" width="800" height="450" alt="Walk MS:  2017 Albany Video"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>-->
          <img class="mb-4" src="../img/community/walkMS2017.jpg" alt="TransTech Systems Walk MS Group Photo">
          <p class="mt-3" >
            TransTech Systems was proud to participate with the <a class="link" href="http://main.nationalmssociety.org/site/TR/Walk/NYRWalkEvents?pg=entry&fr_id=29841" target="_blank">Albany Chapter.</a>
            2017 Walk for MS. It is an experience unlike any other, connecting people living with MS and those who care about them. A day to come together, to celebrate the progress we've made and to show the power of our connections.
          </p>
          <p>
            When you participate in Walk MS, the funds you raise give hope to the more than 12,800 people
            living with MS in our community. The dollars raised support life-changing programs and cutting-edge research.
            Every connection counts. Register now, connect with others and start fundraising today.
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- BoyScouts Modal -->
  
  <div class="modal fade communityModal" id="boyScouts" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Proud supporter of the Boy Scouts of America</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/boyScouts2017.jpg" alt="TransTech Systems Engineer teaching Boy Scouts">
          <p>
            TransTech Systems continues to be a proud supporter of the <a class="link" href="https://www.scouting.org" target="_blank">Boy Scouts of America</a>.
            TransTech is the charter organization for local Pack 3081. This month, our engineering staff provided hand-on learning about Engineering - from measuring
            and calculating square footage of a room, to drawing and creating a circuit diagram. The Webelos II of Cub Scout Pack 3081 are completing their
            requirements to obtain their Arrow of Light to move onto Boys Scouts.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Futures Modal -->
  
  <div class="modal fade communityModal" id="futuresModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">The Futures at Mohon</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/futures-2016.jpg" alt="Mohon Futures Logo">
          <p>
            TransTech Systems proudly sponsored The Futures at Mohon, a championship style
            Frosh/Soph invitational designed to highlight the future starts in track & Field.
            TransTech provided sponsorship for the 1500m Girls Run and the 1600m Boys Run.
            Congratulations to all the participating athletes!
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Niskayuna Baseball Modal -->
  
  <div class="modal fade communityModal" id="NiskyBaseballModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Niskayuna Baseball League</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/niskyBaseball-2016.jpg" alt="Niskayuna Baseball Player">
          <p>
            TransTech is once again proud to support our local youth sports. TransTech
            provides sponsorship of a <a class="link" href="http://www.niskybaseball.com/site" target="_blank">Niskayuna Baseball League</a> team, as well as banner
            and scoreboard sponsorships.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Harry Golf 2016 Modal -->
  
  <div class="modal fade communityModal" id="harryGolf2016" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2016 Harry Apkarian Memorial Golf Classic</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/harry-golf-2016.jpg" alt="TransTech Systems Employee Group Photo">
          <p>
            TransTech Systems proudly participated and supported the 2016 <a class="link" href="http://capitalregionchamber.com" target="_blank">Capital Region
            Chamber of Commerce</a> Golf Classic. This outing, also known as the Harry Apkarian
            Memorial Tournament, honors TransTech’s founder, and our current President’s father.
            In Harry’s memory, TransTech continues to give to the scholarship fund to help our
            young, entrepreneurial youth in the Capital District
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Walk MS 2016 Modal -->
  
  <div class="modal fade communityModal" id="walkMS2016" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2016 Walk MS: Albany</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/walkMS2016.jpg" alt="TransTech Systems Walk MS Group Photo">
          <p>
            TransTech Systems was proud to participate with the <a class="link" href="http://main.nationalmssociety.org/site/TR/Walk/NYRWalkEvents?pg=entry&fr_id=29841" target="_blank">Albany Chapter.</a>
            2016 Walk for MS. It is an experience unlike any other, connecting people living with MS and those who care about them. A day to come together, to celebrate the progress we've made and to show the power of our connections.
          </p>
          <p>
            When you participate in Walk MS, the funds you raise give hope to the more than 12,800 people
            living with MS in our community. The dollars raised support life-changing programs and cutting-edge research.
            Every connection counts. Register now, connect with others and start fundraising today.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- UMAC 2015 Modal -->
  
  <div class="modal fade communityModal" id="UMAC2015" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">To Honor and Serve - Veterans Day Breakfast</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/UMAC2015.jpg" alt="UMAC Logo">
          <p>
            TransTech is proud to support and honor all those who have served and continue to serve at the 7th annual breakfast.
            Local "celebrities" will served breakfast to our honored guests, active military and veterans from around the Capital
            Region. Hosted by the <a class="link" href="http://www.umacny.org" target="_blank">United Military Affairs Council</a>, 
            <a class="link" href="http://capitalregionchamber.com" target="_blank">Capital Region Chamber of Commerce</a> and
            <a class="link" href="https://glensandersmansion.com" target="_blank">Glen Sanders Mansion</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Nisky Foundation 2015 Modal -->
  
  <div class="modal fade communityModal" id="niskyFoundation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">15th Anniversary Day of Service</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/niskyFoundation2015.jpg" alt="Niskayuna Foundation Logo">
          <p>
            On September 26th, the <a class="link" href="https://niskayunacf.org" target="_blank">Niskayuna Community Foundation (NCF)</a>
            proudly celebrated their 15th anniversary by hosting a community-wide day of service and celebration. Over 200 volunteers completed 15 community service
            projects for not-for-profit organizations that serve Niskayuna residents, including <a class="link" href="https://bbbscr.org" target="_blank">Big Brothers Big Sisters</a>,
            Safe Inc., and the Niskayuna Senior Center. 
          </p>
          <p>
            After a day of fulfilling work, friends and neighbors came together for a
            celebration of community spirit with a party and fundraiser at LT’s Grill. Over the past 15 years, the NCF has
            awarded more than 60 scholarships to Niskayuna students and distributed more than 175 financial grants to
            organizations that make life better for Niskayuna residents, supporting arts and culture, education, health,
            recreation, environment, and human services programs and projects.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- RPI Hockey Modal -->
  
  <div class="modal fade communityModal" id="RPIHockey" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">RPI Hockey Golf Classic</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/RPIGolf.jpg" alt="RPI Hockey Player">
          <p>
            TransTech proudly supports <a class="link" href="http://www.rpiathletics.com/index.aspx?path=hockey" target="_blank">Rensselaer Polytechnic Institute Hockey</a>.
            Proceeds from the golf outing in years past have continued to allow RPI to enhance and upgrade the Hockey program in many ways.
            These upgrades allow the type of experience for the recruits and student-athletes needed to contend in the ECAC and nationally.
        </div>
      </div>
    </div>
  </div>
  
  <!-- Nisky Boosters Golf Modal -->
  
  <div class="modal fade communityModal" id="NiskyGolf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Niskayuna Boosters Club Golf Classic</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/niskyGolf.jpg" alt="Niskayuna Booster Logo">
          <p>
            TransTech proudly supports Niskayuna, its athletes and the athletics program. The purpose of the tournament is to assist with
            raising monies for the Niskayuna Boosters Club to support all athletic programs at Niskayuna. All funds raised will help offset
            the cost of the golf outing with the remainder going directly to the Niskayuna Boosters Club to assist with contributions of
            the Overall Athletic Program at Niskayuna High School.
        </div>
      </div>
    </div>
  </div>
  
  <!-- Quest For Grace Modal -->
  
  <div class="modal fade communityModal" id="questGrace" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">The Quest for Grace Foundation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/questForGrace.jpg" alt="The Quest For Grace Foundation Logo">
          <p>
            Since 2005, <a class="link" href="http://www.questforgrace.com" target="_blank">The Quest for Grace Foundation</a> has provided
            clothing, and other items to foster children in the Capital Region. The Foundation operates solely on donations and good will.
            Every item is free and nothing is sold.
          </p>
          <p>
            Founded on the premise that "every child is a gift," we seek to make a positive difference in the lives of these children.
            We hope that our efforts help lighten the burden of neglect, indifference and abuse and let foster children know that someone cares for them.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- CEN Golf Modal -->
  
  <div class="modal fade communityModal" id="CENGolf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CEN Scholarship Golf Day</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/CENGolf.jpg" alt="CEN Logo with Golf View">
          <p>
            Over the course of 15 years, the <a class="link" href="http://www.cenmfg.org" target="_blank">Chief Executives Network for Manufacturing</a>
            Scholarship Golf Day has raised thousands of dollars and awarded scholarships to many bright and inspiring area high school and college
            students who are either currently enrolled in, or planning to enroll in, a major which will lead to employment with a manufacturer.
          </p>
          <p>
            During the 15th Annual Golf Day at the Edison Club last June, CEN recognized 8 area high school and college students and awarded
            each a $1,000 scholarship, to be used towards college expenses.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Sage Golf Modal -->
  
  <div class="modal fade communityModal" id="SageGolf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sage College Athletics Gator Golf Classic</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/sageGolf.jpg" alt="Sage Golf Flag with TransTech Logo">
          <p>
            The Gator Golf Classic is <a class="link" href="http://www.sagegators.com/landing/index" target="_blank">Sage Athletics</a> most important
            fundraising event. 2015 marks the 11th year that Sage has hosted this tournament with all proceeds dedicated to enhancing the collegiate
            experience of our student-athletes. 
          </p>
          <p>
            The generous support of the golfers and corporate sponsors has raised over $250,000 over the last ten years.
            That financial support has helped us launch nine new varsity teams since 2008, while many schools are cutting programs to deal with difficult
            financial circumstances.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Walk MS 2015 Modal -->
  
  <div class="modal fade communityModal" id="walkMS2015" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2015 Walk MS: Albany</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/walkMS2015.jpg" alt="TransTech Systems Walk MS Group Photo">
          <p>
            TransTech Systems was proud to participate with the <a class="link" href="http://main.nationalmssociety.org/site/TR/Walk/NYRWalkEvents?pg=entry&fr_id=29841" target="_blank">Albany Chapter.</a>
            2015 Walk for MS. It is an experience unlike any other, connecting people living with MS and those who care about them. A day to come together, to celebrate the progress we've made and to show the power of our connections.
          </p>
          <p>
            When you participate in Walk MS, the funds you raise give hope to the more than 12,800 people
            living with MS in our community. The dollars raised support life-changing programs and cutting-edge research.
            Every connection counts. Register now, connect with others and start fundraising today.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Harry Golf 2015 Modal -->
  
  <div class="modal fade communityModal" id="harryGolf2015" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2015 Harry Apkarian Memorial Golf Classic</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/harry-golf-2015.jpg" alt="Harry Apkarian Golf Classic Logo">
          <p>
            TransTech Systems proudly participated and supported the 2015 <a class="link" href="http://capitalregionchamber.com" target="_blank">Capital Region
            Chamber of Commerce</a> Golf Classic. This outing, also known as the Harry Apkarian
            Memorial Tournament, honors TransTech’s founder, and our current President’s father.
            In Harry’s memory, TransTech continues to give to the scholarship fund to help our
            young, entrepreneurial youth in the Capital District
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Stratton Family Day Modal -->
  
  <div class="modal fade communityModal" id="strattonFamily" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Stratton Air National Guard Base Family Day</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/strattonFamily.jpg" alt="TransTech Volunteers Photo at Stratton ANGB Family Day">
          <p>
            Almost 3,000 people attended the <a class="link" href="http://www.109aw.ang.af.mil" target="_blank">109th Airlift Wing’s</a> Family Day
            at Stratton Air National Guard Base. TransTech Systems, along with members of the Capital Regions Chamber
            <a class="link" href="http://www.umacny.org" target="_blank">Unified Military Affairs Council (UMAC)</a>, volunteered a group
            of employees and friends to cook and serve chicken wings at the event.
          </p>
          <p>
            “It’s a small way to say thank you to those that serve our country, we are happy to support our local National Guard Base” said David Apkarian,
            President of TransTech Systems. Support of the military families is just one way that TransTech gives back to the community. The day included
            food, music, games, static displays and much more for the Family Day participants.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Sunnyview Foundation Modal -->
  
  <div class="modal fade communityModal" id="sunnyview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sunnyview Foundation Day at the Races</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/sunnyview.jpg" alt="Sunnyview Foundation TransTech Logo">
          <p>
            We were proud to support <a class="link" href="https://www.givetosunnyview.org" target="_blank">The Sunnyview Rehabilitation Hospital Foundation's</a>
            annual “Day at the Races” fundraiser. The Sunnyview Rehabilitation Hospital Foundation was incorporated in 1983 to support the advancement of
            Sunnyview Rehabilitation Hospital in its mission to improve the lives of people with disabilities and the lives of their families.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Harry Golf 2014 Modal -->
  
  <div class="modal fade communityModal" id="harryGolf2014" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2014 Harry Apkarian Memorial Golf Classic</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/harry-golf-2014.jpg" alt="Harry Apkarian Golf Classic Logo">
          <p>
            TransTech Systems proudly participated and supported the 2014 <a class="link" href="http://capitalregionchamber.com" target="_blank">Capital Region
            Chamber of Commerce</a> Golf Classic. This outing, also known as the Harry Apkarian
            Memorial Tournament, honors TransTech’s founder, and our current President’s father.
            In Harry’s memory, TransTech continues to give to the scholarship fund to help our
            young, entrepreneurial youth in the Capital District
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Walk MS 2014 Modal -->
  
  <div class="modal fade communityModal" id="walkMS2014" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2014 Walk MS: Albany</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/walkMS2014.jpg" alt="TransTech Systems Walk MS Group Photo">
          <p>
            TransTech Systems was proud to participate with the <a class="link" href="http://main.nationalmssociety.org/site/TR/Walk/NYRWalkEvents?pg=entry&fr_id=29841" target="_blank">Albany Chapter.</a>
            2014 Walk for MS. It is an experience unlike any other, connecting people living with MS and those who care about them. A day to come together, to celebrate the progress we've made and to show the power of our connections.
          </p>
          <p>
            When you participate in Walk MS, the funds you raise give hope to the more than 12,800 people
            living with MS in our community. The dollars raised support life-changing programs and cutting-edge research.
            Every connection counts. Register now, connect with others and start fundraising today.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Walk MS 2013 Modal -->
  
  <div class="modal fade communityModal" id="walkMS2013" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">2013 Walk MS: Albany</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/walkMS2013.jpg" alt="TransTech Systems Walk MS Group Photo">
          <p>
            TransTech Systems was proud to participate with the <a class="link" href="http://main.nationalmssociety.org/site/TR/Walk/NYRWalkEvents?pg=entry&fr_id=29841" target="_blank">Albany Chapter.</a>
            2013 Walk for MS. It is an experience unlike any other, connecting people living with MS and those who care about them. A day to come together, to celebrate the progress we've made and to show the power of our connections.
          </p>
          <p>
            When you participate in Walk MS, the funds you raise give hope to the more than 12,800 people
            living with MS in our community. The dollars raised support life-changing programs and cutting-edge research.
            Every connection counts. Register now, connect with others and start fundraising today.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Stratton Family Day 2013 Modal -->
  
  <div class="modal fade communityModal" id="strattonFamily2013" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Stratton Air National Guard Base Family Day</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img class="mb-4" src="../img/community/strattonFamily2013.jpg" alt="LC-130 Plane Photo at Stratton ANGB Family Day">
          <p>
            Family Day was a major undertaking for all involved, and the turnout was greater than expected. SMAC members assisted with
            the bouncy-bounce operation, applied washable tattoos, scooped ice cream (that proved to be tough as nails), handed out drinks,
            made popcorn and cooked chicken wings all day! At any given time, there were 15 to 20 SMAC volunteers assisting in the various
            operations.
          </p>
          <p>
            The feedback from these volunteers was tremendous, and all truly enjoyed the experience of giving back to support our local troops and their families.
          </p>
        </div>
      </div>
    </div>
  </div>
  

 
<% include ./partials/footer %>