<% include ./partials/header %>

<!-- map section -->
<section id="map">
  <!-- Using google maps embed option rather than javascript to be able to point to TransTech location -->
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1032195.7380596931!2d-73.8299512058221!3d41.73578789314988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de726b6f4a031f%3A0x49fd09a9edb49f34!2sTranstech+Systems+Inc!5e0!3m2!1sen!2sus!4v1524659171409"
    style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
</section>
<!-- /map section -->

<!-- contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">

      <div class="col-md-6 text-center text-md-left">
        <h2>Corporate Office</h2>
        <hr>
        <img class="img-fluid mb-4 buildingImg" src="../img/transtechBuildingContact.jpg"
          alt="TransTech Systems Facility">
        <!-- <div class="contact-info">
          <address>
            900 Albany Shaker Road<br>
            Suite #2<br>
            Latham, NY 12110<br>
          </address>

          <p><a class="phone-link" href="tel:+5183705558"><i class="fas fa-phone-square" data-fa-transform="flip-h"></i>
              +1-518-370-5558</a></p>
          <p><a class="phone-link" href="tel:+18007246306"><i class="fas fa-phone-square"
                data-fa-transform="flip-h"></i> 1-800-724-6306</a></p>
          <p><i class="fas fa-fax"></i> +1-518-370-5538</p>
        </div> -->
      </div>

      <div class="col-md-5 ml-auto mt-5 mt-md-0">
        <h2 class="text-center text-md-left">Contact Us</h2>
        <hr>

        <div class="contact-info text-center text-md-left">
          <address>
            900 Albany Shaker Road<br>
            Suite #2<br>
            Latham, NY 12110<br>
          </address>

          <p><a class="phone-link" href="tel:+5183705558"><i class="fas fa-phone-square" data-fa-transform="flip-h"></i>
              +1-518-370-5558</a></p>
          <p><a class="phone-link" href="tel:+18007246306"><i class="fas fa-phone-square"
                data-fa-transform="flip-h"></i>
              1-800-724-6306</a></p>
          <p><i class="fas fa-fax"></i> +1-518-370-5538</p>
        </div>

        <!-- Node Flash Message -->
        <!-- <% if(flash && flash.success && flash.success.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash.success %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> -->
        <!-- /Node Flash Message -->

        <!-- <form action="/products/contactCorporate" method="post" id="corporateContactForm"
          class="d-flex flex-column mb-4">
          <div class="form-group">
            <label for="name" class="text-left">Name</label>
            <input type="text" class="form-control form-control-lg" name="name" id="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control form-control-lg" name="email" id="email" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control form-control-lg" name="message" id="message" rows="5" required></textarea>
          </div>
          <div class="form-group business-address">
            <input type="text" class="form-control form-control-lg" name="businessAddress" id="businessAddress"
              tabindex="-1">
          </div>

          <button id="corpContactBtn" class="btn btn-outline-success btn-lg submit-btn btn-block mt-3">Submit</button>
          <i class="fas fa-spinner fa-2x fa-spin mt-4 mx-auto"></i>
          
          <span class="submitMessage text-center mt-4 mb-3 mx-auto">Thank you, your message has been sent</span>
          
        </form> -->
      </div>
    </div>
  </div>
</section>
<!-- /contact Section -->

<% include ./partials/footer %>