<% include ./partials/header %>

<!-- News Section -->
<section id="news">
  <div class="container text-center text-md-left">
    <h2>Corporate News</h2>
    <hr>

    <div class="news-items">

      <div>
        <h3>April 2019</h3>
        <a href="http://motorwaytechnologies.com.au" class="news-link mt-3" target="_blank">Motorway Technologies
          announced as TransTech
          Systems Distributor of the Year for 2018</a>
        <p class="lead mt-3">In recognition of superior growth and performance, Motorway Technologies is the 2018
          TransTech Distributor of the Year!</p>
      </div>

      <div>
        <h3>March 2018</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#atlantic2017">Atlantic Supply announced as TransTech
          Systems Distributor of the Year for 2017</a>
        <p class="lead mt-3">In recognition of superior growth and performance, Atlantic Supply is the 2017 TransTech
          Distributor of the Year!</p>
      </div>

      <div>
        <h3>April 2017</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#boyScouts">TransTech Systems continues to be a proud
          supporter of the Boy Scouts of America</a>
        <p class="lead mt-3">TransTech is the Charter Organization for local Pack 3081. This month, our engineering
          staff provided hand-on learning about Engineering - from measuring and calculating square footage of a room,
          to drawing and creating a circuit diagram.</p>
      </div>

      <div>
        <h3>April 2017</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#JRTechnical2016">JR Technical Services announced as
          TransTech Systems Distributor of the Year for 2016</a>
        <p class="lead mt-3">In recognition of superior growth and performance, JR Technical Services is the 2016
          TransTech Distributor of the Year!</p>
      </div>

      <div>
        <h3>October 2016</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#wereMoving">TransTech Systems is moving to a new
          corporate office location</a>
        <p class="lead mt-3">The new office space means improved production and engineering space, new amenities for
          employees and room for growth.</p>
      </div>

      <div>
        <h3>April 2016</h3>
        <!--Regular Link / Not Modal -->
        <a class="news-link mt-3" href="../pdf/USDOT-OST-2016.pdf" target="_blank">TransTech's response to USDOT OST-R
          RFI regarding 5 year R&D strategic plan</a>
        <p class="lead mt-3">TransTech Systems recommends research &amp; development on incorporating density
          measurements into FHWA intelligent compaction integrated measurement system requirements.</p>
      </div>

      <div>
        <h3>February 2016</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#beratest2015">Beratest announced as TransTech
          Systems Distributor of the Year for 2015</a>
        <p class="lead mt-3">In recognition of superior growth and performance, Beratest is the 2015 TransTech
          Distributor of the Year!</p>
      </div>

      <div>
        <h3>August 2015</h3>
        <!--Regular Link / Not Modal -->
        <a class="news-link mt-3" href="https://issuu.com/asphaltpro/docs/apro1508/50" target="_blank">PQI 380
          Non-Nuclear Asphalt Density Gauge Featured in Asphalt Pro Magazine</a>
        <p class="lead mt-3">Asphalt paving and pavement maintenance essentials \ using electromagnetic density gauges
          to measure in-place density of asphalt.</p>
      </div>

      <div>
        <h3>June 2015</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#BAVHighlight">Distributor Highlight - Bav
          Corporation, Inc.</a>
        <p class="lead mt-3">We would like to introduce you to one of our many partners, Bav Corporation, Inc.</p>
      </div>

      <div>
        <h3>April 2015</h3>
        <!--Regular Link / Not Modal -->
        <a class="news-link mt-3" href="../pdf/umacSpring2015.pdf" target="_blank">We attend UMAC joint services spring
          formal to support scholarship fund</a>
        <p class="lead mt-3">Supporting the United Military Affairs Council scholarship fund to raise over $6000!</p>
      </div>

      <div>
        <h3>April 2015</h3>
        <!--Regular Link / Not Modal -->
        <a class="news-link mt-3"
          href="https://www.forconstructionpros.com/asphalt/press-release/12062268/ac-business-media-asphalt-contractormagazine-namestop-30-editors-choiceproducts"
          target="_blank">SDG 200 wins Top 30 products award</a>
        <p class="lead mt-3">Our SDG 200 non-nuclear soil density gauge is nomiated for Asphalt Contractor Magazine's
          2015 top 30 editor’s choice awards!</p>
      </div>

      <div>
        <h3>March 2015</h3>
        <!--Regular Link / Not Modal -->
        <a class="news-link mt-3" href="pdf/msAwareness2015.pdf" target="_blank">We are proud to support MS
          awareness</a>
        <p class="lead mt-3">David and Tammy Apkarian of TransTech Systems joined Schenectady mayor McCarthy, as he read
          a city proclamation for MS awareness month, March 2015. <a class="link"
            href="http://main.nationalmssociety.org/site/TR/Walk/NYRWalkEvents?pg=team&fr_id=25186&team_id=416232"
            target="_blank">Learn more about our efforts on the fight against MS</a></p>
      </div>

      <div>
        <h3>January 2015</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#ABASHighlight">Distributor Highlight - ABAS AS</a>
        <p class="lead mt-3">We would like to introduce you to one of our many partners, ABAS AS.</p>
      </div>

      <div>
        <h3>October 2014</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#TaiseiHighlight">Distributor Highlight - Taisei
          International</a>
        <p class="lead mt-3">We would like to introduce you to one of our many partners, Taisei International.</p>
      </div>

      <div>
        <h3>September 2014</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#VeteransGolf">We attend the ShopRite Veterans
          Charity Golf Outing and Casino Night</a>
        <p class="lead mt-3">We are proud to participate and support the ShopRite Veterans Charity Golf Outing and
          Casino Night. All proceeds benefit the <a href="#" class="link">Tower of Hope</a>, an organization that raises
          funds to provide wounded veterans with service dogs.</p>
      </div>

      <div>
        <h3>August 2014</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#AtlanticHighlight">Distributor Highlight - Atlantic
          Supply</a>
        <p class="lead mt-3">We would like to introduce you to one of our many partners, Atlantic Supply.</p>
      </div>

      <div>
        <h3>July 2014</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#NYSMerit">New York State Assembly - Certificate of
          Merit</a>
        <p class="lead mt-3">TransTech Systems is recognized by Angelo Santabarbara of the New York state assembly upon
          receiving the Top 30 Editors choice award from Asphalt Contractor.</p>
      </div>

      <div>
        <h3>July 2014</h3>
        <!--Regular Link / Not Modal -->
        <a class="news-link mt-3" href="../pdf/nfib.pdf" target="_blank">Letter from NFIB</a>
        <p class="lead mt-3">NFIB congratulates TransTech Systems for being chosen for The Asphalt Contractor Magazine's
          Top 30 Editor’s choice awards.</p>
      </div>

      <div>
        <h3>June 2014</h3>
        <!--Regular Link / Not Modal -->
        <a class="news-link mt-3"
          href="https://www.forconstructionpros.com/asphalt/article/11457751/asphalt-contractors-top-30-editors-choice-products"
          target="_blank">PQI 380 wins Top 30 products award</a>
        <p class="lead mt-3">Our PQI 380 non-nuclear asphalt density gauge is nomiated for Asphalt Contractor Magazine's
          2014 top 30 editor’s choice awards!</p>
      </div>

      <div>
        <h3>February 2014</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#capitalBusiness">Capital Business Beat</a>
        <p class="lead mt-3">We are featured in Time Warner Cable News - Capital Region Business Beat - By: Jon
          Dougherty.</p>
      </div>

      <div>
        <h3>August 2013</h3>
        <a class="news-link mt-3" data-toggle="modal" data-target="#sdgASTM">Our SDG 200 conforms to ASTM Standard
          D7830</a>
        <p class="lead mt-3">ASTM International standard #D7830 will be used by contractors and government agencies for
          quality control and quality assurance of electromagnetic soil density gauges.</p>
      </div>

    </div><!-- /news-items -->

  </div><!-- /container -->
</section>
<!-- /news Section -->


<!-- Modals -->

<!-- Atlantic Supply Distributor of Year 2017 -->

<div class="modal fade newsModal" id="atlantic2017" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">2017 Distributor of the Year</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="mb-4" src="../img/news/atlantic2017.jpg"
          alt="Atlantic Supply accepting TransTech Systems distributor of the year award">
        <p>
          In recognition of superior growth and performance, <a class="link" href="https://www.atlanticsupply.com"
            target="_blank">Atlantic Supply</a> is the 2017 TransTech Systems Distributor of the Year!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Boy Scouts -->

<div class="modal fade newsModal" id="boyScouts" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Proud supporter of the Boy Scouts of America</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="mb-4" src="../img/community/boyScouts2017.jpg"
          alt="Boy Scouts learning about TransTech Systems technology">
        <p>
          TransTech Systems continues to be a proud supporter of the <a class="link" href="https://www.scouting.org"
            target="_blank">Boy Scouts of America</a>.
          TransTech is the charter organization for local Pack 3081. This month, our engineering staff provided hand-on
          learning about Engineering - from measuring
          and calculating square footage of a room, to drawing and creating a circuit diagram. The Webelos II of Cub
          Scout Pack 3081 are completing their
          requirements to obtain their Arrow of Light to move onto Boys Scouts.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- JR Technical Distributor of Year 2016 -->

<div class="modal fade newsModal" id="JRTechnical2016" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">2016 Distributor of the Year</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="mb-4" src="../img/news/JRTSLogo.jpg" alt="JR Technical Services UK Ltd Logo">
        <p>
          In recognition of superior growth and performance, <a class="link" href="http://www.jrts.co.uk"
            target="_blank">JR Technical Services UK Ltd</a> is the 2016 TransTech Systems Distributor of the Year!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Were Moving -->

<div class="modal fade newsModal" id="wereMoving" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">We're Moving!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="mb-4" src="../img/news/wereMoving.jpg" alt="Google map photo of TransTech Systems new location">
        <p>
          TransTech Systems, Inc. will occupy approximately 14,100 square feet of the 21,000 square feet building. “The
          new floor plan will provide
          greater flexibility in how we develop and produce current and new products. It is designed to facilitate
          better workflow, and we are now
          able to position our entire company very effciently in the new building. We expect this to improve
          communication, and most importantly,
          increase our build capacity of current products and collaboration on new products.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Beratest Distributor of Year 2015 -->

<div class="modal fade newsModal" id="beratest2015" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">2015 Distributor of the Year</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="mb-4" src="../img/news/beratest2015.jpg"
          alt="TransTech Systems distributor of the year award given to Beratest">
        <p>
          In recognition of superior growth and performance, <a class="link" href="http://beratest.com"
            target="_blank">BeraTest</a> is the 2015 TransTech Systems Distributor of the Year!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- BAV Highlight -->

<div class="modal fade newsModal" id="BAVHighlight" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Distributor Highlight - BAV Corporation, Inc.</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">

        <figure class="figure mb-4">
          <img src="../img/news/highlightBav1.jpg" class="figure-img"
            alt="BAV Corporation using the TransTech Systems PQI 380">
          <figcaption class="figure-caption text-left">Moscow-Kharkiv Highway Association as well as Artem Boev from BAV
            Corporation, Moscow</figcaption>
        </figure>

        <div class="text-left">
          <h4>Where are your offices located?</h4>
          <p>Headquarters:47 Mansfield Street, Sharon, MA USA<br>
            Other Locations: Moscow, Russia; Kiev, Ukraine; Minsk Belarus; Almaty Kazakhstan</p>

          <h4>How many years have you been in business?</h4>
          <p>20 years</p>

          <h4>Number of employees?</h4>
          <p>30 internationally</p>

          <h4>Who are your customers?</h4>
          <p>We sell to both contractors and government entities both regional and federal in our territory</p>

          <h4>Other products/services your company offers</h4>
          <p>In the US we are distributors of the German manufacturer of laboratory equipment InfraTest, featuring the
            Asphalt Analyzer for the utmost
            efficient extraction and binder content determination of bituminous materials in as little as 45 minutes. In
            Russia and Eastern Europe we are
            also the distributors of Crafco, LeeBoy,Weiler, Mindland and Forta</p>

          <h4>List your top 3 customers who use TransTech Systems products?</h4>
          <p>1. Traffic Inspectorate of city of Moscow, Russia (OATI)<br>
            2. Federal Highway Administration "Bobruisk-Moscow" Region<br>
            3. Federal Highway Administration "Altai” Region<br>
            4. DSK "Autobahn", DOT of the Khanty-Mansisk Autonomous Region</p>

          <hr>

          <p>
            It was a big win for <a class="link" href="http://bavcompany.ru" target="_blank">BAV Corporation</a> in
            Moscow together with TransTech Systems
            to implement the PQI and SDG for use by the Moscow City Traffic Inspectorate authority, having their
            approval and backing has paved the road
            for other regional DOT’s and private organizations to adopt TransTech Systems technology throughout the
            country
          </p>

          <figure class="figure my-4">
            <img src="../img/news/highlightBav2.jpg" class="figure-img" alt="PQI 380 on road in Russia">
            <figcaption class="figure-caption text-left">"ROSDORNII" Russian Highway Design Research and Production
              Institution</figcaption>
          </figure>

          <h4>How to contact BAV Corporation, Inc.</h4>
          <p>Inquiries about the TransTech Systems product line, please contact Simon Brook, Vice President, BAV
            Corporation.</p>
          <p><span class="contactDist">Email:</span> <a class="link"
              href="mailto:sales@bavcompany.com?subject=Inquiry%20from%20TransTech%20Systems%20Website">sales@bavcompany.com</a><br>
            <span class="contactDist">Phone:</span> <a class="phone-link" href="tel:781-784-3095">781-784-3095</a><br>
            <span class="contactDist">Website:</span> <a class="link" href="http://bavcompany.ru" target="_blank">BAV
              Company</a></p>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- ABAS Highlight -->

<div class="modal fade newsModal" id="ABASHighlight" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Distributor Highlight - ABAS AS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">

        <figure class="figure mb-4">
          <img src="../img/news/highlightAbas1.jpg" class="figure-img"
            alt="ABAS AS using the TransTech Systems PQI 380">
          <figcaption class="figure-caption text-left">
            Veidekke AS paving the runway on Kristiansund airport. This is a night job in the middle of the summer, but
            since
            they are in Norway it is not getting dark!</figcaption>
        </figure>

        <div class="text-left">
          <h4>Where are your offices located?</h4>
          <p>Headquarters: Lierskogen, Norway<br>
            Denmark, Finland, Iceland, and Sweden are represented by ABAS AS</p>

          <h4>How many years have you been in business?</h4>
          <p>30 years</p>

          <h4>Number of employees?</h4>
          <p>3</p>

          <h4>Who are your customers?</h4>
          <p>The top 3 customers for ABAS AS include: Veidekke Industri AS, NCC Roads AS and Skanska AB</p>

          <h4>Other products/services your company offers</h4>
          <p>Asphalt plants, machine guidance, leveling equipment, laser and ultrasound sensors, infrared heaters, and
            machine trailers. They also
            offer repair and service to all product lines</p>

          <hr>

          <p>
            <a class="link" href="http://www.abas-as.no" target="_blank">ABAS AS</a> started in the road building
            machinery business 30
            years ago. The company started with Hamm Road Rollers in 1983. Grade Line and Moba leveling/machine
            guidance, then Benninghoven asphalt
            plants and IR-ABG pavers and rollers. ABAS AS began representing TransTech Systems products in May of 2001.
            Within the first year, ABAS AS
            sold 15 PQI’s
          </p>

          <figure class="figure my-4">
            <img src="../img/news/highlightAbas2.jpg" class="figure-img" alt="PQI 380 being used in Norway">
            <figcaption class="figure-caption text-left">Veidekke AS and Statens Vegvesen testing PQI 380 asphalt
              density gauges</figcaption>
          </figure>

          <h4>How to contact ABAS AS</h4>
          <p>Inquiries about the TransTech Systems product line, please contact Geir Solberg.</p>
          <p><span class="contactDist">Email:</span> <a class="link"
              href="mailto:gsolberg@abas-as.no?subject=Inquiry%20from%20TransTech%20Systems%20Website">gsolberg@abas-as.no</a><br>
            <span class="contactDist">Phone:</span> +47 32 24 35 30<br>
            <span class="contactDist">Website:</span> <a class="link" href="http://abas-as.simplesite.com"
              target="_blank">ABAS AS</a></p>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Taisei Highlight -->

<div class="modal fade newsModal" id="TaiseiHighlight" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Distributor Highlight - Taisei International</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">

        <figure class="figure mb-4">
          <img src="../img/news/highlightTaisei.jpg" class="figure-img"
            alt="Taisei receiving TransTech Systems Distributor of the year award">
          <figcaption class="figure-caption text-left">
            Taisei International receiving the 2013 TransTech Systems distributor of the year award for outstanding
            sales of non-nuclear PQI’s and SDG’s
          </figcaption>
        </figure>

        <div class="text-left">
          <h4>Where are your offices located?</h4>
          <p>Headquarters: Chennai, India<br>
            Other Locations: Secunderabad, Pune, Bangaluru and Trivandrum</p>

          <h4>How many years have you been in business?</h4>
          <p>19 years</p>

          <h4>Who are your customers?</h4>
          <p>
            We work very closely with various sectors: private contractors and major corporate companies; central
            government departments
            and state organizations; the military defense; and education and research institutions. The reach and need
            is very widespread,
            we provide the tools and support in India for the non-nuclear technology that is desirable in India
          </p>

          <h4>Why was your first PQI sale so successful and what did it mean to the entry into the Indian market?</h4>
          <p>
            The first Pavement Quality Indicator Model PQI 301 was sold to one of the quality conscious Department at
            Delhi for a
            prestigious Major Road project. It was effectively put to use for their Delhi - Dwarka - Airport road
            project. This project was
            executed by the one of the leading Corporate construction companies in India.
          </p>

          <p>
            This was a classic case where the road maintenance expenditures were almost nil in the subsequent years with
            the usage of
            the PQI, unlike the other projects executed without the use of PQI.
          </p>

          <p>
            With our marketing and promotional strategy, we were able to highlight the accuracy of the results of PQI.
            Our quality
            conscious officials across our country started using this product. As a result, State government and
            Corporations have
            made the use of the TransTech, USA made, Pavement Quality Indicator mandatory for achieving the required
            field density.
            The PQI extends the long life of the road assets, and the test results of PQI are made mandatory for passing
            the contractors
            bill for payment.
          </p>

          <hr>

          <p>
            <a class="link" href="http://www.taiseint.com/home" target="_blank">Taisei International</a> was founded in
            1999 and boasts several divisions
            crossing many industries, such as construction, agriculture, steel, industrial, and road quality data
            collecting. Their diverse applications make
            our partnership very valuable in the construction market
          </p>


          <h4>How to contact Taisei International</h4>
          <p>Inquiries about the TransTech Systems product line, please contact Mr. G Parasuraman, President.</p>
          <p><span class="contactDist">Email:</span> <a class="link"
              href="mailto:g.parasuraman@yahoo.com?subject=Inquiry%20from%20TransTech%20Systems%20Website">g.parasuraman@yahoo.com</a><br>
            <span class="contactDist">Phone:</span> 91-044-26162877<br>
            <span class="contactDist">Website:</span> <a class="link" href="http://www.taiseint.com/home"
              target="_blank">Taisei International</a></p>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Veterans Golf Casino Night -->

<div class="modal fade newsModal" id="VeteransGolf" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ShopRite Veterans Charity Golf Outing and Casino Night</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="mb-4" src="../img/news/shopriteVeterans.jpg"
          alt="TransTech Systems group photo at the ShopRite veterans charity golf outing">
        <p>
          We are proud to participate and support the ShopRite Veterans Charity Golf Outing and Casino Night.
          All proceeds will benefit the <a class="link" href="http://www.thetowerofhope.org" target="_blank">Tower of
            Hope</a>
          which was founded in memory of Thomas E. Sinton III, 41, who was died in the terrorist attacks of September
          11, 2001
          while working for Cantor Fitzgerald. The Tower of Hope raises funds to provide wounded veterans with service
          dogs
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Atlantic Highlight -->

<div class="modal fade newsModal" id="AtlanticHighlight" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Distributor Highlight - Atlantic Supply</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">

        <figure class="figure mb-4">
          <img src="../img/news/highlightAtlantic.jpg" class="figure-img" alt="Atlantic Supply SDG 200 Demonstration">
          <figcaption class="figure-caption text-left">
            Atlantic Supply and TransTech Systems demonstrate usage of the SDG 200 Non-Nuclear Soil Density Gauge to the
            Florida DOT
          </figcaption>
        </figure>

        <div class="text-left">
          <h4>Where are your offices located?</h4>
          <p>Headquarters: Largo, Florida<br>
            Other Locations: Orlando, FL; Riviera Beach, FL; Jacksonville, FL; Montgomery, AL</p>

          <h4>How many years have you been in business?</h4>
          <p>27 years</p>

          <h4>Number of employees?</h4>
          <p>35</p>

          <h4>Where do you provide sales for the TransTech Systems product line?</h4>
          <p>
            Atlantic Supply represents TransTech Systems non-nuclear asphalt density gauge (PQI 380) as well as the
            non-nuclear soil density gauge (SDG 200).
            We offer these products in Florida, Alabama, Mississippi, Louisiana; and most recently added Puerto Rico,
            Mexico, Costa Rica and Panama to our sales territory.
          </p>

          <h4>Who are your primary customers for the TransTech Systems product line?</h4>
          <p>
            We sell to private contractors, state and local government, military, and universities. Current top
            customers using the TransTech Systems
            Pavement Quality Indicator, Model 380 are City of North Port, State of Florida DOT, Lake County and Eastern
            Asphalt.
          </p>

          <h4>Other products/services your company offers</h4>
          <p>
            Atlantic Supply is a stocking distributor for all of your materials testing needs, specializing in concrete,
            soil, asphalt and aggregate testing
            equipment. Atlantic Supply is a full service, sales and calibration company. Drilling supplies are stocked
            for water well drilling, environmental
            drilling, geotechnical drilling, direct push drilling, directional drilling and foundation drilling. With
            five strategically located warehouses,
            Atlantic Supply is fully stocked with drill bits, bentonite drilling mud, pump and related repair parts,
            drill rods and casing, water swivels,
            split spoons, augers, subs, manholes, locking plugs,bailers, flush-threaded PVC and open end PVC, prepacks
            and much more
          </p>

          <hr>

          <p>
            TransTech Systems and <a class="link" href="https://www.atlanticsupply.com" target="_blank">Atlantic
              Supply</a> have been partners in the construction industry for over a decade. This relationship has
            expanded in recent
            years, to become both a domestic and an international partnership.
          </p>

          <h4>How to contact Atlantic Supply</h4>
          <p>Inquiries about the TransTech Systems product line, please contact Carlos Licona.</p>
          <p><span class="contactDist">Email:</span> <a class="link"
              href="mailto:clicona@atlanticsupply.com?subject=Inquiry%20from%20TransTech%20Systems%20Website">clicona@atlanticsupply.com</a><br>
            <span class="contactDist">Phone:</span> <a class="phone-link" href="tel:800-752-9416">800-752-9416</a><br>
            <span class="contactDist">Website:</span> <a class="link" href="https://www.atlanticsupply.com"
              target="_blank">Atlantic Supply</a></p>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Atlantic Supply Distributor of Year 2017 -->

<div class="modal fade newsModal" id="NYSMerit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Certificate of Merit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="mb-4" src="../img/news/nysMerit.jpg"
          alt="TransTech Systems certificate of merit from the assembly of NYS">
        <p>
          TransTech Systems is recognized by Angelo Santabarbara of the New York state assembly upon receiving the Top
          30 Editors
          choice award from <a class="link" href="https://www.forconstructionpros.com/magazine/44675"
            target="_blank">Asphalt Contractor magazine</a>.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Capital Business Beat -->

<div class="modal fade newsModal" id="capitalBusiness" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Capital Region Business Beat</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <iframe style="width:100%; height:550px;" class="mb-4" src="https://www.youtube.com/embed/UqlM_wX-qF4?rel=0"
          allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>
          The Capital Region is home to a number of companies that got their start here and expanded globally. That
          includes a
          Schenectady-based company that now sells its products to more than 60 countries worldwide. Time Warner Cable
          News Reporter
          Jon Dougherty introduces us to that company in this week's Capital Region Business Beat
        </p>
      </div>
    </div>
  </div>
</div>

<!-- SDG ASTM -->

<div class="modal fade newsModal" id="sdgASTM" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">SDG 200 conforms to ASTM Standard D7830</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="mb-4" src="../img/news/sdgASTM.jpg" alt="SDG 200 conforms to ASTM Standard D7830">
        <h4>Density and Water Content</h4>
        <p>
          A new ASTM International standard will be used by contractors and government agencies for quality control and
          quality assurance of
          electromagnetic soil density gauges. D7830/D7830M, Test Method for In-Place Density (Unit Weight) and Water
          Content of Soil Using an
          Electromagnetic Soil Density Gauge, was developed by Subcommittee D18.08 on Special and Construction Control
          Tests, which is part of
          ASTM International Committee D18 on Soil and Rock.
        </p>
        <p>
          The new standard covers procedures for determining in-place properties of non-frozen, unbound soil and soil
          aggregate mixtures, such
          as total density, gravimetric water content and relative compaction by measuring the electromagnetic impedance
          of the compacted
          soil. The test in the new standard focuses on the use of electrical, non-nuclear devices to determine in-place
          density and moisture content.
        </p>
        <p>
          Ronald Berube, civil engineer at TransTech Systems, and a D18 member, says that D7830/D7830M will be used by
          buyers, owners and designers
          of civil infrastructure projects. According to Berube, the gauge covered by the standard uses a distinctly
          different technique to perform the
          same function as the tests described in other D18.08 standards such as D1556, Test Method for Density and Unit
          Weight of Soil in Place by the Sand-Cone
          Method; D6780, Test Method for Water Content and Density of Soil In Situ by Time Domain Reflectrometry (TDR);
          and D6938, Test Method for In-Place
          Density and Water Content of Soil and Soil-Aggregate by Nuclear Methods (Shallow Depth).
        </p>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>