<% include ./partials/header %>

  <!-- Digital Section -->
  <section id="digital">
    <div class="container">
      <div class="row">

        <div class="col">


          <div class="digital-container d-flex flex-column justify-content-center align-items-center">
            <a href="/products/pqi380Plus" class="col-lg-6 mb-5">
              <div class="digital-block">
                <p>Click to learn more about the<br /><span class="ttsText">TransTech Systems</span> PQI 380+</p>
                <img class="digital-feature img-fluid" src="../img/pqi380Plus-featured.png" alt="PQI 380+ Non-Nuclear Asphalt Density Gauge">
              </div>
            </a>
            <a href="https://www.amesengineering.com/products/8300-high-speed-profiler" class="col-lg-6">
              <div class="digital-block">
                <p>Click to learn more about<br />the <span class="amesText">Ames Engineering</span> 8300</p>
                <img class="digital-feature img-fluid" src="../img/ames8300.png" alt="Ames Engineering 8300 High Speed Profiler">
              </div>
            </a>
          </div>


        </div><!-- /col -->
      </div>
    </div>
  </section>
  <!-- /digital Section -->

  <% include ./partials/footer %>