<% include ./partials/header %>

  <!-- Digital Section -->
  <section id="digital">
    <div class="container">
      <div class="row">

        <div class="col">
          <h2 class="pb-4">Digital Landing Page</h2>
          <hr>

          <div class="digital-container d-flex flex-column justify-content-center align-items-center flex-md-row">
            <a href="/products" class="col-md-6">
              <div class="digital-card">
                <p>Learn more about</p>
                <img src='/img/transtech-logo2023.png' alt="TransTech Systems Logo" class="img-fluid mt-3" />
              </div>
            </a>
            <a href="https://amesengineering.com" class="col-md-6">
              <div class="digital-card mt-5 mt-md-0">
                <p>Learn more about</p>
                <img src='/img/amesLogoDark.png' alt="Ames Engineering Logo" class="img-fluid mt-3" />
              </div>
            </a>
          </div>


        </div><!-- /col -->
      </div>
    </div>
  </section>
  <!-- /digital Section -->

  <% include ./partials/footer %>