<% include ./partials/header %>

  <!-- Newsletter Section -->
  <section id="newsletter">
    <div class="container text-center text-md-left">
      <h2>TransTech Systems Newsletter</h2>
      <hr>

      <div class="newsletter-items">
        <div>
          <h3>May 2025</h3>
          <a class="news-link mt-3" href="https://conta.cc/4ivGtmf" target="_blank">Introducing TransTech Connect!</a>
          <p class="lead mt-2">TransTech Connect is an end-to-end solution for capturing, uploading and managing asphalt density measurement data in real-time, tailored for field and office teams.
          </p>
        </div>
        <div>
          <h3>May 2025</h3>
          <a class="news-link mt-3" href="https://conta.cc/3GIaiTk" target="_blank">TransTech Connect Now Supports the PQI 380!</a>
          <p class="lead mt-2">TransTech Connect launches full compatibility with your PQI 380 gauge! This seamless integration transforms your asphalt density data into a powerful tool, boosting efficiency and helping you land bigger paving jobs.
          </p>
        </div>
        <div>
          <h3>April 2025</h3>
          <a class="news-link mt-3" href="https://conta.cc/3Yl9J88" target="_blank">PQI 380+ IS HERE!<br />The latest in non-nuclear asphalt density technology!</a>
          <p class="lead mt-2">We're excited to announce the release of our 6th generation non-nuclear asphalt density measurement gauges - delivering advanced performance you've come to expect from TransTech Systems! Leading the way in the latest advancements in non-nuclear asphalt density technology!
          </p>
        </div>
        <div>
          <h3>March 2025</h3>
          <a class="news-link mt-3" href="https://conta.cc/420BUdv" target="_blank">See us at World of Asphalt 2025!</a>
          <p class="lead mt-2">Our team is looking forward to seeing you in St. Louis, MO! We are unveiling the NEXT GENERATION of advanced technology for asphalt density! You don't want to miss it!
          </p>
        </div>
        <div>
          <h3>February 2025</h3>
          <a class="news-link mt-3" href="https://conta.cc/42Y9F11" target="_blank">Tradeshow Season Is Here!</a>
          <p class="lead mt-2">We are looking forward to seeing you in Denver at RMACES! Our service team is gearing up for the service season! We recommend an annual calibration of your non-nuclear density gauge. TransTech Systems acquires Ames Engineering.
          </p>
        </div>
        <div>
          <h3>September 2024</h3>
          <a class="news-link mt-3" href="https://conta.cc/4do4HgR" target="_blank">Asphalt Pavement Practices - What Your State Should Know</a>
          <p class="lead mt-2">States are facing challenges pertaining to their sustainable construction practices, specifically the use of nuclear gauges to determine asphalt density. Move your construction processes toward non-nuclear, more environmentally preferable, asphalt density technology.
          </p>
        </div>
        <div>
          <h3>July 2024</h3>
          <a class="news-link mt-3" href="https://conta.cc/49DD0xG" target="_blank">Non-Nuclear Density Gauges Need a Schedule Too</a>
          <p class="lead mt-2">As every company knows, having a preventative maintenance plan for your equipment ensures continued optimal performance, with high accuracy and precision. Calibrations and adjustments prevent errors in measurements and results, which is essential for accurate readings.
          </p>
        </div>
        <div>
          <h3>May 2024</h3>
          <a class="news-link mt-3" href="https://conta.cc/498Yp1n" target="_blank">How Important Is Density Measurement to Your Construction Projects?</a>
          <p class="lead mt-2">Having a quality control plan for your construction projects that includes in-place density measurement is a critical step in ensuring the safety, durability and longevity of the project.
          </p>
        </div>
        <div>
          <h3>December 2023</h3>
          <a class="news-link mt-3" href="https://conta.cc/3SSdJem" target="_blank">Cost Matters: Nuclear vs. Non-Nuclear Gauge Ownership</a>
          <p class="lead mt-2">Beyond the technical and environmental benefits of using non-nuclear density gauges, they also offer a significant cost efficiency. From reduced operational expenses to minimal maintenance and licensing requirements, the economic advantages of non-nuclear gauges are substantial.
          </p>
        </div>
        <div>
          <h3>November 2023</h3>
          <a class="news-link mt-3" href="https://conta.cc/3rInKja" target="_blank">12 US States are Leading the Way: Are You?</a>
          <p class="lead mt-2">Change is on the horizon as more and more US states are taking a progressive approach by adopting non-nuclear density testing in their specifications. This shift towards a more sustainable and environmentally friendly approach is gaining momentum, with many more states considering similar actions.
          </p>
        </div>
        <div>
          <h3>August 2023</h3>
          <a class="news-link mt-3" href="https://conta.cc/3Pb0Qds" target="_blank">Ensure Your Asphalt Density Using TransTech Systems Non-Nuclear Density Technology</a>
          <p class="lead mt-2">While having a quality control plan in your paving construction processes is important, ensuring you're getting the most out of your asphalt density readings in a safe and sustainable way is key for forward-thinking companies.
          </p>
        </div>

        <div>
          <h3>June 2023</h3>
          <a class="news-link mt-3" href="https://conta.cc/43SmhUC" target="_blank">Changes to Illinois State Toll Highway Authority Specifications for Mat Density Acceptance</a>
          <p class="lead mt-2">STATE Testing, as part of the MEC Team, carried out several on-site comparison trials with the TransTech Systems PQI 380 non-nuclear asphalt density gauge to determine its suitability for use as a measure of in-place asphalt density acceptance.
          </p>
        </div>

        <div>
          <h3>January 2023</h3>
          <a class="news-link mt-3" href="https://conta.cc/3IK7Mey" target="_blank">Check Out Our New Look!</a>
          <p class="lead mt-2">We are happy to announce the launch of the new company logo! Our business has grown and evolved over the years, and we felt it was time for a refreshed logo. Battery Life is Key! Perform routine charging to maintain battery health. Gen 1 Battery - Discontinuation.
          </p>
        </div>

        <div>
          <h3>December 2022</h3>
          <a class="news-link mt-3" href="https://conta.cc/3hbdIlg" target="_blank">Happy Holidays from TransTech Systems!</a>
          <p class="lead mt-2">Hopefully you have been very good this year and got on Santa’s nice list. There could be a PQI or SDG waiting for you under the tree on Christmas morning! Holiday Closure Schedule. Preparing Your Gauges for Winter Storage.
          </p>
        </div>

        <div>
          <h3>November 2022</h3>
          <a class="news-link mt-3" href="https://conta.cc/3hZP0o1" target="_blank">Tradeshows, Gauge Service and Budgets - Oh my!</a>
          <p class="lead mt-2">It's tradeshow season! And, most of the tradeshows are now in person! Leftover Budget? We may have end of year inventory available. Our service team is gearing up for the service season! How To Prepare Your Gauge for Shipment.
          </p>
        </div>

        <div>
          <h3>April 2022</h3>
          <a class="news-link mt-3" href="https://conta.cc/44g1ZV7" target="_blank">NWZAW 2022 Ribbon Giveaway</a>
          <p class="lead mt-2">Safety is everyone's responsibility. Please support road workers safety awareness and get your FREE magnet today for you and your crew! Be Active - Spread Awareness! Drive Safe. Work Safe. Save Lives.
          </p>
        </div>

        <div>
          <h3>November 2021</h3>
          <a class="news-link mt-3" href="https://conta.cc/3DbArnd" target="_blank">We Are Back! Tradeshows Galore!</a>
          <p class="lead mt-2">Join us at the annual SEAUPG 2021 conference. Leftover Budget? Consider getting prepared for next season with some new PQI's for your crew. It's service season, get thos gauges in for their annual calibration.
          </p>
        </div>

        <div>
          <h3>September 2021</h3>
          <a class="news-link mt-3" href="https://conta.cc/3kBQB15" target="_blank">Tradeshow Season Is Here!</a>
          <p class="lead mt-2">We have a very busy schedule this year. We hope to see all of our paving friends at a show near you. #WatchForUS - Even though summer is coming to an end, paving crews are are still going strong. Need help with PQI or SDG? We got you! #TransTechTutorials playlist on YouTube.
          </p>
        </div>

        <div>
          <h3>July 2021</h3>
          <a class="news-link mt-3" href="https://conta.cc/3jslKF8" target="_blank">Welcome Our New Sales Manager - John Lamond!</a>
          <p class="lead mt-2">Same great service, just a new contact person! We are excited to announce that John Lamond has joined TransTech Systems as our new Sales Manager based out of Chicago, IL.
          </p>
        </div>

        <div>
          <h3>June 2021</h3>
          <a class="news-link mt-3" href="https://conta.cc/356plR0" target="_blank">Show Us Your Ribbon!</a>
          <p class="lead mt-2">Work Zone Awareness, It's not only one week a year! Please send us a photo of your Protect Roadworkers Ribbon - if it's on your work truck, paver, milling machine, car - wherever it is - we want to keep safety in the forefront always.
          </p>
        </div>

        <div>
          <h3>March 2021</h3>
          <a class="news-link mt-3" href="https://conta.cc/3cwl10I" target="_blank">You asked - We acted!</a>
          <p class="lead mt-2">Chat with us on our website chat widget. Congratulations to BAV Corporation! Originators of the non-nuclear density technology. Connect with us - like, share, tweet, join, follow, snap... we are here for you!
          </p>
        </div>

        <div>
          <h3>February 2021</h3>
          <a class="news-link mt-3" href="https://conta.cc/36KtYkL" target="_blank">Get All of the Data!</a>
          <p class="lead mt-2">More than 20,000 data point storage available for your crew! Appropriate packaging suggestions. 2019 distributor of the year, congratulations Siccion Marketing!
          </p>
        </div>

        <div>
          <h3>January 2021</h3>
          <a class="news-link mt-3" href="https://conta.cc/2M4cGYd" target="_blank">Let Us Help Your Team Be Ready!</a>
          <p class="lead mt-2">Prepare for the upcoming paving season now! Check out our #TransTechRoadTrips spotify playlist. Visit our virtual booth at the Transportation Research Board's 100th annual Meeting.
          </p>
        </div>

        <div>
          <h3>December 2020</h3>
          <a class="news-link mt-3" href="https://conta.cc/3gFaNgc" target="_blank">TransTech Systems is a proud member of APAI!</a>
          <p class="lead mt-2">Tradeshow season is a little different this year. We are not able to visit in person, so our President/CEO, David Apkarian, put together a little message for you. Make sure to watch until the end - bloopers!
          </p>
        </div>

        <div>
          <h3>November 2020</h3>
          <a class="news-link mt-3" href="https://conta.cc/2UopVEk" target="_blank">SEAUPG - You don't want to miss this!</a>
          <p class="lead mt-2">Free swag at our SEAUPG virtual booth. Get to know TransTech Systems involvement in our local community. Service season is here, request an RMA today!
          </p>
        </div>

        <div>
          <h3>September 2020</h3>
          <a class="news-link mt-3" href="https://conta.cc/3kT6Fdc" target="_blank">TXAPA - We are here for you!</a>
          <p class="lead mt-2">Tradeshow season is a little different this year, explore our virtual TXAPA booth. Check out our TransTech Tutorials Playlist on YouTube! Service season is coming!
          </p>
        </div>

        <div>
          <h3>July 2020</h3>
          <a class="news-link mt-3" href="https://conta.cc/395kJf3" target="_blank">Free Lunch for your Crew - You deserve it!</a>
          <p class="lead mt-2">Join our Summer Snapshot photo contest. PQI density readings in less than 3 seconds! Don't forget to keep your gauge dry in wet weather.
          </p>
        </div>

        <div>
          <h3>May 2020</h3>
          <a class="news-link mt-3" href="https://conta.cc/3cREyYr" target="_blank">TransTech Systems - Export Experts</a>
          <p class="lead mt-2">Learn about TransTech Systems exporting story. Check out the non-nuclear density gauge external battery charger. Are you ready for the paving season?
          </p>
        </div>

        <div>
          <h3>April 2020</h3>
          <a class="news-link mt-3" href="https://conta.cc/2zLQwnJ" target="_blank">The PQI - We are the original patent holder</a>
          <p class="lead mt-2">The patented Pavement Quality Indicator (PQI 380), developed and manufactured in New York State, is the leading non-nuclear asphalt pavement quality control device in the world.
          </p>
        </div>

        <div>
          <h3>March 2020</h3>
          <a class="news-link mt-3" href="https://conta.cc/2KJc6LQ" target="_blank">ConExpo at LasVegas - Don't Gamble On Your Density Readings!</a>
          <p class="lead mt-2">ConExpo 2020 is almost here! Stop by our booth to see the non-nuclear asphalt and soil density gauges!
          </p>
        </div>

        <div>
          <h3>February 2020</h3>
          <a class="news-link mt-3" href="https://conta.cc/2yTcLHY" target="_blank">Is Your Non-Nuclear Gauge Ready for Paving Season?</a>
          <p class="lead mt-2">The paving season will be here before we know it and our service department is busy with annual calibrations! If you haven't sent your gauge in, please do so.
          </p>
        </div>

        <div>
          <h3>December 2019</h3>
          <a class="news-link mt-3" href="https://conta.cc/2EuRWlm" target="_blank">Holidays &amp; Gauge Winter Storage
            Prep</a>
          <p class="lead mt-2">From the TransTech Systems family to you... Happy Holidays, and we look forward to 2020
            with you! Learn the proper way to store and charge your non-nuclear density gauges over the winter months.
          </p>
        </div>

        <div>
          <h3>October 2019</h3>
          <a class="news-link mt-3" href="https://conta.cc/31AF46s" target="_blank">Crunch Time and Cooler
            Temperatures</a>
          <p class="lead mt-2">Get your 2019 jobs wrapped up. Are Falling Temperatures Playing Havoc
            with your Mat? Check out our Android App! Tradeshow season is here, view our full schedule.</p>
        </div>

        <div>
          <h3>August 2019</h3>
          <a class="news-link mt-3" href="https://conta.cc/31Tlt20" target="_blank">Try our New App! Now in the GooglePlay
            Store</a>
          <p class="lead mt-2">New Android App. Pavement Temperature is a HOT Topic, Do you have a handle
            on your mat temperature? Access our TransTech TechTip videos on our YouTube channel anywhere, anytime!</p>
        </div>

        <div>
          <h3>June 2019</h3>
          <a class="news-link mt-3" href="https://conta.cc/2RuCxaz" target="_blank">Rain, Rain Go Away - I want to use my
            PQI!</a>
          <p class="lead mt-2">2019 is starting out to be a very rainy year. New Website Launched! It's easier than ever
            to look up our website! Our website is now portable device friendly. Use your phone, tablet or computer... we
            are at your finger tips!</p>
        </div>

        <div>
          <h3>February 2019</h3>
          <a class="news-link mt-3" href="https://conta.cc/2Dmnw45" target="_blank">See Us at WOA 2019!</a>
          <p class="lead mt-2">World of Asphalt, Groundhogs, and Wedgies oh my! Groundhog Says Early Spring!
            Make sure your gauge is ready to go! There's still time to get your gauge in for annual service!</p>
        </div>

        <div>
          <h3>January 2019</h3>
          <a class="news-link mt-3" href="https://conta.cc/2DcfGLt" target="_blank">Service, Safety and Batteries</a>
          <p class="lead mt-2">Our service department will be working hard the next several months, as January through
            March are high volume times for our annual calibrations and winter service work.</p>
        </div>

        <div>
          <h3>November 2018</h3>
          <a class="news-link mt-3" href="https://conta.cc/2OUBMbA" target="_blank">Prepare Your PQI/SDG For Winter</a>
          <p class="lead mt-2">Don't wait until next season to get your PQI or SDG serviced. Be prepared for 2019 and send
            the gauge to TransTech over the winter months.</p>
        </div>

        <div>
          <h3>December 2017</h3>
          <a class="news-link mt-3" href="https://conta.cc/2pnOc0U" target="_blank">Is your PQI/SDG Ready for Winter?</a>
          <p class="lead mt-2">Don't wait until next season to get your PQI or SDG serviced. Be prepared for 2018 and send
            the gauge to TransTech over the winter months.</p>
        </div>

        <div>
          <h3>June 2017</h3>
          <a class="news-link mt-3" href="https://conta.cc/2oJrJ9L" target="_blank">NEW PQI and SDG Accessory!</a>
          <p class="lead mt-2">Now, you can always have a charged battery on hand!! Our External Battery Charger will
            charge an additional battery, so you will not be without battery power on those long, overnight projects.</p>
        </div>

        <div>
          <h3>March 2017</h3>
          <a class="news-link mt-3" href="https://conta.cc/2n4QKiw" target="_blank">Maine APA Seminar - TransTech Will Be
            There!</a>
          <p class="lead mt-2">Hope to see you at the Maine Asphalt Pavement Association's 14th Annual Spring Paving
            Seminar April 4 & 5, 2017</p>
        </div>

        <div>
          <h3>December 2016</h3>
          <a class="news-link mt-3" href="https://conta.cc/2h0APh0" target="_blank">Is your PQI/SDG Ready for Winter?</a>
          <p class="lead mt-2">Don't wait until next season to get your PQI or SDG serviced. Be prepared for 2017 and send
            the gauge to TransTech over the winter months.</p>
        </div>

        <div>
          <h3>November 2016</h3>
          <a class="news-link mt-3" href="https://conta.cc/2fF4dXR" target="_blank">We are moving!</a>
          <p class="lead mt-2">TransTech will be moving their headquarters on Friday, November 11th. Please excuse any
            delays in attempting to contact us on that day. We will do our best to get you as soon as we can!</p>
        </div>

        <div>
          <h3>August 2016</h3>
          <a class="news-link mt-3" href="https://conta.cc/2bZGIcu" target="_blank">PQI 301 Retirement</a>
          <p class="lead mt-2">As of December 31, 2016, TransTech will no longer manufacture the PQI Model 301. We will
            continue to service the PQI 301, as long as we are able to purchase the electronic components used in this
            product.</p>
        </div>

        <div>
          <h3>March 2016</h3>
          <a class="news-link mt-3" href="https://conta.cc/1ZRAjiO" target="_blank">Maine APA Seminar - TransTech Will Be
            There!</a>
          <p class="lead mt-2">We hope to see you at the Maine Asphalt Pavement Association's 13th Annual Spring Paving
            Seminar April 5 & 6, 2016</p>
        </div>

        <div>
          <h3>December 2015</h3>
          <a class="news-link mt-3" href="https://conta.cc/1SeZGJ2" target="_blank">Winter is coming! Is your non-nuclear
            gauge ready?</a>
          <p class="lead mt-2">Don't wait until next season to get your PQI or SDG serviced. Be prepared for 2016 and send
            the gauge to TransTech over the winter months.</p>
        </div>

        <div>
          <h3>August 2015</h3>
          <a class="news-link mt-3" href="https://conta.cc/2IFOhl7" target="_blank">Save up to $500 on your next PQI
            purchase!</a>
          <p class="lead mt-2">If your company is located within the United States, you have an opportunity to save up to
            $500 toward your next PQI 380 purchase! It's as simple as disposing of a nuclear gauge when ordering your PQI
            380.</p>
        </div>

        <div>
          <h3>July 2015</h3>
          <a class="news-link mt-3" href="https://conta.cc/1W9qgDt" target="_blank">PQI is Tried and True!</a>
          <p class="lead mt-2">Introduced in 1998, TransTech Systems provided the construction industry with the first
            non-nuclear alternative for density measurement.</p>
        </div>

        <div>
          <h3>June 2015</h3>
          <a class="news-link mt-3" href="https://conta.cc/2JwcFqr" target="_blank">Tech Tips Are A Hit!</a>
          <p class="lead mt-2">Make sure to keep your non-nuclear density gauge in top working order during your busy
            construction season. Watch short tech tip videos on how to properly care for your gauge.</p>
        </div>

        <div>
          <h3>March 2015</h3>
          <a class="news-link mt-3" href="https://conta.cc/2GKCOUz" target="_blank">Spring is no where to be found!</a>
          <p class="lead mt-2">It may seem like Spring is taking forever to get here, but it will be here before you know
            it! Don't wait - get your PQI's and SDG's in for their annual service before the snow melts away!</p>
        </div>

        <div>
          <h3>January 2015</h3>
          <a class="news-link mt-3" href="https://conta.cc/2IH0Zjd" target="_blank">Your PQI/SDG Photo Could Win $150 Gift
            Card!</a>
          <p class="lead mt-2">Do you have any photos of the PQI or SDG working for you? Old or New! We know the PQI and
            SDG are used around the world - and we want to see your gauge at work!</p>
        </div>

      </div><!-- /tradeshow-items -->

    </div><!-- /container -->
  </section>
  <!-- /newsletter Section -->


  <% include ./partials/footer %>