<% include ./partials/header %>

<!-- Newsletter Section -->
<section id="newsletter">
  <div class="container text-center text-md-left">
    <h2>TransTech Systems Newsletter</h2>
    <hr>

    <div class="newsletter-items">

      <div>
        <h3>October 2019</h3>
        <a class="news-link mt-3" href="https://conta.cc/31Tlt20" target="_blank">Crunch Time and Cooler
          Temperatures</a>
        <p class="lead mt-2">Get your 2019 jobs wrapped up. Are Falling Temperatures Playing Havoc
          with your Mat? Check out our Android App! Tradeshow season is here, view our full schedule.</p>
      </div>

      <div>
        <h3>August 2019</h3>
        <a class="news-link mt-3" href="https://conta.cc/31Tlt20" target="_blank">Try our New App! Now in the GooglePlay
          Store</a>
        <p class="lead mt-2">New Android App. Pavement Temperature is a HOT Topic, Do you have a handle
          on your mat temperature? Access our TransTech TechTip videos on our YouTube channel anywhere, anytime!</p>
      </div>

      <div>
        <h3>June 2019</h3>
        <a class="news-link mt-3" href="https://conta.cc/2RuCxaz" target="_blank">Rain, Rain Go Away - I want to use my
          PQI!</a>
        <p class="lead mt-2">2019 is starting out to be a very rainy year. New Website Launched! It's easier than ever
          to look up our website! Our website is now portable device friendly. Use your phone, tablet or computer... we
          are at your finger tips!</p>
      </div>

      <div>
        <h3>February 2019</h3>
        <a class="news-link mt-3" href="https://conta.cc/2Dmnw45" target="_blank">See Us at WOA 2019!</a>
        <p class="lead mt-2">World of Asphalt, Groundhogs, and Wedgies oh my! Groundhog Says Early Spring!
          Make sure your gauge is ready to go! There's still time to get your gauge in for annual service!</p>
      </div>

      <div>
        <h3>January 2019</h3>
        <a class="news-link mt-3" href="https://conta.cc/2DcfGLt" target="_blank">Service, Safety and Batteries</a>
        <p class="lead mt-2">Our service department will be working hard the next several months, as January through
          March are high volume times for our annual calibrations and winter service work.</p>
      </div>

      <div>
        <h3>November 2018</h3>
        <a class="news-link mt-3" href="https://conta.cc/2OUBMbA" target="_blank">Prepare Your PQI/SDG For Winter</a>
        <p class="lead mt-2">Don't wait until next season to get your PQI or SDG serviced. Be prepared for 2019 and send
          the gauge to TransTech over the winter months.</p>
      </div>

      <div>
        <h3>December 2017</h3>
        <a class="news-link mt-3" href="https://conta.cc/2pnOc0U" target="_blank">Is your PQI/SDG Ready for Winter?</a>
        <p class="lead mt-2">Don't wait until next season to get your PQI or SDG serviced. Be prepared for 2018 and send
          the gauge to TransTech over the winter months.</p>
      </div>

      <div>
        <h3>June 2017</h3>
        <a class="news-link mt-3" href="https://conta.cc/2oJrJ9L" target="_blank">NEW PQI and SDG Accessory!</a>
        <p class="lead mt-2">Now, you can always have a charged battery on hand!! Our External Battery Charger will
          charge an additional battery, so you will not be without battery power on those long, overnight projects.</p>
      </div>

      <div>
        <h3>March 2017</h3>
        <a class="news-link mt-3" href="https://conta.cc/2n4QKiw" target="_blank">Maine APA Seminar - TransTech Will Be
          There!</a>
        <p class="lead mt-2">Hope to see you at the Maine Asphalt Pavement Association's 14th Annual Spring Paving
          Seminar April 4 & 5, 2017</p>
      </div>

      <div>
        <h3>December 2016</h3>
        <a class="news-link mt-3" href="https://conta.cc/2h0APh0" target="_blank">Is your PQI/SDG Ready for Winter?</a>
        <p class="lead mt-2">Don't wait until next season to get your PQI or SDG serviced. Be prepared for 2017 and send
          the gauge to TransTech over the winter months.</p>
      </div>

      <div>
        <h3>November 2016</h3>
        <a class="news-link mt-3" href="https://conta.cc/2fF4dXR" target="_blank">We are moving!</a>
        <p class="lead mt-2">TransTech will be moving their headquarters on Friday, November 11th. Please excuse any
          delays in attempting to contact us on that day. We will do our best to get you as soon as we can!</p>
      </div>

      <div>
        <h3>August 2016</h3>
        <a class="news-link mt-3" href="https://conta.cc/2bZGIcu" target="_blank">PQI 301 Retirement</a>
        <p class="lead mt-2">As of December 31, 2016, TransTech will no longer manufacture the PQI Model 301. We will
          continue to service the PQI 301, as long as we are able to purchase the electronic components used in this
          product.</p>
      </div>

      <div>
        <h3>March 2016</h3>
        <a class="news-link mt-3" href="https://conta.cc/1ZRAjiO" target="_blank">Maine APA Seminar - TransTech Will Be
          There!</a>
        <p class="lead mt-2">We hope to see you at the Maine Asphalt Pavement Association's 13th Annual Spring Paving
          Seminar April 5 & 6, 2016</p>
      </div>

      <div>
        <h3>December 2015</h3>
        <a class="news-link mt-3" href="https://conta.cc/1SeZGJ2" target="_blank">Winter is coming! Is your non-nuclear
          gauge ready?</a>
        <p class="lead mt-2">Don't wait until next season to get your PQI or SDG serviced. Be prepared for 2016 and send
          the gauge to TransTech over the winter months.</p>
      </div>

      <div>
        <h3>August 2015</h3>
        <a class="news-link mt-3" href="https://conta.cc/2IFOhl7" target="_blank">Save up to $500 on your next PQI
          purchase!</a>
        <p class="lead mt-2">If your company is located within the United States, you have an opportunity to save up to
          $500 toward your next PQI 380 purchase! It's as simple as disposing of a nuclear gauge when ordering your PQI
          380.</p>
      </div>

      <div>
        <h3>July 2015</h3>
        <a class="news-link mt-3" href="https://conta.cc/1W9qgDt" target="_blank">PQI is Tried and True!</a>
        <p class="lead mt-2">Introduced in 1998, TransTech Systems provided the construction industry with the first
          non-nuclear alternative for density measurement.</p>
      </div>

      <div>
        <h3>June 2015</h3>
        <a class="news-link mt-3" href="https://conta.cc/2JwcFqr" target="_blank">Tech Tips Are A Hit!</a>
        <p class="lead mt-2">Make sure to keep your non-nuclear density gauge in top working order during your busy
          construction season. Watch short tech tip videos on how to properly care for your gauge.</p>
      </div>

      <div>
        <h3>March 2015</h3>
        <a class="news-link mt-3" href="https://conta.cc/2GKCOUz" target="_blank">Spring is no where to be found!</a>
        <p class="lead mt-2">It may seem like Spring is taking forever to get here, but it will be here before you know
          it! Don't wait - get your PQI's and SDG's in for their annual service before the snow melts away!</p>
      </div>

      <div>
        <h3>January 2015</h3>
        <a class="news-link mt-3" href="https://conta.cc/2IH0Zjd" target="_blank">Your PQI/SDG Photo Could Win $150 Gift
          Card!</a>
        <p class="lead mt-2">Do you have any photos of the PQI or SDG working for you? Old or New! We know the PQI and
          SDG are used around the world - and we want to see your gauge at work!</p>
      </div>

    </div><!-- /tradeshow-items -->

  </div><!-- /container -->
</section>
<!-- /newsletter Section -->


<% include ./partials/footer %>