<% include ./partials/header %>

<!-- notFound section -->
<section id="notFound" class="d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <img class="img-fluid mb-5" src="/img/404Graphic.png" alt="404 Page Does not Exist">
    <h1>Oops, that page does not exist!</h1>
    <hr>
    <p class="mb-0">Don't worry, you didn't break the internet!</p>
    <p>Just use the navbar to locate the correct page or call us at <a class="standard-link"
        href="tel:+18007243606">1-800-724-6306</a></p>
</section>
<!-- /notFound section -->

<% include ./partials/index_footer %>