<% include ./partials/header %>

  <!-- Privacy Section -->
  <section id="privacy">
    <div class="container">
      <div class="row">

        <div class="col">
          <h2 class="pb-4">Privacy Policy</h2>
          <hr>

          <h4>Overview</h4>

          <p>This Privacy Policy explains which personal data we (TransTech Systems, Inc., hereinafter referred as TSI) collect and how we use such personal data when you use the TSI website (http://www.transtechsys.com) or contact TSI by phone or email to inquire about our products or to place an order. By using these services, you agree to TSI's Privacy Policy and that we may process, transfer and store your information in the United States.</p>

          <p><strong>IF YOU DO NOT AGREE TO THIS POLICY, PLEASE DO NOT USE THE SERVICES.</strong></p>

          <p>We will post any modifications or changes to the Privacy Policy on the TSI website. We reserve the right to modify this Privacy Policy at any time, so we encourage you to review it frequently. If we make a material change to this Privacy Policy, we will notify you by email or by means of a notice on the TSI website prior to the changes taking effect. Your continued use of the services signifies your acceptance of our Privacy Policy as modified.</p>

          <h4>1. TransTech Systems International Compliance</h4>

          <p>We may store your information in the United States and in other locations outside of the European Economic Area. Any transfer of your data to the United States or another location outside the European Economic Area will be in compliance with applicable European data protection laws and, with respect to transfers to the United States, comply with the E.U. – U.S. and Swiss – U.S. Privacy Shield Framework, details of which are set out in Section 11 below.</p>

          <h4>2. The Information We Collect</h4>

          <p><u>Information You Provide</u></p>

          <p>TSI collects a variety of information that you provide directly to us. TSI may collect information from you in the context of:</p>

          <ul>
            <li>Account registration and administration of your TSI account;</li>
            <li>Your name, business title/position, email address, phone number, fax number;</li>
            <li>Credit card or other payment information;</li>
            <li>Shipping information;</li>
            <li>Processing information for your order for products or services offered by TSI;</li>
            <li>Registration of your TSI products;</li>
            <li>Providing updates to you regarding your TSI products;</li>
          </ul>

          <p>The specific types of information collected will may include your full name, email address, phone number, fax number, product serial number, business or shipping address, mobile phone number, and credit card or other payment information. We will also collect data on the purchases you have made.</p>

          <p>TSI does NOT request, collect, or store Human Resource information. We collect only the information needed to process, deliver, and support your order.</p>

          <p><u>Information We Automatically Collect</u></p>

          <p><strong>As discussed further below in Section 5, we may collect and store this information in a way that it is linked to you personally, unless you have chosen to opt out.</strong></p>

          <p><u>Websites</u></p>

          <p>When you use our website, we do not collect or analyze information about your computer or mobile device such as your IP address, a mobile device identifier (e.g., a IDFA on Apple products like the iPhone and iPad or similar advertising identifiers), browser types, browser language, operating system, the state or country from which you accessed our website, referring and exit pages and URLs, platform type, the number of clicks, domain names, landing pages, pages viewed and the order of those pages, the amount of time spent on particular pages, the date and time you used the Services and upload or post content, error logs, and other similar information. We monitor customer traffic patterns and site usage to help us develop the design and layout of the site, and to improve the content of our website to better match the interests of our website users.</p>

          <p><u>Information from Other Sources</u></p>

          <p>TSI may receive information about you from third parties, such as commerce partners, marketers, social network services, and other parties that we may use to supplement the information that we collect directly from you. If you connect to a third-party network (such as a social network) platform, you are authorizing us to collect, store, and use in accordance with this Privacy Policy any and all information (such as name, email address and location) that you agreed the network or other third-party platform could provide to TSI based on your settings on the third-party network or platform. Your agreement takes place when you connect with the third-party network or platform.</p>

          <p><u>Anonymous or De-Identified Data</u></p>

          <p>We may collect data that is already in anonymized or de-identified form or we may manually anonymize and/or de-identify information we have collected directly or via other means so that the information does not identify you. Our use and disclosure of aggregated and/or de-identified information is not subject to any restrictions under this Privacy Policy, and we may disclose it to others without limitation for any purpose.</p>

          <p><u>Photographic Images</u></p>

          <p>TSI uses Photographic Images on its web site and advertising material but the Photographic Images which we originate are not associated with any personally identifiable information. There is no personally identifiable information either in a text description of the image or in digital tagging of the image. We also use images from third parties. The information on those images are subject to the Privacy Policies of those sites. TSI does not use Facial Recognition or supply identifiable images for Artificial Intelligence training of Facial Recognition algorithms.</p>

          <h4>3. Cookies and Similar Technologies</h4>

          <p>TSI does not use Cookies or other such tracking methods.</p>

          <h4>4. Online Advertising and Analytics</h4>

          <p><u>Online Analytics</u></p>

          <p>We may use third-party web analytics services on our website and social media accounts, such as those of Google Analytics. These service providers use the sort of technology described in the Automatically-Collected Information section above to help us analyze how users seek information about TSI. The information collected by the technology will be disclosed to or collected directly by these service providers, who use the information to evaluate your use of the services. We also use Google Analytics for certain purposes related to online marketing, as described in the following section. The information provided to TSI is anonymous and does not include user names or IP addresses.</p>

          <p><u>Online Advertising</u></p>

          <p>We do not serve third party advertisements to you while using www.transtechsys.comTranstechsys.com. However, we do work with website analytics as noted above and may work with advertising partners, including Google, Doubleclick Campaign Manager, AdRoll, Commission Junction and Facebook, to deliver TSI advertisements on third party publisher websites - these partners may set cookies on your computer's web browser. These cookies allow our partners to recognize your computer so that the ad server can show you TSI advertisements elsewhere on the Internet and so that our analytics software can measure your engagement and interactions while using www.transtechsys.com. In this way, ad servers may compile anonymous, de-identified information about where you, or others who are using your computer, saw our advertisements, whether or not you interacted with our advertisements, and actions performed on subsequent visits to www.transtechsys.com. This information allows an ad network to deliver targeted advertisements that they believe will be of most interest to you and it allows TSI to optimize the performance of our advertising campaigns and the usability of our website. In other words, we may use analytics data in concert with data about our online ads that have been shown using the Google Display Network, DoubleClick for Advertisers, or other online advertising networks. By doing so, we can understand how anonymous users interacted with our website after seeing our ads.</p>

          <p>For more information about these advertising and analytics services and how to opt out, please see the "Your Choices" section below.</p>

          <h4>5. Uses of Information</h4>

          <p>TSI may use the information it collects for various purposes, including but not limited to:</p>

          <ul>
            <li>
              <strong>Order-Related Communications</strong> - If you place an inquiry or purchase order and are located in an area serviced by one of our distributors, we will forward your information to the appropriate distributor so that you may be appropriately serviced. For any and all orders, we will use your name and email address to send you an order confirmation email, a shipping confirmation email, and customer satisfaction emails. If you do not wish to participate in customer satisfaction emails, you may opt out of such emails upon receipt by clicking “Unsubscribe” link contained in the email.
            </li>
            <li>
              <strong>Payment Information</strong> - We will use the payment processing information that you provide to collect the payment on your order. TSI does not store your payment information beyond the time we receive confirmation that the order has been paid.
            </li>
            <li>
              <strong>Order-Fulfillment</strong> - We will provide your information to a third-party shipper of your preference to transport your order to you.
            </li>
            <li>
              <strong>Customer Service</strong> - Based upon the information you provide us at the time of TSI product registration or purchase, we will send you a confirmation email to verify the successful registration of your product for warranty coverage. We will also communicate with you in response to your inquiries or to provide the services you request. We will communicate with you by email or telephone, in accordance with your preferences.
            </li>
            <li>
              <strong>Newsletters, Social Media Campaigns, Special Offers and Updates</strong> - We will occasionally send you information on products, services, special promotions, contests, customer satisfaction surveys, events, and opportunities to interact with TSI and our community. You can sign up to receive these emails and social media campaigns from us on our newsletter sign up page and/or during checkout while purchasing a product. Out of respect for your privacy, we present the option NOT to receive these types of communications. Please see the “Your Choices" section below for more details on how to unsubscribe or opt out of these communications from TSI.
            </li>
          </ul>

          <p><strong>Service-Related Announcements</strong> - We will send you service-related announcements, such as product updates, and warranty reminders. Generally, you may not opt out of these communications, which are not promotional in nature.</p>

          <h4>6. Sharing and Disclosure of Information</h4>

          <p>TSI does NOT share, sell, rent, or trade ANY type of information, HR or non-HR, except for any non-HR data needed by a third-party service provider to help process, deliver, and/or support a customer order.</p>

          <p><strong>Customer Testimonials</strong> - At times, we may post customer testimonials on our website or social media sites. We will obtain your consent via email and/or opt-in methods prior to posting your name, city, or stated activity/interest along with any testimonial.</p>

          <p><strong>User-Generated Content</strong> - You may disclose information about yourself in the course of contributing user-generated content on publicly-available areas of TSI’s social media sites. The social media sites have their own Privacy Policies. Your comments will also be shared with users of the social media services to which you have chosen to share, consistent with your privacy settings according to the Privacy Policy on those services. Such information is unencrypted, public information, which may be accessed or recorded by us, and there is no expectation of privacy or confidentiality in such information. Any information you submit in the course of such activities can be read, collected, or used by other users. We cannot control how other users of our social media accounts might use your information. We especially cannot prevent you from receiving unwanted messages from other users. If you wish that a specific content generated by you shall be removed from publicly-available areas of our Services, please contact us at <a class="privacy_link" href="mailto:privacy@transtechsys.com?subject=TransTech Systems Privacy Policy">privacy@transtechsys.com</a></p>

          <p><strong>Content Submitted to TSI</strong> - If you submit your comments or other information directly to TSI, we may publish it on the TSI website or social media accounts along with certain information about you, e.g., your first and last name or your username, after we have your consent.</p>

          <p><strong>Service Providers</strong> - We use third party service providers to offer or facilitate services on our behalf, such as a shipping company (e.g. UPS, FedEx, and DHL) to fulfill orders, a credit card processing company to bill you for goods and services, or an email service provider to send out emails on our behalf. When you order products from TSI, we will share your information as necessary for such third-party services providers to provide the applicable service to us or on our behalf. These third-parties are prohibited from using any identifying information about you for promotional purposes according to their privacy policies.</p>

          <p><strong>Business Transactions</strong> - Information that we collect is considered a business asset. As a result, if we go out of business, enter bankruptcy, or if we are acquired as a result of a transaction such as a merger, acquisition or sale of some or all of our assets, your information may be disclosed or transferred to a third-party acquirer in connection with the transaction.</p>

          <p><strong>Legal Compliance</strong> - We reserve the right to access and disclose your information when we believe in good faith that such disclosure is necessary to: (a) enforce legal rights and comply with the law; (b) comply with an order from a government entity or other competent authority, (c) prevent or address potential or actual injury or interference with our rights, property, operations, users or others who may be harmed or may suffer loss or damage; (d) protect our rights, prevent fraud and/or comply with judicial proceeding, court order, or legal process served on TSI.</p>

          <p><strong>Law Enforcement</strong> - We may be required to disclose your information to government or law enforcement officials in response to a lawful request by a public authority or if we have to do so to comply with a legal obligation, including to meet national security or law enforcement requirements. We can also disclose your information in order to apply or enforce our terms and conditions or to respond to any claims, to protect our rights or the rights of a third party, to protect the safety of any person or to prevent any illegal activity (including for the purposes of fraud protection and credit risk reduction).</p>

          <p>You will be notified when any identifying information about you is collected or shared by any third-party that is not our service provider so you can make an informed choice as to whether to share your information with that party. If you do not wish to have your information shared and want to opt out from receiving further communications from any third-party that is not our agent or service provider, please contact that third-party directly.</p>

          <h4>7. Your Choices</h4>

          <p>TSI provides you with a number of choices with respect to the information we collect and use as discussed throughout this Policy. Some of your choices include:</p>

          <p><strong>Marketing Communications</strong> - If you purchase a product but do not wish to receive any additional marketing material from us, you can indicate your preference on our order form by leaving the “Opt-In” checkbox blank. If you no longer wish to receive our newsletter, social media campaigns and promotional emails, you may opt out of receiving them by following the instructions included in each newsletter or email or by contacting us at <a class="privacy_link" href="mailto:privacy@transtechsys.com?subject=TransTech Systems Privacy Policy">privacy@transtechsys.com</a></p>

          <h4>8. EU Rights to personal information</h4>

          <p>EU and Swiss individuals have the right, under certain circumstances, to:</p>

          <ul>
            <li>Access their personal information;</li>
            <li>Correct inaccurate personal information;</li>
            <li>Request erasure of their personal information without undue delay;</li>
            <li>Request the restricted processing of their personal information;</li>
            <li>
              To receive the personal information that they have provided us with in a structured, commonly used and machine-readable format and you have the right to transmit that information to another controller without hindrance or ask us to do so;
            </li>
            <li>To object to the processing of their personal information;</li>
          </ul>

          <p>Such users may request access to their personal information and modify or remove most information associated with their TSI account at any time by emailing us at <a class="privacy_link" href="mailto:privacy@transtechsys.com?subject=TransTech Systems Privacy Policy">privacy@transtechsys.com</a>. EU and Swiss users also have the right to lodge a complaint with a supervisory authority, in particular in the EU Member State of their habitual residence, place of work or place of the alleged infringement if they consider that our processing of their personal information infringes the applicable data protection laws. Please contact us at <a class="privacy_link" href="mailto:privacy@transtechsys.com?subject=TransTech Systems Privacy Policy">privacy@transtechsys.com</a> and we will provide you with detailed information regarding the contact details of the respective competent supervisory authority.</p>

          <h4>9. Children’s Privacy</h4>

          <p>TSI's products and services are intended for industrial and governmental customers. TSI does not knowingly deal with or collect personal information from children under the age of 13 and if we become aware of such collection, we will take reasonable steps to delete any such information as soon as practicable.</p>

          <h4>10. International Users</h4>

          <p>TSI operates primarily in the United States and as a result, the information we collect will be stored in the United States. By inquiring, purchasing or using TSI products or services, you acknowledge and agree that your information may be transferred to, used, processed, or held by TSI in the United States and in other countries, including countries outside of your country of residence, and used for the purposes set out in this Privacy Policy. Please see below for further details about the transfer of your data to the United States.</p>

          <h4>11. Privacy Shield - EU – US and Swiss US Data Transfers</h4>

          <p><strong>Our Obligations to you under the Privacy Shield</strong></p>

          <p>TSI complies with the EU-U.S. Privacy Shield Framework and Swiss-U.S. Privacy Shield Frameworks as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal information transferred from the European Union and the United Kingdom and/or Switzerland as applicable to the United States. TSI has certified to the Department of Commerce that it adheres to the Privacy Shield Principles.</p>

          <p>If there is any conflict between the terms in this privacy policy and the Privacy Shield Principles, the Privacy Shield Principles shall govern. To learn more about the Privacy Shield program, and to view our certification, please visit <a class="privacy_link" href="https://www.privacyshield.gov" target="_blank">https://www.privacyshield.gov</a></p>

          <p>TSI has certified that it adheres to the following Privacy Shield Principles of (1) Notice; (2) Choice; (3) Accountability for Onward Transfer; (4) Security; (5) Data Integrity and Purpose Limitation; (6) Access; and (7) Recourse, Enforcement and Liability with respect to any personal data received from citizens of the European Union and Switzerland.</p>

          <p>We collect and process data in accordance with this Privacy Policy. Please see Section 2 for further details of the types of data which we collect from you and the purposes for which we collect it in Section 5.</p>

          <p><strong>Accountability and Liability for Onward Transfer</strong></p>

          <p>TSI is required to take certain steps when transferring personal information received from the European Union and Switzerland to third parties (such as including necessary contractual provisions in our third-party contracts). TSI may be potentially liable in cases of onward transfer of EU and Swiss individuals' data received pursuant to the Privacy Shield to third-parties.</p>

          <p><strong>Privacy Complaints Handling, Recourse and Enforcement</strong></p>

          <p>In compliance with the Privacy Shield Principles, TSI commits to resolve complaints about your privacy and our collection or use of your personal information (without charge to you). European Union and Swiss individuals with inquiries or complaints regarding this Privacy Policy should first contact us at:</p>

          <p>Email address - <a class="privacy_link" href="mailto:privacy@transtechsys.com?subject=TransTech Systems Privacy Policy">privacy@transtechsys.com</a></p>

          <p>We will respond to any complaints as soon as possible and within 45 days.</p>

          <p>We encourage EU and Swiss individuals who have questions or complaints about how we process their Personal Data under Privacy Shield to contact us at <a class="privacy_link" href="mailto:privacy@transtechsys.com?subject=TransTech Systems Privacy Policy">privacy@transtechsys.com</a>. We will work to resolve your issue as quickly as possible, but in any event, within 45 days of receipt. If you have an unresolved privacy or data use complaints that we have not addressed satisfactorily, please contact, free of charge, our dispute resolution provider, JAMS, at <a class="privacy_link" href="https://www.jamsadr.com/file-an-eu-us-privacy-shield-or-safe-harbor-claim" target="_blank">https://www.jamsadr.com/file-an-eu-us-privacy-shield-or-safe-harbor-claim</a>. If you are an EU or Swiss individual and unable to resolve any complaints through any of the above methods, you may be able to invoke binding arbitration through a Privacy Shield panel, in accordance with the Privacy Shield Framework at <a class="privacy_link" href="https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint" target="_blank">https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint</a>.</p>

          <p>Please note that if your complaint is not resolved through these channels, TSI has further committed to refer unresolved Privacy Shield complaints to JAMS, an alternative dispute resolution provider and Independent Recourse Mechanism (IRM) located in the United States. If you do not receive timely acknowledgment of your complaint from us or if we have not addressed your complaint to your satisfaction, please visit <a class="privacy_link" href="https://www.jamsadr.com/file-an-eu-us-privacy-shield-or-safe-harbor-claim" target="_blank">https://www.jamsadr.com/file-an-eu-us-privacy-shield-or-safe-harbor-claim</a> for more information or to file a complaint. The services of JAMS are provided at no cost to you.</p>

          <p>TSI is subject to the investigatory and enforcement powers of the Federal Trade Commission in the case of any failure to comply with the Privacy Shield.</p>

          <h4>12. Changes in Our Privacy Policy</h4>

          <p>From time to time, our information practices may change. If we decide to change our Privacy Policy, we will post those changes to this Privacy Policy on our website or other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. We reserve the right to modify this Privacy Policy at any time, so please review it frequently. If we make material changes to this Privacy Policy, we will notify you here, by email, or by means of a notice on our home page.</p>

          <h4>13. How we Protect Your Information</h4>

          <p>The security of your information is important to us. We have implemented reasonable administrative, technical, and physical security measures to protect against the unauthorized access, destruction or alteration of your information based on its sensitivity. Despite our best efforts, however, no security measures are completely impenetrable.</p>

          <h4>14. TSI Contact Info</h4>

          <p>In compliance with the Privacy Shield Principles, TSI commits to resolve complaints about our collection or use of your personal information. EU and Swiss individuals with inquiries or complaints regarding our Privacy Shield policy should first contact TSI at:</p>

          <p>Email address - <a class="privacy_link" href="mailto:privacy@transtechsys.com?subject=TransTech Systems Privacy Policy">privacy@transtechsys.com</a></p>

          <p>
          <address>
            <strong>TransTech Systems, Inc.</strong><br>
            900 Albany Shaker Road, Suite 2<br>
            Latham, New York 12110 - USA<br>
            Phone: +1-518-370-5558<br>
            Fax: +1-518-370-5538
          </address>
          </p>

          <p>Effective as of July 19, 2021</p>

        </div><!-- /col -->
      </div>
    </div>
  </section>
  <!-- /privacy Section -->

  <% include ./partials/footer %>