<% include ./partials/header %>

  <!-- Support Section -->
  <section id="support">
    <div class="container text-center text-md-left">
      <h2>Product Manuals</h2>
      <hr>

      <div class="row align-items-center">

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="../img/pqi380-featured.png" alt="TransTech Systems PQI 380 Non-Nuclear Asphalt Density Gauge">
              <h3 class="card-title">PQI 380</h3>
              <h5 class="mb-3">Non-Nuclear Asphalt Density Gauge</h5>
              <button type="button" class="btn btn-dark btn-block btn-lg mb-2" data-id="PQI 380 Manual" data-toggle="modal" data-target="#manualDownload">User Manual</button>
              <button type="button" class="btn btn-dark btn-block btn-lg" data-id="PQI 380 QuickStart Guide" data-toggle="modal" data-target="#manualDownload">Quick Start Guide</button>
              <button type="button" class="btn btn-dark btn-block btn-lg" data-id="PQI 380 Offset Cheat Sheet" data-toggle="modal" data-target="#manualDownload">Offset Cheat Sheet</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="../img/sdg200-featured.png" alt="TransTech Systems SDG 200 Non-Nuclear Soil Density Gauge">
              <h3 class="card-title">SDG 200</h3>
              <h5 class="mb-3">Non-Nuclear Soil Density Gauge</h5>
              <button type="button" class="btn btn-dark btn-block btn-lg mb-2" data-id="SDG 200 Manual" data-toggle="modal" data-target="#manualDownload">User Manual</button>
              <button type="button" class="btn btn-dark btn-block btn-lg" data-id="SDG 200 QuickStart Guide" data-toggle="modal" data-target="#manualDownload">Quick Start Guide</button>
              <button type="button" class="btn btn-dark btn-block btn-lg" data-id="SDG 200 StartUp Cheat Sheet" data-toggle="modal" data-target="#manualDownload">Start Up Guide</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="../img/nwjm-featured.png" alt="TransTech Systems Notched Wedge Joint Maker">
              <h3 class="card-title">NWJM</h3>
              <h5 class="mb-3">Notched Wedge Joint Maker Screed Attachment</h5>
              <button type="button" class="btn btn-dark btn-block btn-lg mb-2" data-id="NWJM Manual" data-toggle="modal" data-target="#manualDownload">Original User Manual</button>
              <button type="button" class="btn btn-dark btn-block btn-lg mb-2" data-id="NWJM Thin Lift Manual" data-toggle="modal" data-target="#manualDownload">Thin-Lift User Manual</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4 swm" src="../img/swm-featured.png" alt="TransTech Systems Shoulder Wedge Maker">
              <h3 class="card-title">SWM</h3>
              <h5 class="mb-3">Shoulder Wedge Maker Screed Attachment</h5>
              <button type="button" class="btn btn-dark btn-block btn-lg mb-2" data-id="SWM Manual" data-toggle="modal" data-target="#manualDownload">User Manual</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="../img/pts3000-featured.png" alt="TransTech Systems Pavement Temperature Sentry">
              <h3 class="card-title">PTS 3000</h3>
              <h5 class="mb-3">Pavement Temperature Sentry</h5>
              <button type="button" class="btn btn-dark btn-block btn-lg mb-2" data-id="PTS 3000 Manual" data-toggle="modal" data-target="#manualDownload">User Manual</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="../img/pqi-301.png" alt="TransTech Systems PQI 301 Non-Nuclear Asphalt Density Gauge">
              <h3 class="card-title">PQI 301</h3>
              <h5 class="mb-3">Non-Nuclear Asphalt Desnity Gauge (Discontinued)</h5>
              <button type="button" class="btn btn-dark btn-block btn-lg mb-2" data-id="PQI 301 Manual" data-toggle="modal" data-target="#manualDownload">User Manual</button>
              <button type="button" class="btn btn-dark btn-block btn-lg" data-id="PQI 301 Offset Cheat Sheet" data-toggle="modal" data-target="#manualDownload">Offset Cheat Sheet</button>
            </div>
          </div>
        </div>

      </div><!-- /row -->

    </div><!-- /container -->
  </section>
  <!-- /Support Section -->


  <!-- Modals -->

  <!-- Download Manual Modal -->

  <div class="modal fade communityModal" id="manualDownload" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Manual Download</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="manualForm" action="/products/productManuals" method="post">
            <div class="form-group d-none">
              <input type="text" class="form-control form-control-lg" name="manualName" id="manualName">
              <!-- Send Manual name to backend -->
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control form-control-lg" name="name" id="name" required>
            </div>
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control form-control-lg" name="company" id="company" required>
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control form-control-lg" name="country" id="country" required>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control form-control-lg" name="email" id="email" required>
            </div>
            <div class="form-group d-none">
              <!-- Honey -->
              <input type="text" class="form-control form-control-lg" name="businessAddress" id="businessAddress">
            </div>
            <div class="form-group mt-4">
              <label class="d-block">Current TransTech Systems Customer?</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="currentCustomer" id="currentCustomerYes" value="Yes" checked>
                <label class="form-check-label" for="currentCustomerYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="currentCustomer" id="currentCustomerNo" value="No">
                <label class="form-check-label" for="currentCustomerNo">No</label>
              </div>
            </div>
            <div class="form-group mt-4 hearAbout">
              <label for="reach">How did you hear about us?</label>
              <select class="form-control form-control-lg" name="reach" id="reach">
                <option>Asphalt Contractor Magazine</option>
                <option>NAPA - Asphalt Pavement Magazine</option>
                <option>Asphalt Pro Magazine</option>
                <option>TXAPA Magazine</option>
                <option>Ohio Flexible Pavements Magazine</option>
                <option>Florida Asphalt Association Magazine</option>
                <option>Facebook</option>
                <option>Twitter</option>
                <option>Instagram</option>
                <option>Linked In</option>
                <option>World of Asphalt</option>
                <option>ConExpo</option>
                <option>Other Tradeshow</option>
                <option>Friend</option>
              </select>
            </div>
            <div class="d-flex justify-content-center">
              <button id="manualDownloadBtn" class="btn btn-success btn-lg submit-btn btn-block mt-5">Submit</button>
              <i class="fas fa-spinner fa-2x fa-spin mt-4 mb-3 mx-auto"></i>
              <!--Initially hidden in the css-->
              <span class="submitMessage text-center mx-auto">Thank you, you may download the manual</span>
              <!--Initially hidden in the css-->
            </div>
          </form>
          <a id="manualDownloadLink" class="btn btn-outline-success btn-lg btn-block mt-3" href="#" target="_blank">Download Manual</a>
          <!--Initially hidden in the css-->
        </div>
      </div>
    </div>
  </div>


  <% include ./partials/footer %>