<% include ./partials/header %>

  <!-- Resources Section -->
  <section id="resources">
    <div class="container text-center text-md-left">
      <h2>Customer Resources</h2>
      <hr>

      <h4 class='mb-4'>Welcome to the TransTech Systems Family!</h4>

      <p class="mb-4">We treat our customers like family, so we extend a hearty welcome to you and your company! Our team wants you to know that we are committed to investing in continuous improvements of our innovative technology. We believe you will appreciate our products and look forward to building a lasting relationship with you and your company.</p>

      <p class="mb-4">Below, please find quick links to our product start guides, product manuals and other resources you may need to get up and running. But, as always, we are a phone call or email away:</p>

      <p><a class="standard-link" href="tel:18007246306">1-800-724-6306</a> / <a class="standard-link" href="tel:15183705558">+1-518-370-5558</a> / <a class="standard-link" href="mailto:sales@transtechsys.com?subject=Customer Resources Inquiry">sales@transtechsys.com</a></p>

      <h3 class="my-5">Non-Nuclear Density Gauges</h3>

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="../img/pqi380-featured.png" alt="TransTech Systems PQI 380 Non-Nuclear Asphalt Density Gauge">
              <h3 class="card-title">PQI 380</h3>
              <h5 class="mb-3">Non-Nuclear Asphalt Density Gauge</h5>
              <a href="/pdf/PQI380Manual.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg mb-2">User Manual</a>
              <a href="/pdf/PQI380QuickstartGuide.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg">Quick Start Guide</a>
              <a href="/pdf/PQI380OffsetCheatSheet.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg">Correlation Cheat Sheet</a>
              <a href="/pdf/PQI%20Report.xls" target="_blank" type="button" class="btn btn-dark btn-block btn-lg">Report Template</a>
              <a href="/pdf/pqi380brochure.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg">Brochure</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="../img/sdg200-featured.png" alt="TransTech Systems SDG 200 Non-Nuclear Soil Density Gauge">
              <h3 class="card-title">SDG 200</h3>
              <h5 class="mb-3">Non-Nuclear Soil Density Gauge</h5>
              <a href="/pdf/SDG200Manual.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg mb-2">User Manual</a>
              <a href="/pdf/SDG200QuickstartGuide.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg">Quick Start Guide</a>
              <a href="/pdf/SDG200StartUpCheatSheet.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg">Start Up Cheat Sheet</a>
              <a href="/pdf/SDGmtlFileTool.xls" target="_blank" type="button" class="btn btn-dark btn-block btn-lg">MTL File Tool</a>
              <a href="/pdf/SDG200MTLGenerator.xlsm" target="_blank" type="button" class="btn btn-dark btn-block btn-lg">MTL Generator</a>
              <a href="/pdf/SDG%20Report.xlsm" target="_blank" type="button" class="btn btn-dark btn-block btn-lg">Report Template</a>
              <a href="/pdf/sdg200brochure.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg">Brochure</a>
            </div>
          </div>
        </div>

      </div><!-- /row -->

      <h3 class="my-5">Compaction Products</h3>

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="../img/nwjm-featured.png" alt="TransTech Systems Notched Wedge Joint Maker">
              <h3 class="card-title">NWJM</h3>
              <h5 class="mb-3">Notched Wedge Joint Maker Screed Attachment</h5>
              <a href="/pdf/NWJMOriginalManual.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg mb-2">Original User Manual</a>
              <a href="/pdf/NWJMTLManual.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg mb-2">Thin-Lift User Manual</a>
              <a href="/pdf/NWJMBrochure.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg mb-2">Brochure</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4 swm" src="../img/swm-featured.png" alt="TransTech Systems Shoulder Wedge Maker">
              <h3 class="card-title">SWM</h3>
              <h5 class="mb-3">Shoulder Wedge Maker Screed Attachment</h5>
              <a href="/pdf/SWMManual.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg mb-2">User Manual</a>
              <a href="/pdf/SWMGuideSpecs.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg mb-2">Guide Specs</a>
              <a href="/pdf/SWMBrochure.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg mb-2">Brochure</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <img class="card-img-top mb-4" src="../img/pts3000-featured.png" alt="TransTech Systems Pavement Temperature Sentry">
              <h3 class="card-title">PTS 3000</h3>
              <h5 class="mb-3">Pavement Temperature Sentry</h5>
              <a href="/pdf/PTS3000Manual.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg mb-2">User Manual</a>
              <a href="/pdf/PTS3000Brochure.pdf" target="_blank" type="button" class="btn btn-dark btn-block btn-lg mb-2">Brochure</a>
            </div>
          </div>
        </div>

      </div><!-- /row -->

    </div><!-- /container -->
  </section>
  <!-- /Resources Section -->

  <% include ./partials/footer %>