<% include ./partials/header %>

<!-- product nav -->
<section id="productNav" class="py-4">
  <div class="container">

    <div class="row">
      <div class="col">
        <div class="productLinks">
          <a href="/pdf/sdg200brochure.pdf" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true"
            target="_blank">Brochure</a>
          <a href="/pdf/mtlGeneratorVer949.xls" class="btn productLinkBtn mb-2 mb-lg-0" role="button"
            aria-disabled="true" target="_blank">MTL Generator</a>
          <a href="/pdf/SDGmtlFileTool.xls" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true"
            target="_blank">MTL File Tool</a>
          <button class="btn productLinkBtn mb-2 mb-lg-0" data-id="SDG 200 Manual" data-toggle="modal"
            data-target="#manualDownload">Manual</button>
          <button class="btn productLinkBtn mb-2 mb-lg-0" data-id="SDG 200 QuickStart Guide" data-toggle="modal"
            data-target="#manualDownload">Quick Start Guide</button>
          <a href="/pdf/SDG%20Report.xlsm" class="btn productLinkBtn mb-2 mb-lg-0" role="button" aria-disabled="true"
            target="_blank">Report Template</a>
          <button class="btn productLinkBtn mb-2 mb-lg-0" data-id="SDG 200 StartUp Cheat Sheet" data-toggle="modal"
            data-target="#manualDownload">Cheat Sheet</button>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- /product nav -->


<!-- product hero section -->
<section id="productHero" class="dirt py-5">
  <div class="container my-auto">

    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <div id="title" class="text-center text-md-left">
          <h1 class="text-light">SDG 200</h1>
          <hr>
          <h3 class="secondary-text">Non-Nuclear Soil Density Gauge</h3>
          <a class="btn btn-outline-light btn-lg mt-3" href="/products/salesRequest"><i
              class="fas fa-shopping-cart"></i> Quote Request</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature-block d-none d-md-block">
          <img class="product-feature img-fluid" src="../img/sdg200-featured.png"
            alt="SDG 200 Non-Nuclear Soil Density Gauge">
        </div>
      </div>
    </div>

  </div>
</section>
<!-- /product hero section -->


<!-- product images section -->
<section id="productImages" class="py-4">
  <div class="container">

    <div class="row">
      <div class="col imageContainer d-flex flex-wrap justify-content-center justify-content-md-start">
        <a href="../img/sdg200-1.jpg" data-lightbox="sdg200" data-title="SDG 200 Side View"><img
            src="../img/sdg200-1.jpg" alt="SDG 200 Side View" class="img-thumbnail"></a>
        <a href="../img/sdg200-2.jpg" data-lightbox="sdg200" data-title="SDG 200 Front View"><img
            src="../img/sdg200-2.jpg" alt="SDG 200 Front View" class="img-thumbnail"></a>
        <a href="../img/sdg200-3.jpg" data-lightbox="sdg200" data-title="SDG 200 Back View"><img
            src="../img/sdg200-3.jpg" alt="SDG 200 Back View" class="img-thumbnail"></a>
        <a href="../img/sdg200-4.jpg" data-lightbox="sdg200" data-title="SDG 200 Handle"><img src="../img/sdg200-4.jpg"
            alt="SDG 200 Handle" class="img-thumbnail"></a>
        <a href="../img/sdg200-5.jpg" data-lightbox="sdg200" data-title="SDG 200 Case"><img src="../img/sdg200-5.jpg"
            alt="SDG 200 Case" class="img-thumbnail"></a>
        <a href="../img/sdg200-6.jpg" data-lightbox="sdg200" data-title="SDG 200 Measurement"><img
            src="../img/sdg200-6.jpg" alt="SDG 200 Measurement" class="img-thumbnail"></a>
        <a href="../img/sdg200-7.jpg" data-lightbox="sdg200" data-title="SDG 200 Measurement"><img
            src="../img/sdg200-7.jpg" alt="SDG 200 Measurement" class="img-thumbnail"></a>
        <a href="../img/sdg200-8.jpg" data-lightbox="sdg200" data-title="SDG 200 Measurement"><img
            src="../img/sdg200-8.jpg" alt="SDG 200 Measurement" class="img-thumbnail"></a>
      </div>
    </div>

  </div>
</section>
<!-- /product images section -->


<!-- intro section -->
<section id="intro" class="pt-5">
  <div class="container text-center text-md-left">

    <div class="row">
      <div class="col">
        <p class="lead mb-0">Introducing TransTech Systems next generation <span>Non-Nuclear</span> soil density gauge,
          the SDG 200. This version of the SDG is fully equipped with a touch screen and a user friendly graphical user
          interface. The SDG 200 uses Microsoft Windows CE for smooth operation, easy software upgrades and enhanced
          user support.</p>
      </div>
    </div>

  </div>
</section>
<!-- /intro section -->


<!-- highlights section -->
<section id="productHighlights" class="pt-5">
  <div class="container text-center text-md-left">

    <h2>SDG 200 Highlights</h2>
    <hr>

    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>Non-Nuclear technology</li>
          <li>Full color VGA display</li>
          <li>LED backlight for easy visibility in light or dark situations</li>
          <li>Customizable project entries</li>
          <li>Customizable material entries</li>
          <li>Diagnostics mode</li>
          <li>Download data files from the SDG 200 via USB drive</li>
          <li>Data management screen and the ability to disable data logging</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>Rugged, lightweight, aluminum shell</li>
          <li>Handle extension attachment</li>
          <li>Reflective vinyl graphics for higher visibility at night</li>
          <li>Fast, reliable, accurate and repeatable readings in real time</li>
          <li>No need for badges or licenses</li>
          <li>No storage or transport concerns</li>
        </ul>
      </div>
    </div>

  </div>
</section>
<!-- /highlights section -->


<!-- videos section -->
<section id="productVideos" class="pt-5">
  <div class="container text-center text-md-left">

    <h2>SDG 200 Videos</h2>
    <hr>

    <div class="row pt-3">
      <div class="col-lg-6 mb-4">
        <div class="youtubeEmbed" id="k4FRVehlJzk"></div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="youtubeEmbed" id="UZs_J-_wZn4"></div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="youtubeEmbed" id="IBzeO4ekL-s"></div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="youtubeEmbed" id="pDmFknZ4Res"></div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="youtubeEmbed" id="phTESeLuA2c"></div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="youtubeEmbed" id="sBoRDfKVh8Y"></div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="youtubeEmbed" id="WpJT7LxOs0U"></div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="youtubeEmbed" id="MZBcus-Ztdc"></div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="youtubeEmbed" id="ZAkVm6FUneU"></div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="youtubeEmbed" id="KbO-w6cPeoA"></div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-lg-6">
        <a href="https://vimeo.com/transtechsystems" class="btn btn-outline-info btn-block vimeoLink" role="button"
          aria-disabled="true" target="blank"><i class="fab fa-vimeo"></i> Vimeo link for users who cannot access
          YouTube</a>
      </div>
    </div>

  </div>
</section>
<!-- /videos section -->


<!-- faqs section -->
<section id="productFaqs" class="pt-5">
  <div class="container text-center text-md-left">

    <h2>SDG 200 FAQ's</h2>
    <hr>

    <div class="row">
      <div class="col">
        <ul class="list-group mt-3 d-flex">
          <li class="list-group-item active"><span class="yellow">Q:</span> How long will the SDG 200 last on a full
            charge? <i class="fas fa-bolt" style="color: #FFDE00;"></i></li>
          <li class="list-group-item"><span>A:</span> 8 hours, depending on usage.</li>
          <li class="list-group-item active"><span class="yellow">Q:</span> When should I charge my SDG 200? <i
              class="fas fa-bolt" style="color: #FFDE00;"></i></li>
          <li class="list-group-item"><span>A:</span> When the voltage indicator on the status bar reads 6.5volts. It is
            also a good idea to charge the SDG 200 at the end of the day after use.</li>
          <li class="list-group-item active"><span class="yellow">Q:</span> How long does it take to recharge the SDG
            200? <i class="fas fa-bolt" style="color: #FFDE00;"></i></li>
          <li class="list-group-item"><span>A:</span> 4 hours.</li>
          <li class="list-group-item active"><span class="yellow">Q:</span> Will the SDG 200 operate while charging? <i
              class="fas fa-bolt" style="color: #FFDE00;"></i></li>
          <li class="list-group-item"><span>A:</span> No, the SDG 200 is not operable while charging. An external
            battery charger can be purchased along with a second battery pack. Contact sales at <a class="standard-link"
              href="tel:+18007243606">1-800-724-6306</a> for more information.</li>
          <li class="list-group-item active"><span class="yellow">Q:</span> How will I know when the SDG 200 is fully
            charged? <i class="fas fa-bolt" style="color: #FFDE00;"></i></li>
          <li class="list-group-item"><span>A:</span> When the LED indicator on the back of the gauge changes from red
            to yellow.</li>
          <li class="list-group-item active"><span class="yellow">Q:</span> Should the SDG 200 remain in its original
            shipped case?</li>
          <li class="list-group-item"><span>A:</span> Yes, each case contains a standardization plate unique for that
            specific gauge.</li>
          <li class="list-group-item active"><span class="yellow">Q:</span> Is it necessary to calibrate the SDG 200
            annually?</li>
          <li class="list-group-item"><span>A:</span> Yes, TransTech Systems suggests annual calibration of the SDG 200
            gauge.</li>
          <li class="list-group-item active"><span class="yellow">Q:</span> Is the SDG 200 case waterproof? <i
              class="fas fa-tint" style="color: #00a9ff;"></i></li>
          <li class="list-group-item"><span>A:</span> Yes.</li>
          <li class="list-group-item active"><span class="yellow">Q:</span> How do I get customer support for the SDG
            200?</li>
          <li class="list-group-item"><span>A:</span> Call toll-free <a class="standard-link"
              href="tel:+18007243606">1-800-724-6306</a> or <a class="standard-link"
              href="tel:+5183705558">518-370-5558</a> (8:00 am – 5:00 pm EST - Monday – Friday) or <a
              class="standard-link" href="/products/repairRequest">Email
              Us</a></li>
          <li class="list-group-item active"><span class="yellow">Q:</span> Does TransTech provide training for the SDG
            200?</li>
          <li class="list-group-item"><span>A:</span> We welcome individuals to come to the TransTech Systems <a
              class="standard-link" href="/products/contactCorporate">facility in NY</a>, free of charge, for training.
            Please call toll-free <a class="standard-link" href="tel:+18007243606">1-800-724-6306</a> to arrange dates
            and for any additional training information.</li>
          <li class="list-group-item active"><span class="yellow">Q:</span> Is the SDG 200 availible in languages other
            than English? <i class="fas fa-globe" style="color: #00a9ff;"></i></li>
          <li class="list-group-item"><span>A:</span> Yes, we can also program the interface for Chinese, French,
            German, Japanese, Norwegian, Portuguese, Russian, Spanish or Swedish</li>
          <li class="list-group-item active"><span class="yellow">Q:</span> What type of warranty is available with a
            new SDG 200?</li>
          <li class="list-group-item"><span>A:</span> We offer a 1 year warranty on parts and labor for issues related
            to materials and workmanship on all new SDG 200's.</li>
        </ul>
      </div>
    </div>

  </div>
</section>
<!-- /faqs section -->


<!-- library section -->
<section id="productLibrary" class="py-5 mb-4">
  <div class="container text-center text-md-left">

    <h2>SDG 200 Library</h2>
    <hr>

    <div class="row">
      <div class="col">
        <p class="mt-2 mb-3 specMessage">The specifications listed below are made available for your reference only. You
          are responsible for ensuring that you are using the latest and most up to date specification from your state.
        </p>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-lg-6 mb-4">
        <a class="libraryItem yellowLib" href="../pdf/SDGApplicationBrief.pdf" target="_blank">
          <h4>SDG Application Brief</h4>
          <hr>
          <p class="mb-0">Explains the process of measuring soil density using TransTech Systems non-nuclear soil
            density gauge</p>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a class="libraryItem yellowLib" href="../pdf/DHSPhaseIISDG.pdf" target="_blank">
          <h4>Phase II Final Report</h4>
          <hr>
          <p class="mb-0">Development of a non-nuclear soil density gauge to eliminate the need for nuclear density
            gauges</p>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a class="libraryItem yellowLib" href="../pdf/ERDCTRBPaper12-3516SDG.pdf" target="_blank">
          <h4>Evaluation of Non-Nuclear Soil Moisture and Density</h4>
          <hr>
          <p class="mb-0">Study performed by the US Army Engineer Research and Development Center</p>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a class="libraryItem yellowLib" href="../pdf/GetTRDoc.pdf" target="_blank">
          <h4>Device Comparison for Determining Field Soil Moisture Content</h4>
          <hr>
          <p class="mb-0">Study performed by the US Army Engineer Research and Development Center</p>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a class="libraryItem yellowLib" href="../pdf/sdgpaper.pdf" target="_blank">
          <h4>SDG Study</h4>
          <hr>
          <p class="mb-0">Non-destructive impedance spectroscopy measurement for soil characteristics</p>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a class="libraryItem yellowLib" href="../pdf/rapsochs.pdf" target="_blank">
          <h4>A Rapid Field Soil Characterization System (RapSochs) for Construction Control</h4>
          <hr>
          <p class="mb-0">A Rapid Field Soil Characterization System for Construction Control utilizing an instrumented
            cone penetrometer</p>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a class="libraryItem yellowLib" href="../pdf/SoilData1.pdf" target="_blank">
          <h4>SDG Soil Data Comparison Chart #1</h4>
          <hr>
          <p class="mb-0">Water content and wet density comparison</p>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a class="libraryItem yellowLib" href="../pdf/SoilData2.pdf" target="_blank">
          <h4>SDG Soil Data Comparison Chart #2</h4>
          <hr>
          <p class="mb-0">Water content and wet density comparison</p>
        </a>
      </div>
    </div>

  </div>
</section>
<!-- /library section -->


<!-- product message section -->
<section id="productMessage" class="py-4 text-center">
  <div class="container">

    <div class="row">
      <div class="col">
        <h3 class="mb-0">The <span class="yellow">SDG 200</span> conforms to <a class="standard-link-light"
            href="https://www.astm.org/Standards/D7830.htm" target="_blank">ASTM D7830</a></h3>
      </div>
    </div>

  </div>
</section>
<!-- /product message section -->


<!-- Modals -->

<!-- Download Manual Modal -->

<div class="modal fade communityModal" id="manualDownload" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Manual Download</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="manualForm" action="/products/sdg200" method="post">
          <div class="form-group d-none">
            <input type="text" class="form-control form-control-lg" name="manualName" id="manualName">
            <!-- Send Manual name to backend -->
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control form-control-lg" name="name" id="name" required>
          </div>
          <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control form-control-lg" name="company" id="company" required>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control form-control-lg" name="country" id="country" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control form-control-lg" name="email" id="email" required>
          </div>
          <div class="form-group d-none">
            <!-- Honey -->
            <input type="text" class="form-control form-control-lg" name="businessAddress" id="businessAddress">
          </div>
          <div class="form-group mt-4">
            <label class="d-block">Current TransTech Systems Customer?</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="currentCustomer" id="currentCustomerYes" value="Yes"
                checked>
              <label class="form-check-label" for="currentCustomerYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="currentCustomer" id="currentCustomerNo" value="No">
              <label class="form-check-label" for="currentCustomerNo">No</label>
            </div>
          </div>
          <div class="form-group mt-4 hearAbout">
            <label for="reach">How did you hear about us?</label>
            <select class="form-control form-control-lg" name="reach" id="reach">
              <option>Asphalt Contractor Magazine</option>
              <option>NAPA - Asphalt Pavement Magazine</option>
              <option>Asphalt Pro Magazine</option>
              <option>TXAPA Magazine</option>
              <option>Ohio Flexible Pavements Magazine</option>
              <option>Florida Asphalt Association Magazine</option>
              <option>Facebook</option>
              <option>Twitter</option>
              <option>Instagram</option>
              <option>Linked In</option>
              <option>World of Asphalt</option>
              <option>ConExpo</option>
              <option>Other Tradeshow</option>
              <option>Friend</option>
            </select>
          </div>
          <div class="d-flex justify-content-center">
            <button id="manualDownloadBtn" class="btn btn-success btn-lg submit-btn btn-block mt-5">Submit</button>
            <i class="fas fa-spinner fa-2x fa-spin mt-4 mb-3 mx-auto"></i>
            <!--Initially hidden in the css-->
            <span class="submitMessage text-center mx-auto">Thank you, you may download the manual</span>
            <!--Initially hidden in the css-->
          </div>
        </form>
        <a id="manualDownloadLink" class="btn btn-outline-success btn-lg btn-block mt-3" href="#"
          target="_blank">Download Manual</a>
        <!--Initially hidden in the css-->
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>