<% include ./partials/header %>

<!-- Google Map Script -->
<script src="../js/tradeshowMap.js"></script>

<!-- map section -->
<section id="map"></section>
<!-- /map section -->

<!-- Tradeshow Section -->
<section id="tradeshows">
  <div class="container text-center text-md-left">
    <h2>Tradeshows & Conferences</h2>
    <hr class="mb-0">
    <p class="mb-5 attending-status attending">TransTech Systems will be attending the following events</p>

    <div class="tradeshow-items">

      <!--<div class="mb-5">
          <h3>November 5-7, 2018</h3>
          <div class="row mt-3">
            <div class="col-md-2 d-none d-md-block">
              <img class="img-fluid" src="../img/napa-logo.png" alt="National Asphalt Pavement Association Logo">
            </div>
            <div class="col-md-10">
              <a class="tradeshow-link" href="http://www.asphaltpavement.org/index.php?option=com_content&view=article&id=1148&Itemid=100375" target="_blank">1st International Conference on Stone Matrix Asphalt - Atlanta, GA</a>
              <p class="mt-2">We travel to Atlanta for NAPA’s conference on Stone Matrix Asphalt. This conference will capture advancements made in SMA mixtures and pavements over the past 25 years.</p>
            </div>
          </div>
        </div>-->

      <!-- <div class="mb-5">
          <h3>March 20-21, 2019</h3>
          <div class="row mt-3">
            <div class="col-md-2 d-none d-md-block">
              <img class="img-fluid" src="../img/calapa-logo.png" alt="California Asphalt Pavement Association Logo">
            </div>
            <div class="col-md-10">
              <a class="tradeshow-link" href="http://www.calapa.net" target="_blank">CalAPA Spring Conference - Ontario, CA</a>
              <p class="mt-2">We attend the California Asphalt Pavement Association's spring conference focusing on best practices in Hot Mix Asphalt design; specifications; testing; paving and future trends; research projects & the
              status of evaluations.</p>
            </div>
          </div>
        </div>-->

      <!-- <div class="mb-5">
        <h3>September 5 - 7, 2019</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/intermat-asean-logo.png" alt="Intermat ASEAN Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://asean.intermatconstruction.com" target="_blank">Intermat ASEAN -
              Bangkok, Thailand - Booth #B18</a>
            <p class="mt-2">We travel to Thailand for INTERMAT ASEAN 2019. The Southeast Asian trade show for
              construction and infrastructure. INTERMAT ASEAN provides visitors the opportunity to explore the latest
              trends and to source products to help grow their business. The trade exhibition brings together 300+
              leading companies and brands in a strategic location – Bangkok,
              Thailand.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/intermatasean" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/Intermat_ASEAN" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div> -->

      <div class="mb-5">
        <h3>September 17 - 20, 2019</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/txapa-logo.png" alt="Texas Asphalt Pavement Association Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://www.texasasphalt.org" target="_blank">TXAPA - San Antonio, TX -
              Booth #16</a>
            <p class="mt-2">We travel to the Hyatt Regency Hill Country Resort for the 45th annual Texas Asphalt
              Pavement Association
              meeting.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/TexasAsphalt" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/TexasAsphalt" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>October 23 - 24, 2019</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/neaupg-logo.png" alt="North Eastern Asphalt User Producer Group Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="http://www.neaupg.uconn.edu" target="_blank">NEAUPG - Portland, ME</a>
            <p class="mt-2">We attend the North East Asphalt User/Producer Group's annual fall Meeting. Promoting
              solutions through discussion to improve the quality and performance of asphalt pavement applications in
              the Northeastern United States.</p>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>November 18 - 21, 2019</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/seaupg-logo.png" alt="South Eastern Asphalt User Producer Group Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="http://www.seaupg.org" target="_blank">SEAUPG - Baton Rouge, LA</a>
            <p class="mt-2">We travel to Louisiana for the annual Southeastern Asphalt User/Producer Group Meeting. A
              regional forum for discussion and exchange of asphalt pavement technologies.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/seaupg" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>December 11 - 13, 2019</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/apai-logo.png" alt="APAI Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://asphaltindiana.org" target="_blank">APAI - Indianapolis, IN</a>
            <p class="mt-2">We attend the Asphalt Pavement Association of Indiana's annual winter conference and trade
              show. Held each December in Indianapolis, over 600 individuals and 50 vendors participate and discuss
              production and construction of quality asphalt pavements.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/AsphaltPavementAssociationIndiana"
              target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/asphaltindiana" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>January 12 - 16, 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/trb-logo.png" alt="Transportation Research Board Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="http://www.trb.org/AnnualMeeting/AnnualMeeting.aspx" target="_blank">TRB -
              Washington, D.C.</a>
            <p class="mt-2">We attend the Transportation Research Board's 99th Annual Meeting in D.C. This
              information-packed program is expected to attract more than 13,000 transportation professionals from
              around the world.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/NASEMTRB" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/nasemtrb" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>February 19 - 21, 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/rmaces-logo.png" alt="Rocky Mountain Asphalt Conference Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://www.rmaces.org/index.php" target="_blank">RMACES - Denver, CO</a>
            <p class="mt-2">We attend the 47th Annual Rocky Mountain Asphalt Conference & Equipment Show. 60,000 sq. ft.
              tradeshow filled with product and service providers.</p>
            <a class="link text-dark tradeshow-social"
              href="https://www.facebook.com/Rocky-Mountain-Asphalt-Conference-and-Equipment-Show-498668770189595"
              target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>March 10 - 14, 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/conexpo-logo.png" alt="Con-Expo Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="http://www.conexpoconagg.com" target="_blank">ConExpo - Las Vegas, Nevada -
              Booth #C30947</a>
            <p class="mt-2">We attend ConExpo 2020 in Vegas! Held once every 3 years, CONEXPO-CON/AGG is North America’s
              largest construction trade show representing asphalt, aggregates, concrete, earthmoving, lifting, mining,
              utilities and more.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/conexpoconagg" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/conexpoconagg" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>March 24 - 25, 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/ohio-logo.png" alt="Flexible Pavements of Ohio Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="http://www.flexiblepavements.org" target="_blank">Ohio Asphalt Expo -
              Columbus, OH</a>
            <p class="mt-2">We attend the 2020 Ohio Asphalt Expo. The Asphalt Expo is Ohio’s premiere asphalt pavement
              event with multiple concurrent educational sessions and an indoor and outdoor trade show and exhibition.
            </p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/flexiblepavements"
              target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/Ohio_Asphalt" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>April 1 - 3, 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/capa-logo.png" alt="Carolina Asphalt Pavement Association Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="http://www.carolinaasphalt.org/aws/CAPA/pt/sp/calendar" target="_blank">CAPA
              - Pinehurst, NC</a>
            <p class="mt-2">We attend the Carolina Asphalt Pavement Association/NCDOT 2020 annual meeting. Representing
              North Carolina asphalt producers and other companies involved in the asphalt pavement industry.</p>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>April 7 - 8, 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/maine-logo.png" alt="Maine Asphalt Paving Association Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://maine-apa.org/paving-seminar" target="_blank">MAPA - Bangor, ME</a>
            <p class="mt-2">We attend the Maine Asphalt Paving Asscoiations's 17th Annual Spring Paving Seminar. MAPA
              works to encourage and promote the safe and environmentally sound use of bituminous asphalt products
              throughout the state of Maine.</p>
            <a class="link text-dark tradeshow-social"
              href="https://www.facebook.com/Maine-Asphalt-Pavement-Association-362820107098519" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>March 9 - 11, 2021</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/woa-logo.png" alt="World of Asphalt Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="http://www.worldofasphalt.com" target="_blank">World of Asphalt - Atlanta,
              GA</a>
            <p class="mt-2">We attend World of Asphalt 2021 in Atlanta. Over 450 of the industry's leading manufacturers
              and service providers in the aggregate, asphalt, pavement maintenance, and traffic safety industry sectors
              come together at World of Asphalt to showcase their latest products and technologies.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/WorldofAsphalt" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/WorldofAsphalt" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <h2 class="industry-events-title">Industry Events</h2>
      <hr class="mb-0">
      <p class="mb-5 attending-status not-attending">TransTech Systems will not be attending the following events</p>

      <!-- <div class="mb-5">
          <h3>February 12-14, 2019</h3>
          <div class="row mt-3">
            <div class="col-md-2 d-none d-md-block">
              <img class="img-fluid" src="../img/agg1-logo.png" alt="AGG1 Aggregates Logo">
            </div>
            <div class="col-md-10">
              <a class="tradeshow-link" href="https://www.nssga.org/major-event/agg1" target="_blank">AGG1 Aggregates Academy and Expo - Indianapolis, IN</a>
              <p class="mt-2">AGG1 focuses exclusively on the aggregate industry and is the industry’s leading exposition and education resource. AGG1
          features in-depth, industry focused, educational programming. The event attracts aggregate industry professionals, including those from quarries, plants and aggregate end-users.</p>
            </div>
          </div>
        </div> -->


      <div class="mb-5">
        <h3>October 1 - 3, 2019</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/icuee-logo.png" alt="ICUEE Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://www.icuee.com" target="_blank">ICUEE - The Demo Expo - Louisville,
              KY</a>
            <p class="mt-2">ICUEE, also known as The Demo Expo, is the largest event in North America for utilities and
              contractors seeking new equipment, technologies, and best practices for utility construction, maintenance
              and rehabilitation projects. With 28+ acres of exhibits to explore, attendees can comparison shop more
              than 1,000 suppliers through equipment test drives and interactive product demonstrations.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/icuee" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/ICUEE" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>October 2 - 5, 2019</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/conexpo-latin-logo.png" alt="CONEXPO Latin America Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://conexpolatinamerica.com" target="_blank">CONEXPO Latin America -
              Santiago, Chile</a>
            <p class="mt-2">CONEXPO Latin America is the largest and most prestigious Construction and Infrastructure
              trade show in Hispanic America. This trade show is the perfect platform for all industry professionals to
              see the latest trends in technology, heavy machinery, equipment, innovations and quality services for the
              industry.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/conexpolatinamerica"
              target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>January 29 - February 1, 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/pavement-expo-logo.png" alt="National Pavement Expo Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://www.nationalpavementexpo.com" target="_blank">National Pavement Expo
              -
              Nashville, TN</a>
            <p class="mt-2">The National Pavement Expo brings vendors and contractors together who make their living
              from asphalt and concrete paving, sealcoating, striping, sweeping, crack repair, pavement repair, and snow
              removal to network with other paving professionals, attend industry workshops, and learn new ideas at the
              leadership boot camp.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/PavementExpo" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/PavementExpo" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>February 2 - 5, 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/napa-logo.png" alt="National Asphalt Pavement Association Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link"
              href="https://www.asphaltpavement.org/index.php?option=com_content&view=article&id=195&Itemid=322"
              target="_blank">NAPA Annual Meeting - Grand Wailea, Maui, Hawaii</a>
            <p class="mt-2">The NAPA 2020 Annual Meeting is a roadmap to the latest engineering research results,
              enterprising business strategies, and industry knowledge for industry professionals to reach its goals.
              General Sessions and workshops set attendees on course by providing superior quality pavements, to meet
              new customer demands, and to gain valuable business insights. Combined with invaluable industry
              networking, NAPA’s Annual Meeting is where the industry gathers to set its future.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/AsphaltPavement" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/NAPATweets" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>February 4 - 7, 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/woc-logo.png" alt="World of Concrete Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://www.worldofconcrete.com/en/attendee.html" target="_blank">World of
              Concrete - Las Vegas, NV</a>
            <p class="mt-2">WOC was introduced to the commercial construction industry in Houston, Texas in 1975, and
              boasts more than 1,500 exhibiting companies and 58,000 registered industry professionals in more than
              745,000 net square feet of exhibit space.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/worldofconcreteshow"
              target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/WorldofConcrete" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>June 23 - 25, 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/hillhead-logo.png" alt="Hillhead Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://www.hillhead.com" target="_blank">Hillhead - Buxton, UK</a>
            <p class="mt-2">Held in a limestone quarry in the heart of the Derbyshire countryside, Hillhead is the
              largest exhibition of its kind anywhere in the world. Continually adapting, it provides a spectacular and
              unique setting for exhibitors and visitors alike to do business amongst live working demonstrations and
              static displays.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/HillheadShow" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/hillheadshow" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>November 3-6 2020</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/bauma-india-logo.png" alt="Bauma Con-Expo India Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://www.bcindia.com" target="_blank">Bauma CONEXPO INDIA - New Delhi,
              India</a>
            <p class="mt-2">Bauma CONEXPO INDIA is presented by two of the most successful international trade-fair
              organizers: Messe München, organizer of bauma, and the Association of Equipment Manufacturers, organizer
              of CONEXPO-CON/AGG. In a very short time, their combined expertise has made bauma CONEXPO INDIA a must
              attend event for the international construction machinery industry.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/baumaCONEXPOINDIA"
              target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/baumaCONEXPOIND" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>October 13-16 2021</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/bauma-africa-logo.png" alt="Bauma Con-Expo Africa Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://www.bcafrica.com/index.html" target="_blank">Bauma CONEXPO AFRICA -
              Johannesburg, South Africa</a>
            <p class="mt-2">Bauma CONEXPO AFRICA—the International Trade Fair for construction machinery, building
              material machines, mining machines and construction vehicles—provides the construction and mining industry
              in Africa with a professional platform for networking, investment and the exchange of ideas and
              information. The show launched in 2013 has established itself as the most important event for the sector
              in Africa.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/baumaCONEXPOAFRICA/?fref=ts"
              target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/BCAFRICA2018" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

      <hr class="mb-5">

      <div class="mb-5">
        <h3>April 4-10, 2022</h3>
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            <img class="img-fluid" src="../img/bauma-logo.png" alt="Bauma Logo">
          </div>
          <div class="col-md-10">
            <a class="tradeshow-link" href="https://www.bauma.de/index-2.html" target="_blank">Bauma - Munich,
              Germany</a>
            <p class="mt-2">The World's Leading Trade Fair for Construction Machinery, Building Material and Mining
              Machines, Construction Vehicles and Equipment. Record-breaking numbers in 2019: 614,000 square meters,
              3,700 exhibitors and 620,000 visitors.</p>
            <a class="link text-dark tradeshow-social" href="https://www.facebook.com/baumaOfficial" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="link text-dark tradeshow-social" href="https://twitter.com/baumaOfficial" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>

    </div><!-- /tradeshow-items -->

  </div><!-- /container -->
</section>
<!-- /tradeshow Section -->


<% include ./partials/footer %>