<% include ./partials/header %>
  
  <!-- training section -->
  <section id="training" class="d-flex">
    <div class="container my-auto text-center">
      
      <div class="row">
        <div class="col">
          <div class="buildingImage mb-3 mb-md-5"></div>
          <p class="mb-0">We welcome individuals to our <a class="standard-link" href="/products/contactCorporate">facility</a> in New York for training, free of charge.</p>
          <p class="mb-0">Please call toll-free <a class="standard-link" href="tel:+18007243606">1-800-724-6306</a> to arrange dates and for any additional training information.</p>
          <hr>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <a href="https://www.youtube.com/playlist?list=PLICqvSHKaFbKx9ldJyIhKRFCIQbCVCSAI" class="youtubeLink" role="button" aria-disabled="true" target="blank">Be sure to check out our <i class="fab fa-youtube"></i> YouTube training videos</a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /training section -->
  
<% include ./partials/footer %>