<% include ./partials/header %>

  <!--Used Gauges Section -->
  <section id="usedGauges">
    <div class="container text-center text-md-left">
      <h2>Used Non-Nuclear Density Gauges</h2>
      <hr>
      <p class="mb-5">Contact our <a class="link" href="./salesRequest">sales department</a> for more information.</p>

      <section class="listing">
        <h3>PQI 380 - Serial# 0231</h3>
        <hr class="divider">
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-1.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-1.jpg"></a>
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-2.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-2.jpg"></a>
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-3.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-3.jpg"></a>
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-4.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-4.jpg"></a>
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-5.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-5.jpg"></a>
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-6.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-6.jpg"></a>

        <h4>Description:</h4>
        <p>Used PQI 380 non-nuclear asphalt density gauge. Comes with hard shell case, extension handle, one wall charger & one truck charger and calibration certificate.</p>

        <h4>Condition: <span class="fair">Fair</span></h4>

        <h4>Warranty:</h4>
        <p>90 days from date of purchase.</p>

        <h4>Price (excluding S&H):</h4>
        <p>$7,200.00</p>
      </section>

      <section class="listing">
        <h3>PQI 380 - Serial# 2755</h3>
        <hr class="divider">
        <a data-lightbox="2755" href="../img/usedGauges/PQI2755/2755-1.jpg"><img class="thumb" src="../img/usedGauges/PQI2755/2755-1.jpg"></a>
        <a data-lightbox="2755" href="../img/usedGauges/PQI2755/2755-2.jpg"><img class="thumb" src="../img/usedGauges/PQI2755/2755-2.jpg"></a>
        <a data-lightbox="2755" href="../img/usedGauges/PQI2755/2755-3.jpg"><img class="thumb" src="../img/usedGauges/PQI2755/2755-3.jpg"></a>
        <a data-lightbox="2755" href="../img/usedGauges/PQI2755/2755-4.jpg"><img class="thumb" src="../img/usedGauges/PQI2755/2755-4.jpg"></a>
        <a data-lightbox="2755" href="../img/usedGauges/PQI2755/2755-5.jpg"><img class="thumb" src="../img/usedGauges/PQI2755/2755-5.jpg"></a>
        <a data-lightbox="2755" href="../img/usedGauges/PQI2755/2755-6.jpg"><img class="thumb" src="../img/usedGauges/PQI2755/2755-6.jpg"></a>

        <h4>Description:</h4>
        <p>Used PQI 380 non-nuclear asphalt density gauge. Comes with hard shell case, extension handle, one wall charger & one truck charger and calibration certificate.</p>

        <h4>Condition: <span class="good">Good</span></h4>

        <h4>Warranty:</h4>
        <p>90 days from date of purchase.</p>

        <h4>Price (excluding S&H):</h4>
        <p>$8,200.00</p>
      </section>

      <section class="listing">
        <h3>PQI 380 - Serial# 0835</h3>
        <hr class="divider">
        <a data-lightbox="0835" href="../img/usedGauges/PQI0835/0835-1.jpg"><img class="thumb" src="../img/usedGauges/PQI0835/0835-1.jpg"></a>
        <a data-lightbox="0835" href="../img/usedGauges/PQI0835/0835-2.jpg"><img class="thumb" src="../img/usedGauges/PQI0835/0835-2.jpg"></a>
        <a data-lightbox="0835" href="../img/usedGauges/PQI0835/0835-3.jpg"><img class="thumb" src="../img/usedGauges/PQI0835/0835-3.jpg"></a>
        <a data-lightbox="0835" href="../img/usedGauges/PQI0835/0835-4.jpg"><img class="thumb" src="../img/usedGauges/PQI0835/0835-4.jpg"></a>
        <a data-lightbox="0835" href="../img/usedGauges/PQI0835/0835-5.jpg"><img class="thumb" src="../img/usedGauges/PQI0835/0835-5.jpg"></a>
        <a data-lightbox="0835" href="../img/usedGauges/PQI0835/0835-6.jpg"><img class="thumb" src="../img/usedGauges/PQI0835/0835-6.jpg"></a>

        <h4>Description:</h4>
        <p>Used PQI 380 non-nuclear asphalt density gauge. Comes with hard shell case, extension handle, one wall charger & one truck charger and calibration certificate.</p>

        <h4>Condition: <span class="good">Good</span></h4>

        <h4>Warranty:</h4>
        <p>90 days from date of purchase.</p>

        <h4>Price (excluding S&H):</h4>
        <p>$8,200.00</p>
      </section>

      <section class="listing">
        <h3>PQI 380 - Serial# 1085</h3>
        <hr class="divider">
        <a data-lightbox="1085" href="../img/usedGauges/PQI1085/1085-1.jpg"><img class="thumb" src="../img/usedGauges/PQI1085/1085-1.jpg"></a>
        <a data-lightbox="1085" href="../img/usedGauges/PQI1085/1085-2.jpg"><img class="thumb" src="../img/usedGauges/PQI1085/1085-2.jpg"></a>
        <a data-lightbox="1085" href="../img/usedGauges/PQI1085/1085-3.jpg"><img class="thumb" src="../img/usedGauges/PQI1085/1085-3.jpg"></a>
        <a data-lightbox="1085" href="../img/usedGauges/PQI1085/1085-4.jpg"><img class="thumb" src="../img/usedGauges/PQI1085/1085-4.jpg"></a>
        <a data-lightbox="1085" href="../img/usedGauges/PQI1085/1085-5.jpg"><img class="thumb" src="../img/usedGauges/PQI1085/1085-5.jpg"></a>
        <a data-lightbox="1085" href="../img/usedGauges/PQI1085/1085-6.jpg"><img class="thumb" src="../img/usedGauges/PQI1085/1085-6.jpg"></a>

        <h4>Description:</h4>
        <p>Used PQI 380 non-nuclear asphalt density gauge. Comes with hard shell case, extension handle, one wall charger & one truck charger and calibration certificate.</p>

        <h4>Condition: <span class="fair">Fair</span></h4>

        <h4>Warranty:</h4>
        <p>90 days from date of purchase.</p>

        <h4>Price (excluding S&H):</h4>
        <p>$7,500.00</p>
      </section>

      <section class="listing">
        <h3>PQI 380 - Serial# 9002</h3>
        <hr class="divider">
        <a data-lightbox="9002" href="../img/usedGauges/PQI9002/9002-1.jpg"><img class="thumb" src="../img/usedGauges/PQI9002/9002-1.jpg"></a>
        <a data-lightbox="9002" href="../img/usedGauges/PQI9002/9002-2.jpg"><img class="thumb" src="../img/usedGauges/PQI9002/9002-2.jpg"></a>
        <a data-lightbox="9002" href="../img/usedGauges/PQI9002/9002-3.jpg"><img class="thumb" src="../img/usedGauges/PQI9002/9002-3.jpg"></a>
        <a data-lightbox="9002" href="../img/usedGauges/PQI9002/9002-4.jpg"><img class="thumb" src="../img/usedGauges/PQI9002/9002-4.jpg"></a>
        <a data-lightbox="9002" href="../img/usedGauges/PQI9002/9002-5.jpg"><img class="thumb" src="../img/usedGauges/PQI9002/9002-5.jpg"></a>
        <a data-lightbox="9002" href="../img/usedGauges/PQI9002/9002-6.jpg"><img class="thumb" src="../img/usedGauges/PQI9002/9002-6.jpg"></a>

        <h4>Description:</h4>
        <p>Used PQI 380 non-nuclear asphalt density gauge. Comes with hard shell case, extension handle, one wall charger & one truck charger and calibration certificate.</p>

        <h4>Condition: <span class="good">Good</span></h4>

        <h4>Warranty:</h4>
        <p>90 days from date of purchase.</p>

        <h4>Price (excluding S&H):</h4>
        <p>$7,800.00</p>
      </section>

    </div><!-- /container -->
  </section>
  <!-- /Used Gauges Section -->

  <% include ./partials/footer %>