<% include ./partials/header %>

<!--Used Gauges Section -->
<section id="usedGauges">
  <div class="container text-center text-md-left">
    <h2>Used PQI 380 &amp; SDG 200 Gauges</h2>
    <hr>
    <p class="mb-5">Contact our sales department for pricing and more information.</p>

    <section class="listing">
      <h3>PQI 380 - Serial# 0802</h3>
      <hr class="divider">
      <a data-lightbox="0802" href="../img/usedGauges/PQI0082/0802-1.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0802-1.jpg"></a>
      <a data-lightbox="0802" href="../img/usedGauges/PQI0082/0802-2.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0802-2.jpg"></a>
      <a data-lightbox="0802" href="../img/usedGauges/PQI0082/0802-3.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0802-3.jpg"></a>
      <a data-lightbox="0802" href="../img/usedGauges/PQI0082/0802-4.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0802-4.jpg"></a>
      <a data-lightbox="0802" href="../img/usedGauges/PQI0082/0802-5.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0802-5.jpg"></a>
    </section>

    <section class="listing">
      <h3>PQI 380 - Serial# 0802</h3>
      <hr class="divider">
      <a data-lightbox="0802" href="../img/usedGauges/PQI0082/0802-1.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0802-1.jpg"></a>
      <a data-lightbox="0802" href="../img/usedGauges/PQI0082/0802-2.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0802-2.jpg"></a>
      <a data-lightbox="0802" href="../img/usedGauges/PQI0082/0802-3.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0802-3.jpg"></a>
      <a data-lightbox="0802" href="../img/usedGauges/PQI0082/0802-4.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0802-4.jpg"></a>
      <a data-lightbox="0802" href="../img/usedGauges/PQI0082/0802-5.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0802-5.jpg"></a>
    </section>

  </div><!-- /container -->
</section>
<!-- /Used Gauges Section -->

<% include ./partials/footer %>