<% include ./partials/header %>

  <!--Used Gauges Section -->
  <section id="usedGauges">
    <div class="container text-center text-md-left">
      <h2>Used PQI 380 &amp; SDG 200 Gauges</h2>
      <hr>
      <p class="mb-5">Contact our <a class="link" href="./salesRequest">sales department</a> for more information.</p>

      <section class="listing">
        <h3>PQI 380 - Serial# 0802 - $8,500.00</h3>
        <hr class="divider">
        <a data-lightbox="0082" href="../img/usedGauges/PQI0082/0082-1.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0082-1.jpg"></a>
        <a data-lightbox="0082" href="../img/usedGauges/PQI0082/0082-2.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0082-2.jpg"></a>
        <a data-lightbox="0082" href="../img/usedGauges/PQI0082/0082-3.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0082-3.jpg"></a>
        <a data-lightbox="0082" href="../img/usedGauges/PQI0082/0082-4.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0082-4.jpg"></a>
        <a data-lightbox="0082" href="../img/usedGauges/PQI0082/0082-5.jpg"><img class="thumb" src="../img/usedGauges/PQI0082/0082-5.jpg"></a>

        <h4>Description:</h4>
        <p>This is a used PQI 380 non-nuclear asphalt density gauge with all of the accessories.</p>

        <h4>Warranty:</h4>
        <p>90 day warranty from date of purchase.</p>
      </section>

      <section class="listing">
        <h3>PQI 380 - Serial# 0231 - $8,250.00</h3>
        <hr class="divider">
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-1.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-1.jpg"></a>
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-2.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-2.jpg"></a>
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-3.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-3.jpg"></a>
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-4.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-4.jpg"></a>
        <a data-lightbox="0231" href="../img/usedGauges/PQI0231/0231-5.jpg"><img class="thumb" src="../img/usedGauges/PQI0231/0231-5.jpg"></a>

        <h4>Description:</h4>
        <p>This is a used PQI 380 non-nuclear asphalt density gauge with all of the accessories.</p>

        <h4>Warranty:</h4>
        <p>90 day warranty from date of purchase.</p>
      </section>

      <section class="listing">
        <h3>PQI 380 - Serial# 0310 - $7,950.00</h3>
        <hr class="divider">
        <a data-lightbox="0310" href="../img/usedGauges/PQI0310/0310-1.jpg"><img class="thumb" src="../img/usedGauges/PQI0310/0310-1.jpg"></a>
        <a data-lightbox="0310" href="../img/usedGauges/PQI0310/0310-2.jpg"><img class="thumb" src="../img/usedGauges/PQI0310/0310-2.jpg"></a>
        <a data-lightbox="0310" href="../img/usedGauges/PQI0310/0310-3.jpg"><img class="thumb" src="../img/usedGauges/PQI0310/0310-3.jpg"></a>
        <a data-lightbox="0310" href="../img/usedGauges/PQI0310/0310-4.jpg"><img class="thumb" src="../img/usedGauges/PQI0310/0310-4.jpg"></a>
        <a data-lightbox="0310" href="../img/usedGauges/PQI0310/0310-5.jpg"><img class="thumb" src="../img/usedGauges/PQI0310/0310-5.jpg"></a>

        <h4>Description:</h4>
        <p>This is a used PQI 380 non-nuclear asphalt density gauge with all of the accessories.</p>

        <h4>Warranty:</h4>
        <p>90 day warranty from date of purchase.</p>
      </section>

      <section class="listing">
        <h3>PQI 380 - Serial# 0610 - $8,500.00</h3>
        <hr class="divider">
        <a data-lightbox="0610" href="../img/usedGauges/PQI0610/0610-1.jpg"><img class="thumb" src="../img/usedGauges/PQI0610/0610-1.jpg"></a>
        <a data-lightbox="0610" href="../img/usedGauges/PQI0610/0610-2.jpg"><img class="thumb" src="../img/usedGauges/PQI0610/0610-2.jpg"></a>
        <a data-lightbox="0610" href="../img/usedGauges/PQI0610/0610-3.jpg"><img class="thumb" src="../img/usedGauges/PQI0610/0610-3.jpg"></a>
        <a data-lightbox="0610" href="../img/usedGauges/PQI0610/0610-4.jpg"><img class="thumb" src="../img/usedGauges/PQI0610/0610-4.jpg"></a>
        <a data-lightbox="0610" href="../img/usedGauges/PQI0610/0610-5.jpg"><img class="thumb" src="../img/usedGauges/PQI0610/0610-5.jpg"></a>

        <h4>Description:</h4>
        <p>This is a used PQI 380 non-nuclear asphalt density gauge with all of the accessories.</p>

        <h4>Warranty:</h4>
        <p>90 day warranty from date of purchase.</p>
      </section>

    </div><!-- /container -->
  </section>
  <!-- /Used Gauges Section -->

  <% include ./partials/footer %>