@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

$white: #f7f7f7;
$dark: #202329;
$logo-yellow: #FFDE00;
$light-gray: #dbdbdb;
$gray: #727272;
$dark-gray: #303030;
$extreme-dark-gray: #191919;
$dark-opacity: rgba($dark, .95);
$dark-blue: #152235;
$sdgGreen: #27b278;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.navbar {
  z-index: 1000;
  transition: background-color .2s ease-in-out;

  &.active {
    background-color: rgba(0, 0, 0, .8);
  }

  .logo {
    width: 175px;
  }

  .navbar-nav {
    .nav-item {
      margin-right: 20px;
      font-size: 1.2rem;

      &:last-child {
        margin-right: 0;
      }

      .nav-link {
        color: #fff;
        transition: .2s ease-in-out;

        &:hover {
          color: $logo-yellow;
        }
      }
    }
  }
}

// header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 1000;
//   padding: 2em 3em;

//   .logo {
//     width: 200px;
//   }

//   nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     .nav-links ul {
//       display: flex;
//       flex-direction: row;
//       list-style: none;
//       margin: 0;

//       li {
//         display: inline-block;
//         position: relative;
//         padding: 12px 20px;

//         &:hover::after {
//           width: 100%;
//         }

//         &:last-child::after {
//           background: transparent;
//         }

//         &::after {
//           content: '';
//           width: 0%;
//           height: 2px;
//           background: $logo-yellow;
//           display: block;
//           margin: auto;
//           transition: .5s;
//         }

//         a {
//           color: #fff;
//           text-decoration: none;
//           font-size: 17px;
//         }
//       }
//     }
//   }
// }

.ttsBtn {
  border: 1px solid #FDDC00;
  color: #FDDC00;
  padding: 5px 10px;
  border-radius: 5px;
  transition: .2s;

  &:hover {
    background: #FDDC00;
    color: #191919;
  }
}

#hero {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 100px 2em;
  background: #000 url(../img/mikeHomepage.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;


  .hero-content {
    position: relative;
    z-index: 10;

    h1 {
      font-size: 3.8rem;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.64);
    }

    p {
      font-size: 2rem;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.64);
    }
  }
}

#hero::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #17404e;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#about {
  min-height: 100vh;
  background: $extreme-dark-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 2em;

  .content {
    max-width: 1200px;

    h2 {
      color: #F8F9FA;
      font-family: 'Alfa Slab One', sans-serif;
      padding: 2.5em 0 .5em 0;
      font-size: 2.25rem;
    }

    hr {
      border: none;
      height: 1px;
      width: 100%;
      background: #F8F9FA;
      margin-bottom: 2.5em;
    }

    p {
      color: #F8F9FA;
      font-size: 1.5rem;
      line-height: 1.9;
    }
  }
}

#history {
  min-height: 100vh;
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 2em;

  .content {
    max-width: 1200px;

    h2 {
      color: $extreme-dark-gray;
      font-family: 'Alfa Slab One', sans-serif;
      padding: 2.5em 0 .5em 0;
      font-size: 2.25rem;
      margin-bottom: 1.5em;
    }

    .timeline {
      position: relative;

      &::before {
        content: '';
        background: $extreme-dark-gray;
        width: 5px;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .timeline-item {
      width: 100%;
      margin-bottom: 70px;

      &:nth-child(even) {
        .timeline-content {
          float: right;
          padding: 40px 30px 10px 30px;

          .date {
            right: auto;
            left: 0;
          }

          &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent $extreme-dark-gray transparent transparent;
          }
        }
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .timeline-content {
      position: relative;
      width: 45%;
      padding: 10px 30px;
      border-radius: 4px;
      background: $extreme-dark-gray;
      box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        right: -15px;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent $extreme-dark-gray;
      }
    }

    .timeline-img {
      width: 30px;
      height: 30px;
      background: $logo-yellow;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      margin-top: 25px;
      margin-left: -15px;
    }

    .timeline-card {
      padding: 0 !important;

      .text {
        padding: 0 .5em;
      }

      .title {
        font-size: 1.5rem;
        color: $logo-yellow;
        padding: 1em 0 .5em 0;
        margin-bottom: 0;
      }

      p {
        padding: 0 20px 25px 20px;
        margin-bottom: 0;
        color: #fff;
      }
    }

    .timeline-item {
      .timeline-img-header {
        height: 275px;
        position: relative;

        img {
          width: 100%;
          height: 275px;
          object-fit: cover;
        }
      }
    }

    .date {
      background: $logo-yellow;
      display: inline-block;
      color: #000;
      padding: 10px;
      position: absolute;
      top: 0;
      right: 0;
    }

    @media screen and (max-width: 768px) {
      .timeline {
        &::before {
          left: 50px;
        }

        .timeline-img {
          left: 50px;
        }

        .timeline-content {
          max-width: 100%;
          width: auto;
          margin-left: 70px;
        }

        .timeline-item {
          &:nth-child(even) {
            .timeline-content {
              float: none;
            }
          }

          &:nth-child(odd) {
            .timeline-content {
              &::after {
                content: '';
                position: absolute;
                border-style: solid;
                width: 0;
                height: 0;
                top: 30px;
                left: -15px;
                border-width: 10px 15px 10px 0;
                border-color: transparent #f5f5f5 transparent transparent;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  font-weight: 300;
  background-color: $extreme-dark-gray;

  .social a {
    position: relative;
    display: inline-block;
    top: 0;
    text-decoration: none;
    margin-right: 2px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .facebook {
    color: #3c5a99;
  }

  .facebook:hover {
    top: -3px;
    color: #fff;
  }

  .twitter {
    color: #1da1f2;
  }

  .twitter:hover {
    top: -3px;
    color: #fff;
  }

  .instagram {
    color: #d6249f;
  }

  .instagram:hover {
    top: -3px;
    color: #fff;
  }

  .youtube {
    color: #ff0000;
  }

  .youtube:hover {
    top: -3px;
    color: #fff;
  }

  .vimeo {
    color: #1ab7ea;
  }

  .vimeo:hover {
    top: -3px;
    color: #fff;
  }

  .linked {
    color: #0077b5;
  }

  .linked:hover {
    top: -3px;
    color: #fff;
  }

  .snapchat {
    color: #fffc00;
  }

  .snapchat:hover {
    top: -3px;
    color: #fff;
  }

  @media (max-width: 450px) {
    .social a {
      font-size: 1.75rem;
    }
  }

  .info-link {
    color: #fff;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(236, 188, 29);
    padding: 0.25em 0.5em;

    &:hover {
      border: 1px solid rgb(236, 188, 29);
      text-decoration: none;
    }
  }

  @media (max-width: 767px) {
    .info-link {
      padding: 0.5em 0.75em;
      color: #fff;
      border: 1px solid rgb(236, 188, 29);
      margin: 0.45em 0;

      &:hover {
        color: rgb(236, 188, 29);
      }
    }
  }

  .footer-link {
    color: #fff;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
      color: rgb(236, 188, 29);
    }
  }
}

@media (max-width: 1201px) {
  .navbar {
    background-color: rgba(0, 0, 0, .8);
  }

  #hero {
    .hero-content {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  #about {
    .content {
      h2 {
        padding: 2.5em 0 .5em 0;
        font-size: 2rem;
      }

      hr {
        margin-bottom: 1.5em;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.5;
      }
    }
  }

  #history {
    .content {
      h2 {
        padding: 2.5em 0 .5em 0;
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.5;
      }
    }
  }

  // header {
  //   nav {
  //     .nav-links {
  //       position: absolute;
  //       background: rgba(0, 0, 0, 0.8);
  //       height: 100vh;
  //       width: 250px;
  //       top: 0;
  //       right: 0;

  //       ul {
  //         flex-direction: column;

  //         li {
  //           a {
  //             color: #fff;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}